/* Additional Styling */

html, body, h1, td, textarea, input {
	font-family: 'Open Sans', sans-serif !important;
}

body .content-root {
	background: none !important;
	box-shadow: none !important;
}

.header {
	height: 50px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.header .left {
	float: none;
	max-width: 1170px;
	margin: auto;
}

.header-subnav-wrapper {
	background: #f3f6fb;
	border-bottom: solid 1px #dfe2e7;
	margin-top: 50px;
}

.header-subnav {
	max-width: 1170px;
	margin: auto;
	border-bottom: none !important;
	position: fixed !important;
	width: 100%;
	margin-top: 51px;
}

.content-root {
	max-width: 1024px;
	margin: auto;
	margin-top: 50px;
	padding-top: 10px;
}

.content img {
    width: 100%;
}

.draft-comment {background: #faa; border: 1px solid #d88; padding: 2px;}

td {border: 1px solid #DBDDE2 !important; padding: .2em;}
table { border-collapse: collapse; clear: left; }
th { padding: .2em; font-weight: bold; }

body .content-root {
    background-color: #F3F6FB;
    box-shadow: 930px 0 #FFFFFF inset, 931px 0 #DFE2E7 inset, 940px 0 5px -10px rgba(0, 0, 0, 0.1) inset;
}

.content h2, .menu a.level-2 {
    text-transform: none !important;
}

/* Second-level navigation */
.header-subnav {
  background: #f3f6fb;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  border-bottom: solid 1px #dfe2e7;
  position: relative;
}

.header-subnav li a {
    float: left;
    padding: 10px 15px;
}

.header-subnav li a:hover {
    background: #3a3a44;
    color: white;
}

.header-subnav li a.active {
    background: rgba(202, 214, 234, 1);
}

.clearer {
    clear:both;
    font-size: 0;
}

/* code samples scrolling */
.code_sample code { max-height: 14em; overflow: auto;}
.code_sample code.expanded,
.code_sample .hljs.expanded {
    max-height: none;
    width: 100%;
}

.code_sample { position: relative; }
.code_sample .code_toggler { position: absolute; bottom: 0; right: 0; }

.content code { color: #111; }

/* code tabs css */
.multicode {
	color: #000;
	border-bottom: 1px solid #DBDDE2;
	margin: 12px 0px 0px 0px;
	padding: 0 0 0 0;
	z-index: 1;
	padding-left: 10px;
}
	
.multicode ul {
    padding-bottom: 0;
}

.multicode pre {
    padding-top: 0;
}

.multicode li {
	display: inline;
	overflow: hidden;
	list-style-type: none;
}

.multicode ul > li:before {
    background: none;
    border: none;
}

.multicode a, a.current {
	color: black;
	background: #DFE2E7;
	border: 1px solid #DBDDE2;
	padding: 1em 1em 0 1em;
	margin: 0px;
	text-decoration: none; }

.multicode a.current {
	background: #fff;
	border-bottom: 1px solid #fff; 
    color : black;
}

.multicode a:hover {
	color: black;
	background: white; 
}


.multicode a.current:hover {}

.content h4, body:not(.big-h3) .content h3 {
/* Fix for anchor links hiding under fixed header */
    padding-top: 80px;
    margin-top: -50px;
}

/* Undo some of bootstrap's code styling that clashes */
.content pre code {
    white-space: pre;
}

.content pre {
    background: none;
}

@media (max-width: 990px) {
	.navbar .container {
	    width: 100% !important;
	}
}
/* end bootstrap code styling fix */

/* redo some of flatdoc's styling */

.content i, .content em {
    color: #303044;
}

.content h4, .content h3 {
    color: #303044 !important;
    font-family: montserrat;
}

.content h4 {
    font-size: 14pt;
}

.content h3 {
    font-size: 13pt;
}

/* end flatdoc styling fix */

.menubar {
	padding-top: 10px;
}

.menubar.fixed {
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 0;
}

.menubar.fixed.leaveroomforfooter {
	margin-bottom: 183px;
}

.tableofcontents {
    z-index: 0;
}

.tableofcontents .level-1 {
    margin: 10px 0 3px 0; 
    text-transform: uppercase;
}
    
.tableofcontents .level-1 a {
    color: #000;
    font-weight: bold;
}
    
.tableofcontents .level-2 {
    margin-left: 2em;
}
    
.tableofcontents .level-3 {
    margin-left: 4em;
}
    
.tableofcontents .level-3 a {
    color: #999;
}
        
.tableofcontents .level-3 a:hover {
    color: #666;
}



.header-subnav li a:active {
color: #f09 !important;
}

.content a[title="Source"] {
    float:right;
}

#selected_command a:hover {
    text-decoration: underline;
}

/* Brand Guidelines */

.brand_guidelines .content-root {
	padding: 0 !important;
}


@media (min-width: 860px) {
	
	body, td, textarea, input {
	    font-size: 13pt;
	}
	.content {
	    font-size: 13pt;
	    max-width: 900px;
	}
	
	.no-literate .content-root {
	    max-width: 1094px;
	    padding-left: 300px;
	}
	
	.menubar {
	    width: 300px;
	}
	
	.menubar.fixed {
	    right: 794px;
	    width: 294px;
	}
}

@media (max-width: 480px) {
	body {
		overflow-x: hidden;
	}
	
	.header-subnav ul {
		margin: auto;
		max-width: 480px;
	}
	
	.header-subnav li {
		width: 350px;
	}
	
	.header-subnav li a {
		padding: 10px 5px !important;
		font-size: .8em;
	}
	
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
		max-width: 300px;
		margin: auto;
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		position: relative;
		padding-left: 50%; 
	}
	
	#command_wrapper {
	    display: block !important;
	}
	
	#command_wrapper #command_list {
	    display: block;
	}
	
	#online_state {
	    top: 50px !important;
	}
	
}

/************
  print css
*********** */

@media print {

    /* undo code tabs */
    .multicode > div {
        display: block !important;
    }
    .multicode > ul {
        display: none !important;
    }
    .multicode > em, .multicode > p > em {
        display: block !important;
        page-break-after: avoid;
    }
    .multicode > p {
        display: block !important;
    }
    /* wrap code, not scroll */
    .content pre code {
        white-space: pre-wrap;
    }
    code { 
        max-height: none !important; 
        overflow: visible;
        page-break-inside: auto;
    }
    
    /* Source URLs are too big to float */
    .content a[title="Source"] {
        float:none;
    }
    
    /* Drop header, footer, google translate */
    header, footer {
       display: none;
    }
    #goog-gt-tt {
        display: none;
    }
    
    /* table of contents can't scroll */
    .dev_nav_wrapper, .menubar {
        display: block !important;
        overflow-y: visible !important;
        position: static !important;
        width: 100%;
        page-break-after: always;
    }
    
    /* crazy print-section-numbering idea */
    body {
        counter-reset: level1;
    }
    h1 {
        counter-reset: level2;
        page-break-before: always;
    }
    .content :first-child {
        page-break-before: avoid;
    }
    h1:before {
        counter-increment: level1;
        content: counters(level1,".") ". " !important;
        display: inline !important;
        background: none !important; 
        position: static !important;
        box-shadow: none !important;
        visibility: visible !important;
    }
    h2 {
        counter-reset: level3;
    }
    h2:before {
        counter-increment: level2;
        content: counters(level1,".") "." counters(level2,".") ". " !important;
        display: inline !important;
        background: none !important; 
        position: static !important;
        box-shadow: none !important;
        visibility: visible !important;
    }
    h3:before {
        counter-increment: level3;
        content: counters(level1,".") "." counters(level2,".") "." counters(level3,".") ". " !important;
        display: inline !important;
        background: none !important; 
        position: static !important;
        box-shadow: none !important;
        visibility: visible !important;
    }
    
    .menubar, .dev_nav_wrapper {
        counter-reset: toclevel1;
    }
    a.level-1 {
        counter-reset: toclevel2;
    }
    a.level-1:before {
        counter-increment: toclevel1;
        content: counters(toclevel1,".") ". " !important;
        display: inline !important;
        background: none !important; 
        position: static !important;
        box-shadow: none !important;
    }
    a.level-2 {
        counter-reset: toclevel3;
    }
    a.level-2:before {
        counter-increment: toclevel2;
        content: counters(toclevel1,".") "." counters(toclevel2,".") ". " !important;
        display: inline !important;
        background: none !important; 
        position: static !important;
        box-shadow: none !important;
    }
    a.level-3:before {
        counter-increment: toclevel3;
        content: counters(toclevel1,".") "." counters(toclevel2,".") "." counters(toclevel3,".") ". " !important;
        display: inline !important;
        background: none !important; 
        position: static !important;
        box-shadow: none !important;
    }
    
    
}



/************
  api tool(s)
*********** */

body #online_state {
    position: absolute;
    right: 50px;
    top: 70px;
}


/************
  	nav
*********** */

.navbar-inverse {
	background-color: #346AA9;
	border-color: #346AA9;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #346AA9;
}

.navbar-collapse {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-brand {
	padding: 8px 10px 10px 10px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #4a7ab3 !important;
}

.navbar-inverse .navbar-toggle {
	border-color: #346AA9;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #4a7ab3;
}

.right {
	float: right;
	margin-top: 15px;
}

.nav>li {
	font-size: 14px;
}

@media (max-width: 720px) {

	.right {
		float: left;
		margin-top: 0px;
	}

}

/************
  footer
*********** */
.footer {
	width: 100%;
	background-color: #f5f5f5;
	margin-top:20px;
	color: #878787;
	padding-bottom: 20px;
	z-index: 2;
}

.container .text-muted {
	margin: 20px 0;
}

ul.footer_links {
	list-style: none;
	padding: 10px 0 0 0;
	font-size: 14px;
}

ul.footer_links a {
	color: #878787;
}

ul.footer_links a:hover {
	text-decoration: underline;
}

.footer h4 {
    font-weight: bold;
}

/************
Mail chimp
*********** */
input#mce-EMAIL {
	height: 34px !important;
	border: 1px solid #ccc !important;
}

#mc_embed_signup input.email {
	width: 38% !important;
	display: inline-block !important;
	margin-right: 2% !important;
}

#mc_embed_signup input.button {
	display: inline-block !important;
	height: 34px !important;
	width: 26% !important;
	font-weight: 400 !important;
}

input#mc-embedded-subscribe {
	background-color: #346AA9 !important;
	vertical-align: bottom !important;
}

#mc_embed_signup form {
	padding: 0 !important;
}

.mail_chimp p {
	margin-bottom: 10px;
	font-size: 14px;
}

/************
consensus whitepaper
*********** */

.download_consensus {
	font-size: 24px;
	text-align: center;
	padding: 5px;
}
