.draft-comment {background: #faa; border: 1px solid #d88; padding: 2px;}

td {border: 1px solid #DBDDE2 !important; padding: .2em;}
table { border-collapse: collapse; clear: left; width: 550px}
th { padding: .2em; }

body .content-root {
    background-color: #F3F6FB;
    box-shadow: 930px 0 #FFFFFF inset, 931px 0 #DFE2E7 inset, 940px 0 5px -10px rgba(0, 0, 0, 0.1) inset;
}
code { max-height: 14em; overflow: auto;}
.expanded { max-height: none; overflow: none;}

.content h2, .menu a.level-2 {
    text-transform: none !important;
}

/* Second-level navigation */
.header-subnav {
  background: #f3f6fb;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  border-bottom: solid 1px #dfe2e7;
  position: relative;
}

.header-subnav li a {
    float: left;
    padding: 10px 15px;
}

.header-subnav li a:hover {
    background: #3a3a44;
    color: white;
}

.header-subnav li a.active {
    background: rgba(202, 214, 234, 1);
}

.clearer {
    clear:both;
    font-size: 0;
}

/* code tabs css */
.multicode {
	color: #000;
	border-bottom: 1px solid #DBDDE2;
	margin: 12px 0px 0px 0px;
	padding: 0 0 0 0;
	z-index: 1;
	padding-left: 10px;
}
	
.multicode ul {
    padding-bottom: 0;
}

.multicode pre {
    padding-top: 0;
}

.multicode li {
	display: inline;
	overflow: hidden;
	list-style-type: none;
}

.multicode ul > li:before {
    background: none;
    border: none;
}

.multicode a, a.current {
	color: black;
	background: #DFE2E7;
	border: 1px solid #DBDDE2;
	padding: 1em 1em 0 1em;
	margin: 0px;
	text-decoration: none; }

.multicode a.current {
	background: #fff;
	border-bottom: 1px solid #fff; 
    color : black;
}

.multicode a:hover {
	color: black;
	background: white; 
}


.multicode a.current:hover {}
