<ul class="tag-cloud list-inline">
{% for page in pages %}
  {% if page.landing_for is defined %}
      <li class="list-inline-item d-block d-lg-inline-block">
        <a class="label label-{{slug(page.landing_for)}}" href="{% if "//" not in page.html %}{{target.prefix}}{% endif %}{{page.html}}" title="{{page.blurb}}">
        {{page.name}}
          <span class="badge badge-pill">{{label_count(pages, page.landing_for)}}</span>
        </a>
      </li>
  {% endif %}
{% endfor %}
</ul>
