<div class="p-2 mt-30">
<form >
<p>Code Language</p>
<div>
<input type="checkbox" name="langs" id="langs_javascript" value="JavaScript" checked> <label for="langs_javascript">JavaScript</label>
</div>
<div>
<input type="checkbox" name="langs" id="langs_Python" value="Python"> <label for="langs_Python">Python</label>
</div>
<div>
<input type="checkbox" name="langs" id="langs_Java" value="Java" checked> <label for="langs_Java">Java</label>
</div>
<div>
<input type="checkbox" name="langs" id="langs_Websocket" value="Websocket"> <label for="langs_Websocket">HTTP/Websocket</label>
</div>
<div>
{# <input type="submit" name="submit" value="Submit"/> #}
</div>
</form>
</div>
<br><br>
