<!-- Feedback Widget -->
<script src="{{currentpage.prefix}}assets/vendor/custom-widget.js"></script>
<div id="feedback-content"></div>
<script>
  const widget = new EmbeddableWidget.default({
    theme: 'xrpl',
    opened: false,
    parentElement: '#feedback-content',
    currentPath: window.location.pathname,
    adapter: 'ga',
    app:'Feedback Widget',
    adapterConfig:{
      containerId:"GTM-THHW334",
      trackingId:"UA-45576805-2"
    }
  });
  setTimeout(() => {
    widget.open();
    // EmbeddableWidget.default.unmount();
  }, 2000);
</script>
