<footer class="xrpl-footer" role="contentinfo">
  <section class="container-fluid">
    <div class="row">
    {% for parent_page in (pages|first).children %}
        <div class="col-lg">
          <h5>{% if parent_page.top_nav_name is defined %}{{ parent_page.top_nav_name }}{% else %}{{parent_page.name}}{% endif %}</h5>
          <ul class="nav footer-nav flex-column">
            <li class="nav-item"><a href="{% if '//' not in parent_page.html %}{{currentpage.prefix}}{% endif %}{{parent_page.html}}" class="nav-link">{{parent_page.name}}</a></li>
          {% for page in parent_page.children %}
            <li class="nav-item"><a href="{% if '//' not in page.html %}{{currentpage.prefix}}{% endif %}{{page.html}}" class="nav-link{% if '//' in page.html %} external-link{% endif %}">{% if page.top_nav_name is defined %}{{page.top_nav_name}}{% else %}{{page.name}}{% endif %}</a></li>
          {% endfor %}
          </ul>
        </div><!--/.col -->

    {% endfor %}
  </section>

  <section class="container-fluid mt-20 absolute-bottom-footer">

    <div class="d-lg-flex row">
      <a href="{% if currentpage.prefix %}{{currentpage.prefix}}{% else %}/{% endif %}" class="footer-brand"><img src="{{currentpage.prefix}}assets/img/XRPLedger_DevPortal-white.svg" class="logo"  height="24" alt="{{target.display_name}}" /></a>
      <span class="flex-grow-1">&nbsp;</span>
      <div class="copyright-license">&copy; 2023 XRP Ledger. <a href="https://raw.githubusercontent.com/XRPLF/xrpl-dev-portal/master/LICENSE">{% trans %}Open Source.{% endtrans %}</a>
      </div>
    </div><!-- /.absolute_bottom_footer -->

  </section>
</footer>

<!-- Jump to top button -->
<a href="#main_content_wrapper" class="jump-to-top btn btn-primary" role="button" title="{% trans %}Jump to top of page{% endtrans %}"><i class="fa fa-arrow-up"></i></a>
<script type="text/javascript" src="{{currentpage.prefix}}assets/js/jump-to-top.js"></script>
