{% set lang_text = {
      "cli": "CLI",
      "go": "go",
      "java": "Java",
      "js": "JavaScript",
      "py": "Python",
      "http": "HTTP",
    } %}

<div class="p-2 mt-30">
    <form >
    <p>Code Language</p>
        <div>
            <input type="checkbox" name="langs" id="input_all" value="All" checked> <label for="input_all">All</label>
        </div>
        {% for lang in all_langs %}
    {# <input type="checkbox" name="langs" id="langs_javascript" value="JavaScript" checked> <label for="langs_javascript">{{langValue}}</label> #}
            <div>
                <input type="checkbox" name="langs" id="input_{{lang}}" value="{{lang_text[lang]}}"> <label for="input_{{lang}}">{{lang_text[lang]}}</label>
            </div>
        {% endfor %}

        <div>
            {# <input type="submit" name="submit" value="Submit"/> #}
        </div>
    </form>
</div>

<br><br>
