{# curated_cards must be defined first #}
{% if mobile_cols is undefined %}
  {% set mobile_cols = 1 %}
{% endif %}
{% if desktop_cols is undefined %}
  {% set desktop_cols = 4 %}
{% endif %}
{% if show_blurbs is undefined %}
  {% set show_blurbs = True %}
{% endif %}

<div class="row row-cols-{{mobile_cols}} row-cols-lg-{{desktop_cols}} card-deck">
{% for cc in curated_cards %}
{% set page = pages|selectattr("html", "defined_and_equalto", cc)|first %}
  <a class="card" href="{{target.prefix}}{{page.html}}">
    <div class="card-body">
    {% if page.showcase_icon is defined %}
      <div class="circled-logo"><img src="{{page.showcase_icon}}" /></div>
    {% endif %}
      <h4 class="card-title h5">{% if page.top_nav_name is defined %}{{page.top_nav_name}}{% else %}{{page.name}}{% endif %}</h4>
    {% if show_blurbs %}
      <p class="card-text">{{page.blurb}}</p>
    {% endif %}
    </div>
    <div class="card-footer">&nbsp;</div>
  </a>
{% endfor %}
</div>
