<!-- Feedback Widget -->
<script src="{{currentpage.prefix}}static/vendor/feedback-widget.js"></script>
<div id="feedback-content"></div>
<script>
  // Options
  const options = {
    analyticsConfig: [
      // { name: 'ga', id: 'UA-45576805-2' },
      { name: 'gtm', id: 'GTM-KCQZ3L8' },
    ],
    analyticsName: 'Feedback Widget Tracker',
    theme: 'xrpl',
    currentPath: window.location.pathname,
    parentElement: '#feedback-content',
  };

  // Init WidgetClass
  const r = new WidgetClass(options);
</script>
