{% extends "base.html.jinja" %}
{% block head %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block bodyclasses %}no-sidebar{% endblock %}
{% block mainclasses %}landing{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}
<div class="overflow-hidden">

  <div class="position-relative">
    <img src="./img/backgrounds/use-cases-blue.svg" id="use-cases-blue">
  </div>

   <section class="py-26 text-center">
    <div class="col-lg-6 mx-auto text-center">
      <div class="d-flex flex-column-reverse">
        <h1 class="">{% trans %}Powering Innovative Technology{% endtrans %}</h1>
        <h6 class="green-500 mb-3">{% trans %}XRPL Use Cases{% endtrans %}</h6>
      </div>
    </div>
  </section>


  <section class="container-new py-26">
    <ul class="mt-10 card-grid card-grid-3xN ls-none">
      <li class="col-new ls-none mb-16-sm">
        <img src="./img/icons/micropayments.svg">
        <h4 class="mt-3 mb-0 h5">{% trans %}Micropayments{% endtrans %}</h4>
        <p class="mt-8 mb-0">{% trans %}Developers are using the XRP Ledger to build innovative products for gaming, content, and web monetization, among other applications where currency is at the center.{% endtrans %}</p>
      </li>
      <li class="col-new ls-none mb-16-sm">
        <img src="./img/icons/wallets.svg">
        <h4 class="mt-3 mb-0 h5">{% trans %}Cryptocurrency Wallets{% endtrans %}</h4>
        <p class="mt-8 mb-0">{% trans %}Use the Ledger to build digital wallets to store private and public passwords and interact with various blockchains to send and receive digital assets, including XRP.{% endtrans %}</p>
      </li>
      <li class="col-new ls-none mb-16-sm">
        <img src="./img/icons/exchanges.svg">
        <h4 class="mt-3 mb-0 h5">{% trans %}Exchanges{% endtrans %}</h4>
        <p class="mt-8 mb-0">{% trans %}Build sophisticated exchanges where users can invest and trade crypto and non-blockchain assets such as stocks, ETFs, and commodities.{% endtrans %}</p>
      </li>
      <li class="col-new ls-none mb-16-sm">
        <img src="./img/icons/stablecoins.svg">
        <h4 class="mt-3 mb-0 h5">{% trans %}Stablecoins{% endtrans %}</h4>
        <p class="mt-8 mb-0">{% trans %}Financial institutions can use Issued Currencies to issue stablecoins on the XRP Ledger. XRPL’s integrated decentralized exchange (DEX) allows neutral, counterparty-free digital assets to be seamlessly exchanged to and from “issued assets,” including stablecoins.{% endtrans %}</p>
      </li>
      <li class="col-new ls-none mb-16-sm">
        <img src="./img/icons/nft.svg">
        <h4 class="mt-3 mb-0 h5">{% trans %}NFTs{% endtrans %}</h4>
        <p class="mt-8 mb-0">{% trans %}XRPL allows issuance of IOUs which can represent a currency of any value, which can be extended to the issuance of non-fungible tokens (NFTs).{% endtrans %}</p>
      </li>
      <li class="col-new ls-none mb-16-sm">
        <img src="./img/icons/defi.svg">
        <h4 class="mt-3 mb-0 h5">{% trans %}DeFi{% endtrans %}</h4>
        <p class="mt-8 mb-0">{% trans %}Provide access to financial products and services online in a decentralized and borderless manner on XRPL, with decentralized smart contract protocols replacing the traditional role of financial institutions.{% endtrans %}</p>
      </li>
      <li class="col-new ls-none mb-16-sm">
        <img src="./img/icons/cbdc.svg">
        <h4 class="mt-3 mb-0 h5">{% trans %}CBDCs{% endtrans %}</h4>
        <p class="mt-8 mb-0">{% trans %}The CBDC Private Ledger provides Central Banks a secure, controlled, and flexible solution to issue and manage Central Bank Issued Digital Currencies (CBDCs).{% endtrans %}</p>
      </li>
    </ul>
  </section>

  <div class="position-relative d-none-sm">
    <img src="./img/backgrounds/use-cases-orange.svg" id="use-cases-orange">
  </div>

  <section class="container-new py-26">
    <div class="col-sm-8 p-0 mx-10-until-sm">
      <div class="d-flex flex-column-reverse">
        <h3 class="h4">{% trans %}Businesses and projects running  on the XRP Ledger{% endtrans %}</h3>
        <h6 class="green-500 mb-3">{% trans %}Solving Real Problems Across Industries{% endtrans %}</h6>
      </div>
      <p class="mb-0">{% trans %}There are companies and developer projects around the world that leverage the XRP Ledger to solve interesting problems across a variety of industries and use cases.{% endtrans %}</p>
    </div>
    <div class="mt-10 card-grid card-grid-3xN">
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" href="https://www.bitgo.com/" target="_blank" id="magenta-orange">
        <span class="card-new d-block">
          <img class="mw-100 mb-3" src="./img/uses/bitgo.svg">
          <h4 class="h5">{% trans %}Asset Custody{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}BitGo provides custodial and non-custodial asset holdings for digital assets including XRP. BitGo's enterprise-level security empowers businesses to integrate digital currencies like XRP into new and existing financial systems.{% endtrans %}</p>
        </span>
      </a>
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" href="https://bitpay.com/" target="_blank" id="blue-green">
        <span class="card-new d-block">
          <img class="mw-100 mb-3" src="./img/uses/bitpay.svg">
          <h4 class="h5">{% trans %}Payment Processing{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}BitPay builds powerful, enterprise-grade tools for accepting and spending cryptocurrencies, including XRP.{% endtrans %}</p>
        </span>
      </a>
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" href="https://coil.com/" target="_blank" id="purple-blue">
        <span class="card-new d-block">
          <img class="mw-100 mb-3" src="./img/uses/coil.svg">
          <h4 class="h5">{% trans %}Web Monetization{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}Coil provides web monetization as an alternative to traditional paid advertising. Coil uses the interledger protocol (ILP) to stream micropayments as users consume content. The XRPL’s payment channels provide an ideal system for settling these micropayments at high speed and low cost.{% endtrans %}</p>
        </span>
      </a>
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" href="https://www.forte.io/" target="_blank" id="light-blue">
        <span class="card-new d-block">
          <img class="mw-100 mb-3" src="./img/uses/forte.svg">
          <h4 class="h5">{% trans %}Online Gaming{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}Forte offers an unprecedented set of easy-to-use tools and services for game developers to integrate blockchain technology into their games, to unlock new economic and creative opportunities for gamers across the world.{% endtrans %}</p>
        </span>
      </a>
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" href="https://gatehub.net/" target="_blank" id="pink-purple">
        <span class="card-new d-block">
          <img class="mw-100 mb-3" src="./img/uses/gatehub.svg">
          <h4 class="h5">{% trans %}Wallet and Platforms{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}GateHub is a platform for the Internet of Value, built on the XRP Ledger protocol. It allows everyone to send, receive, trade and manage any type of assets. {% endtrans %}</p>
        </span>
      </a>
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" href="https://www.exodus.io/" target="_blank" id="green-blue">
        <span class="card-new d-block">
          <img class="mw-100 mb-3" src="./img/uses/exodus.svg">
          <h4 class="h5">{% trans %}Wallets and Apps{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}Exodus offers wallets and applications for securing, managing and exchanging crypto.{% endtrans %}</p>
        </span>
      </a>
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" href="https://ripple.com/" target="_blank" id="blue-light-blue">
        <span class="card-new d-block">
          <img class="mw-100 mb-3" src="./img/uses/ripple.svg">
          <h4 class="h5">{% trans %}On-Demand Liquidity{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}Ripple powers instant, lower-cost settlement of cross-border payments using XRP to source liquidity on demand. XRP is ideally suited for global payments because it's quicker, less costly, and more scalable than any other digital asset.{% endtrans %}</p>
        </span>
      </a>
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" href="https://towo.io/" target="_blank" id="purple-blue">
        <span class="card-new d-block">
          <img class="mw-100 mb-3" src="./img/uses/towo.svg">
          <h4 class="h5">{% trans %}Infrastructure{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}Towo Labs was founded in 2019, to develop XRP Ledger and Interledger infrastructures and make non-custodial crypto management easier.{% endtrans %}</p>
        </span>
      </a>
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" href="https://raisedinspace.com/" target="_blank" id="orange-yellow">
        <span class="card-new d-block">
          <img class="mw-100 mb-3" src="./img/uses/raised.svg">
          <h4 class="h5">{% trans %}Music{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}Raised in Space is a music/tech investment group focused on raising the value of music, innovating across the entire value chain of the music industry.{% endtrans %}</p>
        </span>
      </a>
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" href="https://xrpl-labs.com/" target="_blank" id="magenta-orange">
        <span class="card-new d-block">
          <img class="mw-100 mb-3" src="./img/uses/xrpl-labs.svg">
          <h4 class="h5">{% trans %}Applications{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}From cold storage to apps for signing transactions, XRPL Labs is dedicated to building software on the XRP Ledger.{% endtrans %}</p>
        </span>
      </a>
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" href="https://xrplorer.com/" target="_blank" id="green-purple">
        <span class="card-new d-block">
          <img class="mw-100 mb-3" src="./img/uses/xplorer.svg">
          <h4 class="h5">{% trans %}Security{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}Xrplorer offers services and tools that help prevent and combat fraudulent activity on the XRPL as well as custom APIs and analytics that supplement the XRPL APIs where they are not enough.{% endtrans %}</p>
        </span>
      </a>
    </div>
  </section>
</div>   

{% endblock %}


{% block endbody %}
<script type="application/javascript">
  gtag('config', 'UA-157720658-3', {'content_group1': 'Hub Pages'});
</script>
{% endblock %}
