{% extends "base.html.jinja" %}

{% block main %}
  <section class="content">
    <h1 id="main-page-header">{{ currentpage.name }}</h1>
    {% include 'component-tag-cloud.html.jinja' %}
  </section>
{% endblock %}

{% block analytics %}
    <script type="application/javascript">
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      "event": "page_info",
      "page_type": "Hub Page",
      "page_group": "Docs"
    })
    </script>
{% endblock analytics %}
