{% extends "base.html.jinja" %}
{% block head %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block bodyclasses %}no-sidebar{% endblock %}
{% block mainclasses %}landing{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block main %}
<div class="overflow-hidden">
  <section class="container-new py-26 text-center">
    <img id="home-hero-graphic" src="./img/graphics/header-image.svg">
    <div class="col-lg-6 mx-auto text-center">
      <div class="d-flex flex-column-reverse">
        <h1 class="mb-10">{% trans %}Community<br/> Powered Utility{% endtrans %}</h1>
        <h6 class="green-500 mb-3">{% trans %}XRP | XRPL Ledger{% endtrans %}</h6>
      </div>
      <a href="overview.html" class="btn btn-primary btn-arrow mr-4 mb-4">{% trans %}Start Building{% endtrans %}</a>
    </div>
  </section>

  <div class="position-relative d-none-sm">
    <img src="./img/backgrounds/home-purple.svg" id="home-purple">
    <img src="./img/backgrounds/home-green.svg" id="home-green">
  </div>

  <section class="container-new py-26">
    <div class="col-lg-6 offset-lg-3 pl-0-sm pr-0-sm p-8-sm p-10-until-sm">
      <h2 class="h4 mb-8">{% trans %}The XRP Ledger: A Scalable, Sustainable Blockchain{% endtrans %}</h2>
      <h6 class="longform mb-10">{% trans %}The XRP Ledger (XRPL) is a decentralized, public blockchain led by a global developer community.{% endtrans %}</h6>
      <p class="mb-0">{% trans %}It’s fast, energy efficient, and reliable. With ease of development, low transaction costs, and a knowledgeable community, it provides developers with a strong open-source foundation for executing on the most demanding projects—without hurting the environment.{% endtrans %}</p>
    </div>
  </section>

  <section class="container-new py-26">
    <div class="d-flex flex-column-reverse col-sm-8 p-0 mx-10-until-md">
      <h3 class="h4">{% trans %}Why developers choose XRP Ledger{% endtrans %}</h3>
      <h6 class="green-500 mb-3">{% trans %}Discover Benefits{% endtrans %}</h6>
    </div>
    <ul class="mt-10 card-grid card-grid-3xN">
      <li class="col-new ls-none mb-16-sm">
        <img src="./img/icons/public.svg">
        <h4 class="mt-3 mb-0 h5">{% trans %}Public and Decentralized Structure{% endtrans %}</h4>
        <p class="mt-8 mb-0">{% trans %}Open source, open to anyone to build on, maintained by the community{% endtrans %}</p>
      </li>
      <li class="col-new ls-none mb-16-sm">
        <img src="./img/icons/streamlined.svg">
        <h4 class="mt-3 mb-0 h5">{% trans %}Streamlined <br/>Development{% endtrans %}</h4>
        <p class="mt-8 mb-0">{% trans %}Tools and documentation that speed development and reduce time to market{% endtrans %}</p>
      </li>
      <li class="col-new ls-none mb-16-sm">
        <img src="./img/icons/performance.svg">
        <h4 class="mt-3 mb-0 h5">{% trans %}High <br/>Performance{% endtrans %}</h4>
        <p class="mt-8 mb-0">{% trans %}Capable of settling thousands of transactions in seconds{% endtrans %}</p>
      </li>
      <li class="col-new ls-none mb-16-sm">
        <img src="./img/icons/low-cost.svg">
        <h4 class="mt-3 mb-0 h5">{% trans %}Low Cost{% endtrans %}</h4>
        <p class="mt-8 mb-0">{% trans %}At fractions of a penny per transaction, costs are inexpensive enough to enable a wide variety of use cases{% endtrans %}</p>
      </li>
      <li class="col-new ls-none mb-16-sm">
        <img src="./img/icons/community.svg">
        <h4 class="mt-3 mb-0 h5">{% trans %}Vibrant Community{% endtrans %}</h4>
        <p class="mt-8 mb-0">{% trans %}Developers, validators, users, and businesses make the XRP Ledger better every day{% endtrans %}</p>
      </li>
      <li class="col-new ls-none mb-16-sm">
        <img src="./img/icons/reliability.svg">
        <h4 class="mt-3 mb-0 h5">{% trans %}Proven Reliability{% endtrans %}</h4>
        <p class="mt-8 mb-0">{% trans %}9+ years of consistent performance over more than 63 million ledgers{% endtrans %}</p>
      </li>
    </ul>
  </section>

  <section class="container-new py-26">
    <div class="d-flex flex-column-reverse col-sm-8 p-0 mx-10-until-md">
      <h3 class="h4">{% trans %}Activate the power of the XRP Ledger and find the building blocks for your next innovation{% endtrans %}</h3>
      <h6 class="green-500 mb-3">{% trans %}Explore Advanced Features{% endtrans %}</h6>
    </div>
    <div class="mt-10 card-grid card-grid-3xN">
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" id="pink-purple" href="/decentralized-exchange.html">
        <span class="card-new d-block">
          <h4 class="h5">{% trans %}Decentralized Exchange{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}A high-performance decentralized peer-to-peer multi-currency exchange built directly into the blockchain.{% endtrans %}</p>
        </span>
      </a>
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" id="neutral-blue" href="/cross-currency-payments.html">
        <span class="card-new d-block">
          <h4 class="h5">{% trans %}Cross-Currency Payments{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}Atomically settle multi-hop payments that cross currency or national boundaries with ease.{% endtrans %}</p>
        </span>
      </a>
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" id="light-green" href="/payment-channels.html">
        <span class="card-new d-block">
          <h4 class="h5">{% trans %}Payment <br class="until-sm"/>Channels{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}Batched micropayments with unlimited speed, secured with XRP.{% endtrans %}</p>
        </span>
      </a>
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" id="orange" href="/multi-signing.html">
        <span class="card-new d-block">
          <h4 class="h5">{% trans %}Multi-Signing{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}Flexible options for custody and security of on-ledger accounts.{% endtrans %}</p>
        </span>
      </a>
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" id="purple-blue-2" href="/issued-currencies-overview.html">
        <span class="card-new d-block">
          <h4 class="h5">{% trans %}Issued Currencies{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}All currencies other than XRP can be represented in the XRP Ledger as issued currencies, sometimes called “IOUs.”{% endtrans %}</p>
        </span>
      </a>
    </div>
  </section>

  <section class="container-new py-26">
    <div class="d-flex flex-column-reverse col-sm-8 p-0 mx-10-until-md">
      <h3 class="h4">{% trans %}Choose a path to start building on the XRPL{% endtrans %}</h3>
      <h6 class="green-500 mb-3">{% trans %}Get Started{% endtrans %}</h6>
    </div>
    <div class="mt-10 card-grid card-grid-3xN">
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" id="orange-yellow" href="/get-started.html">
        <span class="card-new d-block">
          <h4 class="h5">{% trans %}Quickstart{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}Access everything you need to get started working with the XRPL{% endtrans %}</p>
        </span>
      </a>
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" id="magenta-orange" href="/tutorials.html">
        <span class="card-new d-block">
          <h4 class="h5">{% trans %}Guided Tutorials{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}Follow step-by-step guides for frequent tasks{% endtrans %}</p>
        </span>
      </a>
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" id="blue-green" href="/concepts.html">
        <span class="card-new d-block">
          <h4 class="h5">{% trans %}XRPL Fundamentals{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}Read about the XRPL’s foundational concepts{% endtrans %}</p>
        </span>
      </a>
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" id="light-blue" href="/client-libraries.html">
        <span class="card-new d-block">
          <h4 class="h5">{% trans %}Choose a Language{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}Find tools, documentation, and sample code in Python, Java, Javascript, or use HTTP APIs{% endtrans %}</p>
        </span>
      </a>
      <a class="col-new col-new-card ls-none bg-grey-800 br-8 mb-16-sm" id="green-blue" href="/uses.html">
        <span class="card-new d-block">
          <h4 class="h5">{% trans %}Get Inspired{% endtrans %}</h4>
          <p class="mt-6 mb-8">{% trans %}See what your peers have built on the XRPL{% endtrans %}</p>
        </span>
      </a>
    </div>
  </section>

  <section class="container-new py-26">
    <div class="col-lg-6 offset-lg-3 p-8-sm p-10-until-sm br-8 bg-grey-800 text-center">
      <img src="./img/backgrounds/cta-home-purple.svg" class="cta cta-top-left">
      <img src="./img/backgrounds/cta-home-green.svg" class="cta cta-bottom-right">
      <div class="z-index-1 position-relative">
        <h2 class="h4 mb-8-sm mb-10-until-sm">{% trans %}Our Shared Vision for  XRPL’s Future{% endtrans %}</h2>
        <p class="mb-10">{% trans %}Together, we're building the greenest infrastructure to drive blockchain innovation that doesn't sacrifice utility or performance, to bring the developer community's vision to life.{% endtrans %}</p>
        <a class="btn btn-primary btn-arrow" href="/overview.html">Learn More</a>
      </div>
    </div>
  </section>

  <section class="container-new py-26">
    <div class="d-flex flex-column-reverse col-sm-8 p-0 mx-10-until-md">
      <h3 class="h4">{% trans %}Explore what the community is building to enable new features and use cases on XRPL{% endtrans %}</h3>
      <h6 class="green-500 mb-3">{% trans %}Preview New Features{% endtrans %}</h6>
    </div>
    <ul class="mt-10 card-grid card-grid-3xN">
      <li class="col-new ls-none mb-16-sm">
        <h5 class="chip chip-green">{% trans %}In Development{% endtrans %}</h5>
        <h4 class="mt-3 mb-0 h5">{% trans %}Smart Contracts{% endtrans %}</h4>
        <p class="mt-8 mb-0">{% trans %}Hooks are small, efficient WebAssembly modules designed specifically for the XRPL. Check out the <a href="https://hooks-testnet.xrpl-labs.com/" target="_blank">hooks amendment and public testnet</a> that enable smart contract functionality.{% endtrans %}</p>
      </li>
      <li class="col-new ls-none mb-16-sm">
        <h5 class="chip chip-green">{% trans %}In Development{% endtrans %}</h5>
        <h4 class="mt-3 mb-0 h5">{% trans %}Non-Fungible Tokens{% endtrans %}</h4>
        <p class="mt-8 mb-0">{% trans %}Lower fees, faster transactions, and custom token functionality make the XRPL ideally suited for building an ecosystem for NFTs. Explore <a href="/docs.html">proposed standards</a> for issuing NFTs.{% endtrans %}</p>
      </li>
      <li class="col-new ls-none mb-16-sm">
        <h5 class="chip chip-green">{% trans %}In Development{% endtrans %}</h5>
        <h4 class="mt-3 mb-0 h5">{% trans %}Sidechains{% endtrans %}</h4>
        <p class="mt-8 mb-0">{% trans %}Extend, experiment, and specialize a custom sidechain based on the XRPL's proven blockchain technology. Learn more about the vision of sidechains.{% endtrans %}</p>
      </li>
    </ul>
  </section>

  <section class="container-new py-26">
    <div class="col-md-6 offset-md-3 p-8-sm p-10-until-sm br-8 bg-grey-800 text-center">
      <img src="./img/backgrounds/cta-home-magenta.svg" class="cta cta-bottom-right">
      <div class="z-index-1 position-relative">
        <div class="d-flex flex-column-reverse">
          <h2 class="h4 mb-10">{% trans %}XRPL.org: By the Community,  For the Community{% endtrans %}</h2>
          <h5 class="green-500 mb-3">{% trans %}Get Involved{% endtrans %}</h5>
        </div>
        <p class="mb-10">{% trans %}XRPL.org is a community-driven resource by and for developers who build on the XRP Ledger (XRPL).{% endtrans %}</p>
        <a class="btn btn-primary btn-arrow" href="/contribute.html">{% trans %}Join the Community{% endtrans %}</a>
      </div>
    </div>
  </section>
</div>

{% endblock %}


{% block endbody %}
<script type="application/javascript">
  gtag('config', 'UA-157720658-3', {'content_group1': 'Hub Pages'});
</script>
{% endblock %}
