{% extends "base.html.jinja" %}
{% block head %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block bodyclasses %}no-sidebar{% endblock %}
{% block mainclasses %}landing page-ambassadors{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}

<div class="position-relative d-none-sm">
  <img src="./img/backgrounds/ambassador-purple.svg" class="position-absolute" style="top: 0; right:0">
</div>

<section class="container-new py-26 text-lg-center">
    <div class="p-0 col-lg-8 mx-lg-auto">
        <div class="d-flex flex-column-reverse">
            <h1 class="mb-0">{% trans %}Become an XRP Ledger Campus Ambassador{% endtrans %}</h1>
            <h6 class="eyebrow mb-3">{% trans %}Join the Student Cohort{% endtrans %}</h6>
        </div>
        <p class="mt-3 py-3 col-lg-8 mx-lg-auto p-0">{% trans %}The XRPL Campus Ambassador program engages, supports, connects, and recognizes a group of student champions of the XRPL and empowers them to further advance engagement on the ledger.{% endtrans %}</p>
        <button data-tf-popup="biHSgjJU" data-tf-iframe-props="title=XRPL Campus Ambassador" data-tf-medium="snippet" 
            class="btn btn-primary btn-arrow-out"
            data-tf-hidden="utm_source=xxxxx,utm_medium=xxxxx,utm_campaign=xxxxx,utm_term=xxxxx,utm_content=xxxxx">Interested in Fall 2023</button>
    </div>
</section>


<!-- Current Students -->
<section class="container-new py-26">

    <div class="d-flex flex-column flex-lg-row align-items-lg-center">

        <div class="order-lg-2 mx-lg-4 mb-4 pb-3 mb-lg-0 pb-lg-0 col-lg-6 px-0 pr-lg-5">
            <div class="d-flex flex-column-reverse p-lg-3">
                <h3 class="h4 h2-sm">{% trans %}XRPL Campus Ambassadors{% endtrans %}</h3>
                <h6 class="eyebrow mb-3">{% trans %}Current Students{% endtrans %}</h6>
            </div>
            <p class="p-lg-3 mb-2 longform">{% trans %}The XRPL Campus Ambassador program aims to elevate the impact of college students who are passionate about blockchain technology. In their role, Campus Ambassadors help educate other students about crypto and how to start building on the XRPL.{% endtrans %}</p>
            <div class="d-none d-lg-block p-lg-3">
                <button data-tf-popup="biHSgjJU" data-tf-iframe-props="title=XRPL Campus Ambassador" data-tf-medium="snippet" 
                class="btn btn-primary btn-arrow-out"
                data-tf-hidden="utm_source=xxxxx,utm_medium=xxxxx,utm_campaign=xxxxx,utm_term=xxxxx,utm_content=xxxxx">Interested in Fall 2023</button>
            </div>
        </div>

        <div class="order-lg-1 col-lg-6 px-0 mr-lg-4">
            <div class="row m-0">
                <img src="./assets/img/ambassadors/developer-hero@2x.png" class="w-100">
            </div>
        </div>

        <div class="d-lg-none order-3 mt-4 pt-3 p-lg-3">
            <button data-tf-popup="biHSgjJU" data-tf-iframe-props="title=XRPL Campus Ambassador" data-tf-medium="snippet" 
                class="btn btn-primary btn-arrow-out"
                data-tf-hidden="utm_source=xxxxx,utm_medium=xxxxx,utm_campaign=xxxxx,utm_term=xxxxx,utm_content=xxxxx">Interested in Fall 2023</button>
        </div>

    </div>  
</section>



<!-- How it Works -->
<section class="container-new py-26">
    <!-- flex. Col for mobile. Row for large. on large align content to the center  -->
    <div class="d-flex flex-column flex-lg-row align-items-lg-center">

        <div class="order-1 mr-lg-4 mb-4 pb-3 mb-lg-0 pb-lg-0 col-lg-6 px-0">
            <div class="d-flex flex-column-reverse p-lg-3">
                <h3 class="h4 h2-sm">{% trans %}Process to become a Campus Ambassador{% endtrans %}</h3>
                <h6 class="eyebrow mb-3">{% trans %}How it Works{% endtrans %}</h6>
            </div>

            <p class="p-lg-3 mb-2 longform">{% trans %}Apply now to become an XRPL Campus Ambassador.{% endtrans %}</p>

            <div class="d-none d-lg-block p-lg-3">
                <button data-tf-popup="biHSgjJU" data-tf-iframe-props="title=XRPL Campus Ambassador" data-tf-medium="snippet" 
                    class="btn btn-primary btn-arrow-out"
                    data-tf-hidden="utm_source=xxxxx,utm_medium=xxxxx,utm_campaign=xxxxx,utm_term=xxxxx,utm_content=xxxxx">Interested in Fall 2023</button>
            </div>
        </div>

        
        <div class="order-2 col-lg-6 px-0 ml-lg-2">

            <div class="row m-0">

                <div class="col-12 col-lg-6 p-0 pr-lg-4">
                    
                    <div class="px-lg-3 pb-3">
                        <img src="./assets/img/ambassadors/01.svg" class="pl-lg-3">
                        <div class="p-lg-3 pt-3">
                            <h6 class="mb-3">Apply</h6>
                            <p class="">Submit an application to be considered for the Campus Ambassador program.</p>
                        </div>
                    </div>

                    <!-- Hide on large -->
                    <div class="px-lg-3 pb-3 d-lg-none ">
                        <img src="./assets/img/ambassadors/02.svg" class="pl-lg-3">
                        <div class="p-lg-3 pt-3">
                            <h6 class="mb-3">Interview</h6>
                            <p class="">Tell the XRPL community-led panel more about yourself and your interest in the program during an interview.</p>
                        </div>
                    </div>

                    <div class="px-lg-3 pb-3">
                        <img src="./assets/img/ambassadors/03.svg" class="pl-lg-3">
                        <div class="p-lg-3 pt-3">
                            <h6 class="mb-3">Join</h6>
                            <p class="">Congrats on your new role! Join the global cohort of Ambassadors and meet with community participants during onboarding.</p>
                        </div>
                    </div>

                    <!-- Hide on large -->
                    <div class="p-lg-3 pb-3 d-lg-none">
                        <img src="./assets/img/ambassadors/04.svg" class="pl-lg-3">
                        <div class="p-lg-3 pt-3">
                            <h6 class="mb-3">Learn</h6>
                            <p class="">Participate in personalized learning and training sessions for Ambassadors on the XRPL and blockchain technology.</p>
                        </div>
                    </div>
                </div>
                <!-- end col 1 -->

                <!-- Show on large -->
                <div class="col-12 col-lg-6 p-0 pl-lg-4 d-none d-lg-block mt-5">
                    
                    <div class="px-lg-3 pb-3 mt-5">
                        <img src="./assets/img/ambassadors/02.svg" class="pl-lg-3">
                        <div class="p-lg-3 pt-3">
                            <h6 class="mb-3">Interview</h6>
                            <p class="">Tell the XRPL community-led panel more about yourself and your interest in the program during an interview.</p>
                        </div>
                    </div>
                    <div class="p-lg-3 pb-3 ">
                        <img src="./assets/img/ambassadors/04.svg" class="pl-lg-3">
                        <div class="p-lg-3 pt-3 pb-lg-0">
                            <h6 class="mb-3">Learn</h6>
                            <p class="pb-lg-0">Participate in personalized learning and training sessions for Ambassadors on the XRPL and blockchain technology.</p>
                        </div>
                    </div>
                    
                </div>
                <!-- end col 2 -->
            </div>

        </div>

        <div class="d-lg-none order-3 mt-4 pt-3">
            <button data-tf-popup="biHSgjJU" data-tf-iframe-props="title=XRPL Campus Ambassador" data-tf-medium="snippet" 
                class="btn btn-primary btn-arrow-out"
                data-tf-hidden="utm_source=xxxxx,utm_medium=xxxxx,utm_campaign=xxxxx,utm_term=xxxxx,utm_content=xxxxx">Interested in Fall 2023</button>
        </div>

    </div>
</section>



<!-- Benefits -->
<section class="container-new py-26">
    <!-- flex. Col for mobile. Row for large. on large align content to the center  -->
    <div class="d-flex flex-column flex-lg-row align-items-lg-center">

        <div class="order-1 order-lg-2 mb-4 pb-3 mb-lg-0 pb-lg-0 col-lg-6 px-0">
            <div class="d-flex flex-column-reverse p-lg-3">
                <h3 class="h4 h2-sm">{% trans %}Why become an XRPL Campus Ambassador?{% endtrans %}</h3>
                <h6 class="eyebrow mb-3">{% trans %}Benefits{% endtrans %}</h6>
            </div>
            <p class="p-lg-3 mb-2 longform">{% trans %}Join a global cohort of students empowering others to build on the XRPL.{% endtrans %}</p>
        </div>

        <div class="order-2 order-lg-1 col-lg-6 px-0 mr-lg-5">

            <div class="row align-items-center m-0" id="benefits-list"> 
                <!-- benefitslist -->

                <div class="col-12 col-lg-6 p-0 pr-lg-4">
                    
                    <div class="px-lg-3 pb-3">
                        <img id="benefits-01" class="pl-lg-3">
                        <div class="p-lg-3 pt-3">
                            <h6 class="mb-3">Exclusive Opportunities</h6>
                            <p class="">Get access and invitations to Ambassador-only events, conferences, and opportunities</p>
                        </div>
                    </div>
                    <!-- Hide on large -->
                    <div class="px-lg-3 pb-3 d-lg-none ">
                        <img id="benefits-02" class="pl-lg-3">
                        <div class="p-lg-3 pt-3">
                            <h6 class="mb-3">Education</h6>
                            <p class="">Tutorials and workshops from leading XRPL and blockchain developers</p>
                        </div>
                    </div>

                    <div class="px-lg-3 pb-3">
                        <img id="benefits-03" class="pl-lg-3">
                        <div class="p-lg-3 pt-3">
                            <h6 class="mb-3">Swag</h6>
                            <p class="">New XRPL swag for Ambassadors and swag to share with other students</p>
                        </div>
                    </div>

                    <!-- Hide on large -->
                    <div class="px-lg-3 pb-3 d-lg-none">
                        <img id="benefits-04" class="pl-lg-3">
                        <div class="p-lg-3 pt-3">
                            <h6 class="mb-3">Mentorship</h6>
                            <p class="">Serve as an advocate and receive support from notable members of the community</p>
                        </div>
                    </div>

                    <div class="px-lg-3 pb-3">
                        <img id="benefits-05" class="pl-lg-3">
                        <div class="p-lg-3 pt-3 pb-lg-0">
                            <h6 class="mb-3">Career Acceleration</h6>
                            <p class="pb-lg-0">Gain hands-on experience building communities and grow your professional network in the blockchain industry</p>
                        </div>
                    </div>

                    <!-- Hide on large -->
                    <div class="px-lg-3 pb-3 d-lg-none">
                        <img id="benefits-06" class="pl-lg-3">
                        <div class="pb-lg-0">
                            <h6 class="mb-3">Stipend</h6>
                            <p class="pb-lg-0">Receive a stipend to fund your ideas and initiatives that fuel XRPL growth on your campus</p>
                        </div>
                    </div>

                </div>
                <!-- end col 1 -->

                <!-- Show on large -->
                <div class="col-12 col-lg-6 p-0 pl-lg-4 d-none d-lg-block">

                    <div class="px-lg-3 pb-3 pt-5 mt-5">
                        <img id="benefits-02" class="pl-lg-3">
                        <div class="p-lg-3 pt-3">
                            <h6 class="mb-3">Education</h6>
                            <p class="">Tutorials and workshops from leading XRPL and blockchain developers</p>
                        </div>
                    </div>

                    <div class="px-lg-3 pb-3 ">
                        <img id="benefits-04" class="pl-lg-3">
                        <div class="p-lg-3 pt-3">
                            <h6 class="mb-3">Mentorship</h6>
                            <p class="">Serve as an advocate and receive support from notable members of the community</p>
                        </div>
                    </div>

                    <div class="px-lg-3 pb-3">
                        <img id="benefits-06" class="pl-lg-3">
                        <div class="p-lg-3 pt-3 pb-lg-0">
                            <h6 class="mb-3">Stipend</h6>
                            <p class="pb-lg-0">Receive a stipend to fund your ideas and initiatives that fuel XRPL growth on your campus</p>
                        </div>
                    </div>
                    
                </div>
                <!-- end col 2 -->
            </div>

        </div>

    </div>
</section>


<!-- Current Students -->
<section class="container-new py-26">

    <!-- Quotes -->
    <div id="carouselSlidesOnly" class="carousel slide col-lg-10 mx-auto px-0" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="p-0">
                <div class="mb-4 p-lg-3">
                    <img src="./assets/img/ambassadors/quote1-small.svg" class="h-100 d-lg-none mb-4">
                    <img src="./assets/img/ambassadors/quote1.svg" class="h-100 d-none d-lg-block">
                    <div class="p-0 col-lg-7 mx-lg-auto">
                        <p class="p-lg-3 mb-2"><strong>Titose C.</strong><br >
                            University of Cape Town,<br >
                            Spring 2022 XRPL Campus Ambassador</p>
                    </div>
                </div>

            </div>
          </div>
          <div class="carousel-item">
            <div class="p-0">
                <div class="mb-4 p-lg-3">
                    <img src="./assets/img/ambassadors/quote2-small.svg" class="h-100 d-lg-none  mb-4">
                    <img src="./assets/img/ambassadors/quote2.svg" class="h-100 d-none d-lg-block">
                    <div class="p-0 col-lg-7 mx-lg-auto">
                        <p class="p-lg-3 mb-2"><strong>Derrick N.</strong><br >
                            Ryerson University,<br >
                            Spring 2022 XRPL Campus Ambassador</p>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    
    <!-- Image Block -->
    <div class="">
        <img src="./assets/img/ambassadors/students-large.png" class="w-100">
    </div>

</section>


<!-- Eligibility -->
<section class="container-new py-26">
    <!-- flex. Col for mobile. Row for large. on large align content to the center  -->
    <div class="d-flex flex-column flex-lg-row align-items-lg-center mr-lg-4">

        <div class="order-1  mb-4 pb-3 mb-lg-0 pb-lg-0 col-lg-6 px-0 mr-lg-5">
            <div class="d-flex flex-column-reverse p-lg-3">
                <h3 class="h4 h2-sm">{% trans %}Should You Apply?{% endtrans %}</h3>
                <h6 class="eyebrow mb-3">{% trans %}Eligibility for XRPL Campus Ambassadors{% endtrans %}</h6>
            </div>
            <p class="p-lg-3 mb-2 longform">{% trans %}Students currently enrolled in an undergraduate or postgraduate program at an accredited college or university are eligible to apply.{% endtrans %}</p>
        </div>

        <div class="order-2 col-lg-6 px-0">

            <div class="row align-items-center m-0" id="eligibility-list">

                <div class="col-12 col-lg-6 p-0 pr-lg-4">
                    
                    <div class="px-lg-3 pb-3">
                        <img id="eligibility-01" class="pl-lg-3">
                        <div class="p-lg-3 pt-3">
                            <h6 class="mb-3">A Leader</h6>
                            <p class="">Interested in leading meetups and workshops for your local campus community</p>
                        </div>
                    </div>

                    <!-- Hide on large -->
                    <div class="px-lg-3 pb-3 d-lg-none ">
                        <img id="eligibility-02" class="pl-lg-3">
                        <div class="p-lg-3 pt-3">
                            <h6 class="mb-3">Active</h6>
                            <p class="">An active participant in the XRPL community or interested in blockchain and crypto technologies</p>
                        </div>
                    </div>

                    <div class="px-lg-3 pb-3">
                        <img id="eligibility-03" class="pl-lg-3">
                        <div class="p-lg-3 pt-3">
                            <h6 class="mb-3">Curious</h6>
                            <p class="">Eager to learn more about technical blockchain topics and the XRPL</p>
                        </div>
                    </div>

                    <!-- Hide on large -->
                    <div class="px-lg-3 pb-3 d-lg-none">
                        <img id="eligibility-04" class="pl-lg-3">
                        <div class="p-lg-3 pt-3 pb-lg-0">
                            <h6 class="mb-3">Passionate</h6>
                            <p class="">Passionate about increasing XRPL education and awareness through events, content, and classroom engagement</p>
                        </div>
                    </div>

                    <div class="p-lg-3 pb-3">
                        <img id="eligibility-05" class="pl-lg-3">
                        <div class="p-lg-3 pt-3 pb-lg-0">
                            <h6 class="mb-3">Creative</h6>
                            <p class="pb-lg-0 mb-0">Ability to think outside the box to grow the XRPL student community</p>
                        </div>
                    </div>

                </div>
                <!-- end col 1 -->

                <!-- Show on large -->
                <div class="col-12 col-lg-6 p-0 pl-lg-4 d-none d-lg-block">
                    
                    <div class="px-lg-3 pb-3 ">
                        <img id="eligibility-02" class="pl-lg-3">
                        <div class="p-lg-3 pt-3">
                            <h6 class="mb-3">Active</h6>
                            <p class="">An active participant in the XRPL community or interested in blockchain and crypto technologies</p>
                        </div>
                    </div>
                    <div class="px-lg-3 pb-3 ">
                        <img id="eligibility-04" class="pl-lg-3">
                        <div class="p-lg-3 pt-3 pb-lg-0">
                            <h6 class="mb-3">Passionate</h6>
                            <p class="">Passionate about increasing XRPL education and awareness through events, content, and classroom engagement</p>
                        </div>
                    </div>
                    
                </div>
                <!-- end col 2 -->

            </div>
        </div>

    </div>
</section>


<!-- Global Community Carousel -->
<section class="container-new pt-26">

    <div class="p-0 col-lg-5">
        <div class="d-flex flex-column-reverse p-lg-3">
            <h3 class="h4 h2-sm">{% trans %}Join a global cohort of Student Ambassadors{% endtrans %}</h3>
            <h6 class="eyebrow mb-3">{% trans %}Global Community{% endtrans %}</h6>
        </div>
    </div>
</section>

<div id="container-scroll">
    <div class="photobanner">
        <img src="./assets/img/ambassadors/locations-row-1.png" alt="Ambassador locations" height="48px" class="px-5">
        <img src="./assets/img/ambassadors/locations-row-1.png" alt="Ambassador locations" height="48px" class="px-5">
        <img src="./assets/img/ambassadors/locations-row-1.png" alt="Ambassador locations" height="48px" class="px-5">
    </div>
    <div class="photobanner photobanner-bottom">
        <img src="./assets/img/ambassadors/locations-row-2.png" alt="Ambassador locations" height="48px" class="px-5">
        <img src="./assets/img/ambassadors/locations-row-2.png" alt="Ambassador locations" height="48px" class="px-5">
        <img src="./assets/img/ambassadors/locations-row-2.png" alt="Ambassador locations" height="48px" class="px-5">
    </div>
</div>


<!-- Connect -->
<section class="container-new py-26">
    <!-- flex. Col for mobile. Row for large. on large align content to the center  -->
    <div class="d-flex flex-column flex-lg-row align-items-lg-center">

        <div class="order-1 mb-4 pb-3 mb-lg-0 pb-lg-0 col-lg-6 px-0">
            <div class="d-flex flex-column-reverse p-lg-3">
                <h3 class="h4 h2-sm">{% trans %}Stay connected to the XRPL Campus Ambassadors{% endtrans %}</h3>
                <h6 class="eyebrow mb-3">{% trans %}Connect{% endtrans %}</h6>
            </div>

            <p class="p-lg-3 mb-2 longform">{% trans %}To stay up-to-date on the latest activity, meetups, and events of the XRPL Campus Ambassadors be sure to follow these channels:{% endtrans %}</p>

            <div class="d-none d-lg-block p-lg-3">
                <button data-tf-popup="biHSgjJU" data-tf-iframe-props="title=XRPL Campus Ambassador" data-tf-medium="snippet" class="btn btn-primary btn-arrow-out" data-tf-hidden="utm_source=xxxxx,utm_medium=xxxxx,utm_campaign=xxxxx,utm_term=xxxxx,utm_content=xxxxx">Interested in Fall 2023</button>
            </div>
        </div>

        <div class="order-2 col-lg-6 px-0 ml-lg-5">
            <div class="row align-items-center m-0">

                <div class="col-12 col-lg-6 p-0 pr-lg-4">

                    <div class="p-lg-3 mb-3 pb-3">
                        <img src="./assets/img/ambassadors/icon_meetup.svg" class="mb-3">
                        <div class="">
                            <h6 class="mb-3"><a class="btn-arrow" href="https://www.meetup.com/pro/xrpl-community/">MeetUp</a></h6>
                            <p class="">Attend an XRPL Meetup in your local area</p>
                        </div>
                    </div>
                    <div class="p-lg-3 mb-3 pb-3">
                        <img src="./assets/img/ambassadors/icon_devto.svg" class="mb-3">
                        <div class="">
                            <h6 class="mb-3"><a class="btn-arrow" href="https://dev.to/t/xrpl">Dev.to Blog</a></h6>
                            <p class="">Read more about the activity of the XRPL Ambassadors</p>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-lg-6 p-0 pl-lg-4">
                    
                    <div class="p-lg-3 mb-3 pb-3 ">
                        <img src="./assets/img/ambassadors/icon_discord.svg" class="mb-3">
                        <div class="">
                            <h6 class="mb-3"><a class="btn-arrow" href="https://xrpldevs.org">Discord</a></h6>
                            <p class="">Join the conversation on the XRPL Developer Discord</p>
                        </div>
                    </div>
                    
                </div>

            </div>
            
        </div>

        <div class="d-lg-none order-3 mt-4 pt-3">
            <button data-tf-popup="biHSgjJU" data-tf-iframe-props="title=XRPL Campus Ambassador" data-tf-medium="snippet" class="btn btn-primary btn-arrow-out" data-tf-hidden="utm_source=xxxxx,utm_medium=xxxxx,utm_campaign=xxxxx,utm_term=xxxxx,utm_content=xxxxx">Interested in Fall 2023</button>
        </div>

    </div>
</section>

<script src="//embed.typeform.com/next/embed.js"></script>

{% endblock %}


{% block analytics %}
    <script type="application/javascript">
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      "event": "page_info",
      "page_type": "Splash Page",
      "page_group": "Ambassadors"
    })
    </script>
{% endblock analytics %}
