{% extends "base.html.jinja" %}

{% block main %}
<section class="container-fluid p-3">
  <h1>{% trans %}Domain Verification Checker{% endtrans %}</h1>

  <p>{% trans %}This tool allows you to verify that <a href="xrp-ledger-toml.html#domain-verification">domain verification</a> is properly configured.{% endtrans %}</p>
  <p>{% trans %}Enter the manifest found in your validator-keys.json file. Do not confuse this with your validator's secret key.{% endtrans %}</p>
  <p>{% trans %}To do this with the validator-keys-tool use the following command:{% endtrans %}</p>
  <pre><code>$ validator-keys show_manifest hex</code></pre>
  <form id="manifest-entry">
    <div class="input-group">
      <input id="manifest" type="text" class="form-control" required
             placeholder="{% trans %}Your Manifest Here{% endtrans %}"
             pattern="[0-9A-Fa-f]+"><br>
      <button class="btn btn-primary form-control">Check Domain Verification</button>
    </div><!--/.input-group-->
  </form>
  <div id="result">
    <h5 class='result-title'>{% trans %}Result{% endtrans %}</h5>
      <ul id="log">
    </ul>
  </div>
</section>
{% endblock %}

{% block endbody %}
  <script type='text/javascript' src='static/vendor/iarna-toml-parse.js'></script>
  <script type='text/javascript' src='static/js/domain-verifier-bundle.js'></script>
{% endblock %}

{% block analytics %}
    <script type="application/javascript">
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      "event": "page_info",
      "page_type": "Tool",
      "page_group": "Docs",
      "page_labels": {{currentpage.labels or []}}
    })
    </script>
{% endblock analytics %}
