{% extends "base.html.jinja" %}

{% block main %}
  <article class="pt-3 p-md-3">
    <h1>Not Found</h1>
    <div class="content">
        <p>Sorry, this page does not exist. Try looking in the <a href="/docs.html#full-doc-index">Full Documentation Index</a>, or you can search the site:</p>
        <form role="search">
          <div class="form-group">
            <div class="input-group">
              <label class="input-group-prepend" for="docsearchbox"><i class="fa fa-search input-group-text"></i><span class="sr-only">{% trans %}Search{% endtrans %}</span></label>
              <input id="docsearchbox" type="text" class="form-control searchinput" placeholder="{% trans %}Search for articles, training, and code samples...{% endtrans %}">
            </div><!--/.form-group-->
          </div>
        </form>
    </div>
  </article>
{% endblock %}
