{% extends "base.html.jinja" %}

{% block mainclasses %}landing landing-children padded-main{% endblock %}

{% block main %}
  {% if content %}

  <section class="pt-3 p-md-3">
    <article class="content">
      {{ content }}

      {% set show_blurbs = True %}
      {% set depth= 1 %}
      {% include 'children.html' %}
    </article>
  </section>

  {% else %}
  <section class="pt-3 p-md-3">
    <article class="content">
      <h1 id="main-page-header">{{ currentpage.name }}</h1>
      {% if currentpage.blurb != target.blurb %}<p class="blurb">{{ currentpage.blurb }}</p>{% endif %}
      {% set show_blurbs = True %}
      {% set depth= 1 %}
      {% if currentpage.name == "Tutorials" %}
        {% macro tutorialCard(id, href, title, description, img) %}
          <a class="card" href="{{href}}" target="_blank" id="{{id}}">
              {% if img %}<img src="{{img}}" alt="{{title}} Screenshot" />{% endif %}
              <div class="card-body">
                <h4 class="card-title h5">{{title}}</h4>
                <p class="card-text">{{description}}</p>
              </div>
              <div class="card-footer">&nbsp;</div>
            </a>
        {% endmacro %}
        <div id="tutorial-cards" class="row row-cols-1 row-cols-lg-2 card-deck">
          {% for child in currentpage.children %}
            {{ tutorialCard(child.id, child.html, child.name, child.blurb, child.img)}}
          {% endfor %}
        </div>
      {% else %}
        {% include 'children.html' %}
      {% endif %}
    </article>
  </section>
  {% endif %}
{% endblock %}

{% block analytics %}
{% from "macro-get_funnel.jinja" import get_funnel %}
    <script type="application/javascript">
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      "event": "page_info",
      "page_type": "Hub Page",
      "page_group": "Docs",
      "page_funnel": "{{get_funnel(pages, currentpage)}}",
      "page_labels": {{currentpage.labels or []}}
    })
    </script>
{% endblock analytics %}
