{% extends "base.html.jinja" %}
{% block head %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block bodyclasses %}no-sidebar{% endblock %}
{% block mainclasses %}landing{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block main %}
  <div class="marketing-wrapper">

    <section class="">
      <h6 class="section-marker" id="home-hero-marker">{% trans %}Scroll Down{% endtrans %}</h6>
      <img id="home-hero-graphic" src="./img/graphics/home-hero-graphic.svg">
      <div class="col-md-6 mx-auto text-center my-5">
        <h1 class="mb-18">{% trans %}XRP: The Best Digital Asset for Payments{% endtrans %}</h1>
        <a href="overview.html" class="btn btn-outline-secondary inline-block mr-4 mb-4">{% trans %}Learn More{% endtrans %}</a>
        <a href="docs.html" class="btn btn-outline-secondary inline-block mb-4">{% trans %}Build with the XRP Ledger{% endtrans %}</a>
      </div>
    </section>


    <section class="container-new my-26">
      <div class="d-flex flex-column-reverse col-8 p-0">
        <h3 class="h4 mx-10">{% trans %}Why Developers Choose XRP Ledger{% endtrans %}</h3>
        <h6 class="green-500 mx-10 mb-3">{% trans %}Discover Benefits{% endtrans %}</h6>
      </div>
      <ul class="mt-10 card-grid card-grid-3xN">
        <li class="col-new ls-none">
            <h4 class="mb-0 h5">{% trans %}Public and Decentralized Structure{% endtrans %}</h4>
            <p class="mt-8 mb-0">{% trans %}Open source, open to anyone to build on, maintained by the community{% endtrans %}</p>
        </li>
        <li class="col-new ls-none">
            <h4 class="mb-0 h5">{% trans %}Streamlined <br/>Development{% endtrans %}</h4>
            <p class="mt-8 mb-0">{% trans %}Tools and documentation that speed development and reduce time to market{% endtrans %}</p>
        </li>
        <li class="col-new ls-none">
            <h4 class="mb-0 h5">{% trans %}High <br/>Performance{% endtrans %}</h4>
            <p class="mt-8 mb-0">{% trans %}Capable of settling thousands of transactions in seconds{% endtrans %}</p>
        </li>
        <li class="col-new ls-none">
          <h4 class="mb-0 h5">{% trans %}Low Cost{% endtrans %}</h4>
          <p class="mt-8 mb-0">{% trans %}At fractions of a penny per transaction, costs are inexpensive enough to enable a wide variety of use cases{% endtrans %}</p>
        </li>
        <li class="col-new ls-none">
          <h4 class="mb-0 h5">{% trans %}Vibrant Community{% endtrans %}</h4>
          <p class="mt-8 mb-0">{% trans %}Developers, validators, users, and businesses make the XRPL better every day{% endtrans %}</p>
        </li>
        <li class="col-new ls-none">
          <h4 class="mb-0 h5">{% trans %}Proven Reliability{% endtrans %}</h4>
          <p class="mt-8 mb-0">{% trans %}9+ years of consistent performance over more than 63 million ledgers{% endtrans %}</p>
        </li>
      </ul>
    </section>

    <section class="container-new my-26">
      <div class="d-flex flex-column-reverse col-8 p-0">
        <h3 class="h4 mx-10">{% trans %}Activate the power of the XRP Ledger and find the building blocks for your next innovation{% endtrans %}</h3>
        <h6 class="green-500 mx-10 mb-3">{% trans %}Explore Advanced Features{% endtrans %}</h6>
      </div>
      <ul class="mt-10 card-grid card-grid-3xN">
        <li class="col-new ls-none bg-grey-800 br-8" id="pink">
          <div class="card-new" >
            <h4 class="h5">{% trans %}Decentralized Exchange{% endtrans %}</h4>
            <p class="mt-6 mb-8">{% trans %}A high-performance decentralized peer-to-peer multi-currency exchange built directly into the blockchain{% endtrans %}</p>
          </div>
        </li>
        <li class="col-new ls-none bg-grey-800 br-8">
          <div class="card-new">
            <h4 class="h5">{% trans %}Cross-Currency Payments{% endtrans %}</h4>
            <p class="mt-6 mb-8">{% trans %}Atomically settle multi-hop payments that cross currency or national boundaries with ease.{% endtrans %}</p>
          </div>
        </li>
        <li class="col-new ls-none bg-grey-800 br-8">
          <div class="card-new">
            <h4 class="h5">{% trans %}Payment <br/>Channels{% endtrans %}</h4>
            <p class="mt-6 mb-8">{% trans %}Batched micropayments with unlimited speed, secured with XRP.{% endtrans %}</p>
          </div>
        </li>
        <li class="col-new ls-none bg-grey-800 br-8">
          <div class="card-new">
            <h4 class="h5">{% trans %}Multi-Signing{% endtrans %}</h4>
            <p class="mt-6 mb-8">{% trans %}Flexible options for custody and security of on-ledger accounts.{% endtrans %}</p>
          </div>
        </li>
      </ul>
    </section>
   
  </div>
{% endblock %}


{% block endbody %}
<script type="application/javascript">
  gtag('config', 'UA-157720658-3', {'content_group1': 'Hub Pages'});
</script>
{% endblock %}
