{% extends "base.html.jinja" %}

{% block bodyclasses %}toml-checker{% endblock %}

{% block main %}
<section class="container-fluid">
  <div class="p-3">
    <h1>xrp-ledger.toml Checker</h1>

    <p>If you run an XRP Ledger validator or use the XRP Ledger for your business, you can provide information about your usage of the XRP Ledger to the world in a machine-readable <a href="https://xrpl.org/xrp-ledger-toml.html"><code>xrp-ledger.toml</code> file</a>.</p>

  </div>

    <div class="p-3 pb-5">
    <form id="domain-entry">
    <h4>Look Up By Domain</h4>
    <p>This tool allows you to verify that your <code>xrp-ledger.toml</code> file is syntactically
      correct and deployed properly.</p>
      <div class="input-group">
        <input id="domain" type="text" class="form-control" required
              placeholder="example.com (Domain name to check)"
              pattern="^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z][a-zA-Z-]{0,22}[a-zA-Z]$"><br>
        <button class="btn btn-primary form-control">Check toml file</button>
      </div><!--/.input-group-->
    </form>
    <div id="result">
      <h5 class='result-title'>Result</h5>
        <ul id="log">
      </ul>
    </div>
  </div>
  <div class="p-3 pt-5">
    <h4>Look Up By Account</h4>
    <p>Enter an XRP Ledger address to see if that account is claimed by the domain it says owns it.</p>
    <form id="domain-verification">
        <div class="input-group">
          <input id="verify-domain" type="text" class="form-control" required
                placeholder="r... (Wallet Address to check)">
                <br>
          <button class="btn btn-primary form-control">Check account</button>
        </div><!--/.input-group-->
      </form>
      <div id="verify-domain-result">
        <h5 id="verify-domain-result-title" class='result-title'>Result</h5>
          <ul id="verify-domain-log">
        </ul>
      </div>
</div>
</section>
{% endblock %}

{% block endbody %}
  <script type="application/javascript" src="{{currentpage.prefix}}assets/js/xrp-ledger-toml-checker.js"></script>

  <!-- TOML tool -->
  <script type="application/javascript" src="{{currentpage.prefix}}assets/vendor/iarna-toml-parse.js"></script>
{% endblock %}

{% block analytics %}
    <script type="application/javascript">
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      "event": "page_info",
      "page_type": "Tool",
      "page_group": "Docs",
      "page_labels": {{currentpage.labels or []}}
    })
    </script>
{% endblock analytics %}
