{% extends "base.html.jinja" %}

{% block mainclasses %}landing landing-children padded-main{% endblock %}

{% block main %}
  {% if content %}

  <section class="p-0">
    <article class="content">
      {{ content }}

      {% set show_blurbs = True %}
      {% set depth= 1 %}
      {% include 'children.html' %}
    </article>
  </section>

  {% else %}
  <section class="p-0">
    <article class="content">
      <h1 id="main-page-header">{{ currentpage.name }}</h1>
      {% if currentpage.blurb != target.blurb %}<p class="blurb">{{ currentpage.blurb }}</p>{% endif %}
      {% set show_blurbs = True %}
      {% set depth= 1 %}
      {% include 'children.html' %}
    </article>
  </section>
  {% endif %}
{% endblock %}

{% block analytics %}
{% from "macro-get_funnel.jinja" import get_funnel %}
    <script type="application/javascript">
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      "event": "page_info",
      "page_type": "Hub Page",
      "page_group": "Docs",
      "page_funnel": "{{get_funnel(pages, currentpage)}}",
      "page_labels": {{currentpage.labels or []}}
    })
    </script>
{% endblock analytics %}
