{% extends "base.html.jinja" %}

{% block mainclasses %}landing page-docs page-docs-index landing-builtin-bg overflow-hidden styled-page{% endblock %}
{% block main %}
<section class="container-new py-26 doc-index">
    <div class="d-flex flex-column-reverse w-100">
      <h2 id="full-doc-index" class="h4">{% trans %}Full documentation index{% endtrans %}</h2>
      <h6 class="eyebrow mb-3">{% trans %}See Everything{% endtrans %}</h6>
    </div>
    {% set docpages = pages|selectattr('html', 'defined_and_equalto', 'docs.html')|list|first %}
    <div class="row">
      {% for page in docpages.children if page.html not in ("by-label.html", "faq.html", 'docs-index.html') %}
      {% set parent_html = page.html %}
      {% set depth = 6 %}
      {% set show_blurbs = False %}
      <div class="col-md-6 mt-20">
        <a href="{% if '//' not in page.html %}{{target.prefix}}{% endif %}{{page.html}}"><h5 class="mb-3">{{page.name}}</h5></a>
        {% include 'children.html' %}
      </div>
      {% endfor %}
    </div>
  </section>
  {% endblock %}
