{% extends "pagetype-doc.html.jinja" %}
{% block head %}

{% endblock %}

{% block bodyclasses %}page-privacy-policy{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block analytics %}
    <script type="application/javascript">
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      "event": "page_info",
      "page_type": "Splash Page",
      "page_group": "About"
    })
    </script>
{% endblock analytics %}
