{% extends "base.html.jinja" %}

{% block mainclasses %}landing page-docs-index landing-builtin-bg{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}

  <section class="py-26 text-center">
    <div class="col-xl-4 col-lg-6 mx-auto text-center">
      <div class="d-flex flex-column-reverse w-100">
        <h1 class="mb-18">{% trans %}What Would You Like to Learn?{% endtrans %}</h1>
        <h6 class="eyebrow mb-3">{% trans %}XRP Ledger Documentation{% endtrans %}</h6>
      </div>
    </div>
  </section>

  {# Macros #}
  {% macro purple_button(href, text, isArrowUp) %}
    {% if isArrowUp %}
      <a class="btn btn-primary btn-arrow-up" id="{{href}}-button" href="{{href}}">{{ text }}</a>
    {% else %}
      <a class="btn btn-primary btn-arrow" id="{{href}}-button" href="{{href}}">{{ text }}</a>
    {% endif %}
  {% endmacro %}

  {% macro flat_card(href, title, description, image, isImageAbove) %}

  {% endmacro %}

  {% set recommendedPages = [
      {
        "description": _("rippled API Reference"),
        "link": "https://xrpl.org/manage-the-rippled-server.html",
      },
      {
        "description": _("XRP Faucet"),
        "link": "https://xrpl.org/xrp-testnet-faucet.html",
      },
      {
        "description": _("Getting Started with Python"),
        "link": "https://xrpl.org/get-started-using-python.html#get-started-using-python",
      },
      {
        "description": _("Websocket API Tool"),
        "link": "https://xrpl.org/websocket-api-tool.html",
      },
      { "description": _("XRP Ledger Explorer"), "link": "https://livenet.xrpl.org" },
  ] %}

  {# <section class="container-new mb-50-until-sm" id="sdk-links">
    <div class="row">
      <div class="col-lg-6 mb-10" id="sdk-list">
        <p>{% trans %}Explore SDKs{% endtrans %}</p>
        <h2 class="h4">{% trans %}Browse By Recommended Pages{% endtrans %}</h2>
        <ul class="nav flex-column">
          {% for page in recommendedPages %}
            <li class="nav-item"><a href="{{page.link}}" class="nav-link">{{page.description}}</a>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-6 mb-10">
        <img src="img/backgrounds/docs-sdk@2x.png" class="img-fluid pt-20 sdk-img" alt="A computer with 'SDKs' written on it.">
      </div>
    </div>
  </section> #}

  <section class="py-26 px-20 text-left">
        <div class="card-grid card-grid-2xN">
          <div class="col">
            <h6>Explore SDKs</h6>
            <h4>Interact with the XRP Ledger in a language of your choice</h4>
            <div class="card-grid langs-cards card-grid-2xN mt-10">
              <div class="col langs">
                <a href="https://xrpl.org/get-started-using-javascript.html">
                  <img
                    src="/assets/img/logos/javascript.svg"
                    class="circled-logo"
                  >
                  <h5 class="btn-arrow">Javascript</h5>
                </a>
              </div>
              <div class="col langs">
                <a href="https://xrpl.org/get-started-using-python.html">
                  <img
                    src="/assets/img/logos/python.svg"
                    class="circled-logo"
                  >
                  <h5 class="btn-arrow">Python</h5>
                </a>
              </div>
              <div class="col langs">
                <a href="https://xrpl.org/get-started-using-java.html">
                  <img
                    src="/assets/img/logos/java.svg"
                    class="circled-logo"
                  >
                  <h5 class="btn-arrow">Java</h5>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <img
              src="/assets/img/backgrounds/sdk-black.png"
              class="img-fluid pt-20 sdk-img"
            />
          </div>
        </div>
      </section>

  <section class="container-new mb-50-until-sm" id="software-and-sdks">
    <div class="d-flex flex-column-reverse w-100">
      <h2 class="h4">{% trans %}Software and SDKs{% endtrans %}</h2>
      <h6 class="eyebrow mb-3">{% trans %}Start Developing{% endtrans %}</h6>
    </div>

      {% set curated_cards = [
        "get-started-using-javascript.html",
        "get-started-using-python.html",
        "get-started-using-java.html",
        "get-started-using-http-websocket-apis.html"
      ] %}
      {% set mobile_cols = 2 %}
      {% set show_blurbs = False %}
      {% include 'component-curated-cards.html.jinja' %}
  </section><!--/#software-and-sdks-->

  <section class="container-new mb-50-until-sm" id="doc-types">
    <div class="d-flex flex-column-reverse w-100">
      <h2 class="h4">{% trans %}Article types{% endtrans %}</h2>
      <h6 class="eyebrow mb-3">{% trans %}Dive In{% endtrans %}</h6>
    </div>
    {% set curated_cards = currentpage.children|selectattr("html","ne","by-label.html")|selectattr("html","ne","faq.html")|selectattr("html","ne","https://learn.xrpl.org/")|selectattr("html","ne","dev-tools.html")|map(attribute="html")|list %}
    {% set mobile_cols = 1 %}
    {% set show_blurbs = True %}
    {% include 'component-curated-cards.html.jinja' %}
  </section><!--/#doc-types-->

  <section class="container-new mb-50-until-sm" id="run-a-network-node">
    <div class="d-flex flex-column-reverse w-100">
      <h2 class="h4">{% trans %}Run an XRP Ledger network node{% endtrans %}</h2>
      <h6 class="eyebrow mb-3">{% trans %}Participate in the Network{% endtrans %}</h6>
    </div>
    {% set curated_cards = [
      "the-rippled-server.html",
      "install-rippled.html",
      "run-rippled-as-a-validator.html",
      "troubleshoot-the-rippled-server.html"
    ] %}
    {% include 'component-curated-cards.html.jinja' %}
  </section><!--/#run-a-network-node-->

<section class="container-new mb-50-until-sm" id="docs-hot-topic">
  <div class="d-flex flex-column-reverse w-100">
    <h2 class="h4">{% trans %}NFTs{% endtrans %}</h2>
    <h6 class="eyebrow mb-3">{% trans %}Hot Topic{% endtrans %}</h6>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <p class="longform">{% trans %}Interested in non-fungible tokens, but concerned about their <a href="impact.html">large carbon footprint</a>? Read more about issuing NFTs on the XRP Ledger:{% endtrans %}</p>
    </div>
    <div class="col-lg-6">
      <ul class="nav flex-column">
        <li class="nav-item"><a href="nft-conceptual-overview.html" class="nav-link">NFT Conceptual Overview</a></li>
        <li class="nav-item"><a href="nftoken.html" class="nav-link">NFToken Format</a></li>
      </ul>
    </div>
  </div>
</section><!--/#docs-hot-topic-->

  <section class="container-new mb-50-until-sm" id="docs-browse-by">
    <div class="row">
      <div class="col-lg-6 mb-10" id="popular-topics">
        <h2 class="h4">{% trans %}Browse By Recommended Pages{% endtrans %}</h2>
        <ul class="nav flex-column">
          {% for page in recommendedPages %}
            <li class="nav-item"><a href="{{page.link}}" class="nav-link">{{page.description}}</a>
          {% endfor %}
        </ul>
      </div><!--/#popular-topics-->

      <div class="col-lg-6 p-6-sm p-10-until-sm br-8 cta-card">
        <img src="./img/backgrounds/cta-home-purple.svg" class="d-none-sm cta cta-top-left">
        <img src="./img/backgrounds/cta-home-green.svg" class="cta cta-bottom-right">
        <div class="z-index-1 position-relative">
          <h2 class="h4 mb-8-sm mb-10-until-sm">{% trans %}Have an Idea for a Tool?{% endtrans %}</h2>
          <p class="mb-10">{% trans %}Connect to the XRP Ledger Testnet network to develop and test your apps built on the XRP Ledger, without risking real money or impacting production XRP Ledger users.{% endtrans %}</p>
          <a class="btn btn-primary btn-arrow" href="xrp-testnet-faucet.html">Generate Testnet Credentials</a>
        </div>
      </div>
    </div>
  </section><!-- Browse by recommended and Generate Testnet Credentials -->

<section class="container-new mb-50-until-sm doc-index">
  <div class="d-flex flex-column-reverse w-100">
    <h2 id="full-doc-index" class="h4">{% trans %}Full documentation index{% endtrans %}</h2>
    <h6 class="eyebrow mb-3">{% trans %}See Everything{% endtrans %}</h6>
  </div>

  <div class="row">
    {% for page in currentpage.children if page.html not in ("by-label.html", "faq.html") %}
    {% set parent_html = page.html %}
    {% set depth = 6 %}
    {% set show_blurbs = False %}
    <div class="col-md-6 mt-20">
      <a href="{% if '//' not in page.html %}{{target.prefix}}{% endif %}{{page.html}}"><h5 class="mb-3">{{page.name}}</h5></a>
      {% include 'children.html' %}
    </div>
    {% endfor %}
  </div>
</section><!--/.doc-index-->
{% endblock %}

{% block endbody %}

{% endblock %}

{% block analytics %}
    <script type="application/javascript">
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      "event": "page_info",
      "page_type": "Hub Page",
      "page_group": "Docs"
    })
    </script>
{% endblock analytics %}
