{% extends "base.html.jinja" %}
{% block head %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block bodyclasses %}no-sidebar{% endblock %}
{% block mainclasses %}landing{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}

<div class="position-relative">
  <img src="./img/backgrounds/faq-bg.svg" class="landing-bg" id="faq-background">
</div>

<section class="py-26 text-center">
  <div class="col-lg-5 mx-auto text-center">
    <div class="d-flex flex-column-reverse">
      <h1 class="mb-0">{% trans %}Your Questions About XRPL, Answered{% endtrans %}</h1>
      <h6 class="green-500 mb-3">{% trans %}FAQ{% endtrans %}</h6>
    </div>
  </div>
</section>

<section class="container-new py-26">
  <div class="col-md-6 offset-md-3 w-100 pl-0 pr-0" id="faqs-accordian">
    {% set faqs = [
      { "number": "1",
        "question": _("Is XRPL a private blockchain, owned by Ripple?"),
        "answer": _("No, the XRP Ledger is a decentralized, public blockchain. Any changes that would impact transaction processing or consensus need to be approved by at least 80%% of the network. Ripple is a contributor to the network, but its rights are the same as those of other contributors. In terms of validation, there are 150+ validators on the network with 35+ on the Unique Node List (see “What are Unique Node Lists (UNLs)?” below) — Ripple runs 6 of these nodes.") },
      { "number": "2",
        "question": _("Isn’t Proof of Work the best validation mechanism?"),
        "answer": _("Proof of Work (PoW) was the first mechanism to solve the double spend problem without requiring a trusted 3rd party. However the XRP Ledger’s consensus mechanism solves the same problem in a far faster, cheaper and more energy efficient way.") },
      { "number": "3",
        "question": _("How can a blockchain be sustainable?"),
        "answer": _("It’s been widely reported that Bitcoin’s energy consumption, as of 2021, is equivalent to that used by Argentina, with much of the electricity Bitcoin miners use coming from polluting sources. The XRP Ledger confirms transactions through a “<a href='intro-to-consensus.html'>consensus</a>” mechanism - which does not waste energy like proof of work does - and leverages carbon offsets to be <a href='https://ripple.com/ripple-press/ripple-leads-sustainability-agenda-to-achieve-carbon-neutrality-by-2030/' target='_blank'>one of the first truly carbon neutral blockchains</a>. Explore the energy consumption of XRP compared to cash, credit cards and other popular cryptocurrencies with the <a href='carbon-calculator.html'>Green Currency Calculator</a>.") },
      { "number": "4",
        "question": _("Can currencies other than XRP be traded through XRPL?"),
        "answer": _("Yes, the XRP Ledger was built specifically to be able to tokenize arbitrary assets, e.g. USD, EUR, Oil, Gold, reward points, etc. Any currency can be issued on the XRP Ledger. This is illustrated by XRPL’s growing community that backs a variety of fiat and crypto tokens.") },
      { "number": "5",
        "question": _("Isn’t XRPL only for payments?"),
        "answer": _("While XRPL was initially developed for payment use cases, both the ledger and its native digital asset XRP are increasingly popular for a range of innovative blockchain use cases. New standards proposals for issuing NFTs, XRPL Labs’ hooks amendment for smart contract functionality, and federated sidechains are all currently works in progress.") },
    ] %}
    {% for faq in faqs %}
    <div class="w-100 accordian-row mb-6">
      <h3 class="mb-0 h6" id="a{{faq.number}}-q">
        <a href="#" class="white collapsed w-100 d-block expander" data-toggle="collapse" data-target="#a{{faq.number}}" aria-expanded="false" aria-controls="a{{faq.number}}">
          {{faq.question}}
          <span class="chevron"><span></span><span></span></span>
        </a>
      </h3>
      <p id="a{{faq.number}}" class="collapse mt-3 mb-0" aria-labelledby="a{{faq.number}}" data-parent="#faqs-accordian">{{faq.answer}}</p>
    </div>
    {% endfor %}
  </div>
</section>

<section class="container-new py-26">
  <div class="col-md-6 offset-md-3 w-100 pl-0 pr-0" id="faqs-accordian-2">
    <center><h2 class="h4 h2-sm mb-10">Validators and Unique Node Lists</h2></center>
    {% set faqs2 = [
      { "number": "1",
        "question": _("What service do transaction validators provide?"),
        "answer": _("Validators determine if transactions meet protocol requirements, and are therefore “valid.” The service validators uniquely provide is administratively grouping transactions into ordered units, agreeing on one such ordering specifically to prevent double spending. See <a href='https://ripple.com/insights/ripple-labs-tech-talk-consensus-within-the-ripple-protocol/' target='_blank'>Consensus and the Ripple Labs Tech Talk: Understanding Consensus</a> for more information about the consensus process.") },
      { "number": "2",
        "question": _("How much does it cost to run a validator?"),
        "answer": _("Running a validator does not require any fees or XRP. It is comparable in cost to running an email server in terms of its electricity use.") },
      { "number": "3",
        "question": _("What are Unique Node Lists (UNLs)?"),
        "answer": _("They are the lists of validators a given participant believes will not conspire to defraud them. Each server operator can choose their own UNL, usually based on a default set provided by a trusted publisher.") },
      { "number": "4",
        "question": _("Which UNL should I select?"),
        "answer": _("Since anybody can run a validator, the burden is on the network participants to choose a reliable set. Currently, three publishers (Ripple, the XRP Ledger Foundation, and Coil) are known to publish recommended default lists of high quality validators, based on past performance, proven identities, and responsible IT policies.  However, every network participant can choose which validators it chooses as reliable and need not follow one of the three publishers noted above.") },
      { "number": "5",
        "question": _("If Ripple recommends adoption of its UNL, doesn't that create a centralized system?"),
        "answer": _("No. The XRP Ledger network is opt-in. Each participant directly or indirectly chooses its UNL. If Ripple stops operating or acts maliciously, participants can change their UNLs to use a list from a different publisher.") },
      { "number": "6",
        "question": _("What is the validator incentive structure for validators not run by Ripple?"),
        "answer": _("The primary incentive to run a validator is to preserve and protect the stable operation and sensible evolution of the network. It is the validators who decide the evolution of the XRP Ledger, so any business that uses or depends on the XRP Ledger has an inherent incentive to ensure the reliability, and stability of the network. Validators also earn the respect and goodwill of the community by contributing this way.<br/><br/>If you run an XRP Ledger server to participate in the network, the additional cost and effort to run a validator is minimal. This means that additional incentives, such as the mining rewards in Bitcoin, are not necessary. Ripple avoids paying XRP as a reward for operating a validator so that such incentives do not warp the behavior of validators.") },
      { "number": "7",
        "question": _("Can financial institutions set up transaction validators to help them meet specific institutional standards and requirements?"),
        "answer": _("No, institutions cannot set up customized validator policies for choosing to allow some transactions and reject others. Validators either follow the protocol, or they do not. If software does not follow protocol rules, it does not function. Thus, it is not recommended that institutions seek out custom implementations without in-house expertise.") },
      { "number": "8",
        "question": _("What happens if more than 20%% of nodes within the network do not agree with the majority? How is the final version of the ledger chosen?"),
        "answer": _("Normally, if there is a dispute about the validity of one transaction, that transaction gets pushed back until the majority can come to an agreement. But if more than 20%% of the network did not follow the same protocol rules as the majority, the network would temporarily halt. It could resume when participants reconfigure their UNLs based on those who want to reach consensus with each other. This temporary processing delay is desired rather than double spending.
        <br/><br/>
        In the process of determining the authoritative version of a ledger, there may be multiple temporary internal versions. Such internal versions naturally happen in distributed systems because not all nodes receive transactions in the same order. The analogous behavior in Bitcoin is where two servers each see a different longest chain because two blocks were mined at about the same time.
        <br/><br/>
        However, there can be only one latest validated ledger version at any given time; other versions are irrelevant and harmless.") },
      { "number": "9",
        "question": _("Does the XRP Ledger have a formal process for adding validators?"),
        "answer": _("No, a formal process for adding validators is not compatible with the XRP Ledger, because it is a system with no central authority.
        <br/><br/>
        For recommendations and best practices, see Run rippled as a Validator.") },
    ] %}
    {% for faq in faqs2 %}
    <div class="w-100 accordian-row mb-6">
      <h3 class="mb-0 h6" id="b{{faq.number }}-q">
        <a href="#" class="white collapsed w-100 d-block expander" data-toggle="collapse" data-target="#b{{faq.number}}" aria-expanded="false" aria-controls="b{{faq.number}}">
          {{faq.question}}
          <span class="chevron"><span></span><span></span></span>
        </a>
      </h3>
      <p id="b{{faq.number}}" class="collapse mt-3 mb-0" aria-labelledby="b{{faq.number}}" data-parent="#faqs-accordian-2">{{faq.answer}}</p>
    </div>
    {% endfor %}


</section>

<section class="container-new py-26">
  <div class="col-md-6 offset-md-3 w-100 pl-0 pr-0" id="faqs-accordian-3">
    <center><h2 class="h4 h2-sm mb-10">Role of XRP</h2></center>
    {% set faqs3 = [
      { "number": "1",
        "question": _("Why does Ripple use XRP holdings?"),
        "answer": _("Ripple's XRP holdings incentivize the company to make the XRP Ledger as useful as possible. XRP exists as a native asset in the XRP Ledger for anti-spam transaction purposes, and for currency bridging only if beneficial to users. Otherwise, XRP is completely optional.") },
      { "number": "2",
        "question": _("How does the XRP Ledger respond to transaction floods?"),
        "answer": _("The XRP Ledger is designed to set the transaction cost dynamically based on demand as an anti-spam measure. The impact of any potential XRP manipulation is minimized by increases in network size as the market cap and transaction volume increase.") },
      { "number": "3",
        "question": _("What is Ripple standard operating procedure regarding money laundering and suspicious economic activity?"),
        "answer": _("Ripple is committed to monitoring and reporting any AML flags across the XRP Ledger network, as well as reporting suspicious activity to FinCEN as applicable.") },
    ] %}
    {% for faq in faqs3 %}
    <div class="w-100 accordian-row mb-6">
      <h3 class="mb-0 h6" id="c{{faq.number}}-q">
        <a href="#" class="white collapsed w-100 d-block expander" data-toggle="collapse" data-target="#c{{faq.number}}" aria-expanded="false" aria-controls="c{{faq.number}}">
          {{faq.question}}
          <span class="chevron"><span></span><span></span></span>
        </a>
      </h3>
      <p id="c{{faq.number}}" class="collapse mt-3 mb-0" aria-labelledby="c{{faq.number}}" data-parent="#faqs-accordian-3">{{faq.answer}}</p>
    </div>
    {% endfor %}
</section>

<section class="container-new py-26">
  <div class="col-md-6 offset-md-3 w-100 pl-0 pr-0" id="faqs-accordian-4">
    <center><h2 class="h4 h2-sm mb-10">Security Concerns</h2></center>
    {% set faqs = [
      { "number": "1",
        "question": _("What is Ripple's process for reviewing third-party code contributions?"),
        "answer": _("The code contribution process starts with a developer opening a pull request to Ripple's rippled repo. This pull request triggers automated unit and integration tests, as well as code reviews by several developers who, typically, have significant expertise in the area of code that the pull request affects.
        <br/><br/>
        Once the pull request passes automated tests and receives approvals from reviewers, a trusted maintainer of the repo can stage it for inclusion in the next beta.") },
      { "number": "2",
        "question": _("Does Ripple own or control the XRP Ledger or XRP Ledger network?"),
        "answer": _("No, Ripple does not own or control the XRP Ledger or XRP Ledger network.
        <br/><br/>
        Ripple does publish a reference implementation of the core XRP Ledger server (rippled) and employs a team of engineers who contribute to the open-source codebase. Ripple also periodically publishes pre-compiled binary packages of the software as a convenience. Anyone is free to download and compile the software from source, if they prefer.
        <br/><br/>
        That being said, you don't need to use Ripple’s version of the XRP Ledger software to interact with the XRP Ledger. rippled is open-source software and Ripple grants anyone the ability to use, extend, and modify it as long as they follow the terms of the ISC license. The ISC License is very permissive compared to some other open-source licenses that strictly limit how you can extend and adapt the software.") },
      { "number": "3",
        "question": _("Does Ripple offer a secure method to download their software?"),
        "answer": _("rippled source code is available at <a href='https://github.com/ripple/rippled' target='_blank'>https://github.com/ripple/rippled</a>, where the tip of the master, release and develop branches always contains a version-setting commit signed by a rippled developer. The XRP Ledger also offers pre-built binary packages for CentOS, RedHat Enterprise Linux, Fedora, Ubuntu, and Debian Linux. Those packages are digitally signed by Ripple so that they are tamper-evident and their authenticity can be verified. Lastly, release bulletins are made available over a secure website, and include the commit ID of the repository, as well as the cryptographic hash values of the packages that are published.") },
      { "number": "4",
        "question": _("Does Ripple distinguish between the codebase for validation and the one for user software?"),
        "answer": _("Yes. Client software for the XRP Ledger, including ripple-lib, has a different codebase and repositories from rippled (validation).") },
    ] %}
    {% for faq in faqs %}
    <div class="w-100 accordian-row mb-6">
      <h3 class="mb-0 h6" id="d{{faq.number}}-q">
        <a href="#" class="white collapsed w-100 d-block expander" data-toggle="collapse" data-target="#d{{faq.number}}" aria-expanded="false" aria-controls="d{{faq.number}}">
          {{faq.question}}
          <span class="chevron"><span></span><span></span></span>
        </a>
      </h3>
      <p id="d{{faq.number}}" class="collapse mt-3 mb-0" aria-labelledby="d{{faq.number}}" data-parent="#faqs-accordian-4">{{faq.answer}}</p>
    </div>
    {% endfor %}
</section>
{% endblock %}


{% block endbody %}

<script type="application/javascript">
  gtag('config', 'UA-157720658-3', {'content_group1': 'Hub Pages'});
</script>
{% endblock %}
