{% extends "base.html.jinja" %}
{% block head %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block bodyclasses %}no-sidebar{% endblock %}
{% block mainclasses %}landing{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}
<div class="position-relative">
  <img src="./img/backgrounds/xrp-overview-blue.svg" class="landing-bg" id="xrp-overview-blue">
</div>

<section class="py-26 text-center">
  <div class="col-lg-5 mx-auto text-center">
    <div class="d-flex flex-column-reverse">
      <h1 class="mb-0">{% trans %}Your Questions About XRP, Answered{% endtrans %}</h1>
      <h6 class="eyebrow mb-3">{% trans %}XRP Overview{% endtrans %}</h6>
    </div>
  </div>
</section>

<section class="container-new my-20">
    <div class="card-grid card-grid-1x2">
    	<div class="d-none-sm mt-lg-0">
        <ul class="page-toc no-sideline p-0 sticky-top floating-nav">
          {% set links = [
            { "hash": _("#about-xrp"),
              "text":  _("About XRP") },
            { "hash": _("#xrp-trading"),
              "text":  _("XRP in Trading") },
            { "hash": _("#ripple"),
              "text":  _("Ripple vs. XRP") },
            { "hash": _("#wallets"),
              "text":  _("XRP Wallets") },
            { "hash": _("#exchanges"),
              "text":  _("XRP Exchanges") },
          ] %}
          {% for link in links %}
          <li class="nav-item"><a class="sidelinks nav-link" href="{{link.hash}}">{{link.text}}</a></li>
          {% endfor %}
        </ul>
    </div>

    <div class="col mt-lg-0">
      <div class="link-section pb-26" id="about-xrp">
        <h2 class="h4 h2-sm mb-8">{% trans %}What Is XRP?{% endtrans %}</h2>
        <h5 class="longform mb-10">{% trans %}XRP is a digital asset that’s native to the XRP Ledger—an open-source, permissionless and decentralized <a href="https://www.distributedagreement.com/2018/09/24/what-is-a-blockchain/" target="_blank">blockchain technology.</a>{% endtrans %}</h5>
        <p class="mb-6">{% trans %}Created in 2012 specifically for payments, XRP can settle transactions on the ledger in 3-5 seconds. It was built to be a better Bitcoin—faster, cheaper and greener than any other digital asset.{% endtrans %}</p>
        <div class="overflow-x-xs">
          <table class="mb-10 landing-table">
            <thead>
              <tr>
                <th><h6>{% trans %}Benefits{% endtrans %}</h6></th>
                <th><h6>{% trans %}XRP{% endtrans %}</h6></th>
                <th><h6>{% trans %}Bitcoin{% endtrans %}</h6></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{% trans %}Fast{% endtrans %}</td>
                <td>{% trans %}3-5 seconds to settle{% endtrans %}</td>
                <td>{% trans %}500 seconds to settle{% endtrans %}</td>
              </tr>
              <tr>
                <td>{% trans %}Low-Cost{% endtrans %}</td>
                <td>{% trans %}$0.0002/tx{% endtrans %}</td>
                <td>{% trans %}$0.50/tx{% endtrans %}</td>
              </tr>
              <tr>
                  <td>{% trans %}Scalable{% endtrans %}</td>
                  <td>{% trans %}1,500 tx per second{% endtrans %}</td>
                   <td>{% trans %}3 tx per second{% endtrans %}</td>
              </tr>
              <tr>
                  <td>{% trans %}Sustainable{% endtrans %}</td>
                  <td>{% trans %}Environmentally sustainable (negligible energy consumption){% endtrans %}</td>
                <td>{% trans %}0.3% of global energy consumption{% endtrans %}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <p class="mb-10">{% trans %}XRP can be sent directly without needing a central intermediary, making it a convenient instrument in bridging two different currencies quickly and efficiently. It is freely exchanged on the open market and used in the real world for enabling cross-border payments and microtransactions.{% endtrans %}</p>
        <div class="card-grid card-grid-2xN mb-10">
          <div>
            <img class="mw-100 mb-2 invertible-img" src="{{currentpage.prefix}}assets/img/icons/briefcase.svg">
            <h6 class="fs-4-5">{% trans %}Financial Institutions{% endtrans %}</h6>
            <p class="">{% trans %}Leverage XRP as a bridge currency to facilitate faster, more affordable cross-border payments around the world.{% endtrans %}</p>
          </div>
          <div>
            <img class="mw-100 mb-2 invertible-img" src="{{currentpage.prefix}}assets/img/icons/user.svg">
            <h6 class="fs-4-5">{% trans %}Individual Consumers{% endtrans %}</h6>
            <p>{% trans %}Use XRP to move different currencies around the world. {% endtrans %}</p>
          </div>
        </div>
        <div class="mt-10 p-10 br-8 cta-card position-relative">
          <img src="./img/backgrounds/cta-xrp-overview-magenta.svg" class="cta cta-bottom-right">
          <div class="z-index-1 position-relative">
            <h2 class="h4 mb-10-until-sm mb-8-sm">{% trans %}The XRP Ledger was designed with sustainability in mind.{% endtrans %}</h2>
            <p class="mb-10">{% trans %}Explore the impact of the world's first major, global, public carbon-neutral blockchain.{% endtrans %}</p>
            <a class="btn btn-primary btn-arrow" href="impact.html">{% trans %}Impact{% endtrans %}</a>
          </div>
        </div>
      </div>

      <div class="py-26 link-section" id="xrp-trading">
        <h2 class="h4 h2-sm mb-8">{% trans %}How Is XRP Used in Trading?{% endtrans %}</h2>
        <h5 class="longform mb-10">{% trans %}XRP is traded on more than 100 markets and exchanges worldwide.{% endtrans %}</h5>
        <p class="mb-6">{% trans %}XRP’s low transaction fees, reliability and high-speed enable traders to use the digital asset as high-speed, cost-efficient and reliable collateral across trading venues—<a href="https://ripple.com/insights/xrp-a-preferred-base-currency-for-arbitrage-trading/" target="_blank">seizing arbitrage opportunities</a>, servicing margin calls and managing general trading inventory in real time.{% endtrans %}</p>
        <p>{% trans %}Because of the properties inherent to XRP and the ecosystem around it, traders worldwide are able to shift collateral, bridge currencies and switch from one crypto into another nearly instantly, across any exchange on the planet.{% endtrans %}</p>
      </div>

      <div class="py-26 link-section" id="ripple">
        <h2 class="h4 h2-sm mb-8">{% trans %}What Is the Relationship Between Ripple and XRP?{% endtrans %}</h2>
        <h5 class="longform mb-10">{% trans %}<a href="https://ripple.com" target="_blank">Ripple</a> is a technology company that makes it easier to build a high-performance, global payments business. XRP is a digital asset independent of this.{% endtrans %}</h5>
        <p>{% trans %}There is a finite amount of XRP. All XRP is already in existence today—no more than the original 100 billion can be created. The XRPL founders gifted 80 billion XRP, the platform’s native currency, to Ripple. To provide predictability to the XRP supply, Ripple has locked 55 billion XRP (55% of the total possible supply) into a series of escrows using the XRP Ledger itself. The XRPL's transaction processing rules, enforced by the consensus protocol, control the release of the XRP.{% endtrans %}</p>
        <div class="mt-10 p-10 br-8 cta-card position-relative">
          <img src="./img/backgrounds/cta-xrp-overview-green-2.svg" class="landing-bg cta cta-bottom-right">
          <div class="z-index-1 position-relative">
            <h3 class="h4">{% trans %}As of <span class="stat-highlight" id="ripple-escrow-as-of">December 2017</span> <br/>
            <span class="d-inline-flex"><img id="xrp-mark-overview" class="mw-100 invertible-img mr-2" src="./img/logos/xrp-mark.svg" alt="XRP Logo Mark"> <span class="numbers stat-highlight" id="ripple-escrow-amount">55B</span></span><br/>
                XRP remains in escrow{% endtrans %}</h3>
          </div>
          <script type="application/javascript">
          $(document).ready(async() => {
            let resp = await fetch("https://data.ripple.com/v2/network/xrp_distribution?descending=true&limit=1")
            if (resp.ok) {
              let j = await resp.json()
              const exact_amt = j.rows[0].escrowed
              const amt_billions = Math.floor(exact_amt / 1e9)
              const when = new Date(j.rows[0].date)
              $("#ripple-escrow-as-of").text(when.toLocaleDateString(undefined, {year: 'numeric', month:'short'}))
              $("#ripple-escrow-amount").text(amt_billions + "B")
            } else {
              console.warn("Fetching data about Ripple's XRP escrow from the data API failed.")
            }
          })
          </script>
        </div>
      </div>

      <div class="link-section py-26" id="wallets">
        <h2 class="h4 h2-sm mb-8">{% trans %}What Wallets Support XRP?{% endtrans %}</h2>
        <h5 class="longform mb-10">{% trans %}Digital wallets are pieces of software that allow people to send, receive, and store cryptocurrencies, including XRP. There are two types of digital wallets: hardware and software.{% endtrans %}</h5>
        <ul class="nav nav-grid-lg cols-of-4" id="wallets">
          <li class="nav-item nav-grid-head">
            <h6 class="fs-4-5">{% trans %}Software Wallets{% endtrans %}</h6>
          </li>
          {% set softwallets = [
            { "href": "https://xumm.app/",
              "id": "wallet-xumm",
              "alt": _("Xumm") },
            { "href": _("https://trustwallet.com/"),
              "id": "wallet-trust",
              "alt": _("Trust Wallet") },
            { "href": _("https://gatehub.net/"),
              "id": "wallet-gatehub",
              "alt": _("Gatehub"),
              "imgclasses": "invertible-img" },
          ] %}
          {% for wallet in softwallets %}
          <li class="nav-item">
            <a class="nav-link external-link" href="{{wallet.href}}" target="_blank"><img class="mw-100 {% if wallet.imgclasses %}{{wallet.imgclasses}}{% endif %}" id="{{wallet.id}}" alt="{{wallet.alt}}" /></a>
          </li>
          {% endfor %}
          <li class="nav-item nav-grid-head">
            <h6 class="fs-4-5">{% trans %}Hardware Wallets{% endtrans %}</h6>
          </li>
          {% set hardwallets = [
            { "href": "https://www.ledger.com/",
              "id": "wallet-ledger",
              "alt": _("Ledger"),
              "imgclasses": "invertible-img" },
            { "href": "https://trezor.io/",
              "id": "wallet-trezor",
              "alt": _("Trezor"),
              "imgclasses": "invertible-img"},
          ] %}
          {% for wallet in hardwallets %}
          <li class="nav-item">
            <a class="nav-link external-link" href="{{wallet.href}}" target="_blank"><img class="mw-100 {% if wallet.imgclasses %}{{wallet.imgclasses}}{% endif %}" id="{{wallet.id}}" alt="{{wallet.alt}}" /></a>
          </li>
          {% endfor %}
        </ul>
          <p class="fs-3 mt-10">{% trans %}Disclaimer: This information is drawn from other sources on the internet.  XRPL.org does not endorse or recommend any exchanges or make any representations with respect to exchanges or the purchase or sale of digital assets more generally. It’s advisable to conduct your own due diligence before relying on any third party or third-party technology, and providers may vary significantly in their compliance, data security, and privacy practices.{% endtrans %}</p>
      </div>

      <div class="py-26 link-section" id="exchanges">
        <h2 class="h4 h2-sm mb-8">{% trans %}What Exchanges Support XRP?{% endtrans %}</h2>
        <h5 class="longform mb-10">{% trans %}Exchanges are where people trade currencies. XRP is traded on more than 100 markets and exchanges worldwide.{% endtrans %}</h5>
        <p class="mb-10">{% trans %}There are different types of exchanges that vary depending on the type of market (spot, futures, options, swaps), and the type of security model (custodial, non-custodial).{% endtrans %}</p>
        <div class="card-grid card-grid-2xN mb-10">
          <div>
            <h6 class="fs-4-5">{% trans %}Spot Exchanges{% endtrans %}</h6>
            <p class="mb-0">{% trans %}Spot exchanges allow people to buy and sell cryptocurrencies at current (spot) market rates.{% endtrans %}</p>
          </div>
          <div>
            <h6 class="fs-4-5">{% trans %}Futures, Options and Swap Exchanges{% endtrans %}</h6>
            <p class="mb-0">{% trans %}Futures, options and swap exchanges allow people to buy and sell standardized contracts of cryptocurrency market rates in the future.{% endtrans %}</p>
          </div>
          <div>
            <h6 class="fs-4-5">{% trans %}Custodial Exchanges{% endtrans %}</h6>
            <p class="mb-0">{% trans %}Custodial exchanges manage a user’s private keys, and publish centralized order books of buyers and sellers.{% endtrans %}</p>
          </div>
          <div>
            <h6 class="fs-4-5">{% trans %}Non-Custodial Exchanges{% endtrans %}</h6>
            <p class="mb-0">{% trans %}Non-custodial exchanges, also known as decentralized exchanges, do not manage a user’s private keys, and publish decentralized order books of buyers and sellers on a blockchain.{% endtrans %}</p>
          </div>
        </div>
        <h6>{% trans %}Top Exchanges, according to CryptoCompare{% endtrans %}</h6>
        <ul class="nav nav-grid-lg cols-of-5 mb-10" id="top-exchanges">
          {% set exchanges = [
            { "href": "https://www.bitstamp.net/",
              "id": "exch-bitstamp",
              "alt": _("Bitstamp") },
            { "href": _("https://www.kraken.com/"),
              "id": "exch-kraken",
              "alt": _("Kraken") },
            { "href": _("https://cex.io/"),
              "id":  "exch-cex-io",
              "alt": _("Cex.io") },
            { "href": _("https://www.liquid.com/"),
              "id": "exch-liquid",
              "alt": _("Liquid") },
            { "href": _("https://www.lmax.com/"),
              "id": "exch-lmax",
              "alt": _("LMAX") },
            { "href": _("https://www.bitfinex.com/"),
              "id": "exch-bitfinex",
              "alt": _("Bitfinex") },
            { "href": _("https://www.etoro.com/crypto/exchange/"),
              "id": "exch-etoro",
              "alt": _("eToro") },
            { "href": _("https://currency.com"),
              "id": "exch-currency-com",
              "alt": _("Currency.com") },
            { "href": _("https://bittrex.com/"),
              "id": "exch-bittrex",
              "alt": _("Bittrex") },
          ] %}
          {% for exch in exchanges %}
          <li class="nav-item">
            <a class="nav-link external-link" href="{{exch.href}}" target="_blank"><span class="longform mr-3">{{loop.index}}</span><img class="mw-100" id="{{exch.id}}" alt="{{exch.alt}}"></a>
          </li>
          {% endfor %}
        </ul>

        <p class="fs-3 mt-10 mb-0">{% trans %}Disclaimer: This information is drawn from other sources on the internet.  XRPL.org does not endorse or recommend any exchanges or make any representations with respect to exchanges or the purchase or sale of digital assets more generally. It’s advisable to conduct your own due diligence before relying on any third party or third-party technology, and providers may vary significantly in their compliance, data security, and privacy practices.{% endtrans %}</p>
      </div>

    </div>
  </section>
</div>


{% endblock %}


{% block analytics %}
    <script type="application/javascript">
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      "event": "page_info",
      "page_type": "Splash Page",
      "page_group": "About"
    })
    </script>
{% endblock analytics %}
