/* Error: Undefined variable.
 *      ,
 * 1326 |         transition: transform $bds-submenu-transition-duration $bds-submenu-transition-timing;
 *      |                               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *      '
 *   styles/_bds-navbar.scss 1326:31  @import
 *   styles/xrpl.scss 89:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a      \2577 \a 1326 \2502          transition: transform $bds-submenu-transition-duration $bds-submenu-transition-timing;\a      \2502                                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a      \2575 \a   styles/_bds-navbar.scss 1326:31  @import\a   styles/xrpl.scss 89:9            root stylesheet";
}
