/* Error: Top-level selectors may not contain the parent selector "&".
 *    ,
 * 21 |   html.#{$mode} & {
 *    |                 ^
 *    '
 *   styles/_helpers.scss 21:17                                    bds-theme-mode()
 *   shared/patterns/CarouselFeatured/CarouselFeatured.scss 416:1  @import
 *   styles/xrpl.scss 112:9                                        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a    \2577 \a 21 \2502    html.#{$mode} & {\a    \2502                  ^\a    \2575 \a   styles/_helpers.scss 21:17                                    bds-theme-mode()\a   shared/patterns/CarouselFeatured/CarouselFeatured.scss 416:1  @import\a   styles/xrpl.scss 112:9                                        root stylesheet';
}
