#command_list {
  list-style-type:none;
  padding:0 0 0 0;
  border-left: none;
}

aside.sidebar {
    padding-top: 15px;
}

#command_list li {
    width: 200px;
}

#command_list li.selected a {
    cursor: default;
    text-decoration: none;
    color: #444;
    background: #f0f0f0;
}

#command_list li.separator {
    color: #474648;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}
h3 {
  margin:16px 0;
  font-family:'open sans';
  font-weight:300;
  font-size:24.5px;
}
#status {
  height:120px;
  overflow:auto;
  margin-bottom:10px;
  border-radius:4px;
  border:1px dotted #aaa;
  background:#f5f5f5;
  resize:vertical;
  display:none;
}
#status * {
  resize: none;
}
#status div.result {
  border-bottom:1px dotted #aaa;
  padding:5px 0;
}
#status div.result p {
  font-size:14px;
}
#status div.result div.key {
  padding:2px 2px 2px 6px;
}
#info span.command_name {
  display:inline-block;
}
#info span.timestamp, #info span.sizestamp {
  display:inline-block;
  margin:0 5px;
  color:#aaa;
}
#response.success {
  border-top:4px solid #B5CAA0;
}
#response.error {
  border-top: 4px solid #E83015;
}
#response div.result {
  border-bottom:1px dotted #aaa;
  overflow:auto;
}
#response:focus, #status:focus {
  outline:none;
}

#request_options > div {
  margin-top: 5px;
}
#sign_button {
  display:none;
  background:#42602D;
  margin-right:22px !important;
}
#sign_button.depressed {
  background:#304621;
}

.obscured {
  opacity:.7;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  cursor:default;
}
::-webkit-scrollbar-thumb {
  background:#aaa;
  border-radius: 4px;
  cursor:pointer;
}
#online_state {
  top:10px;
  line-height:30px;
  font-size:14px;
  font-style:italic;
}
#online_state.disconnected {
  color:#E83015;
}
#online_state.connecting { }
#online_state.connected {
  color: #4A593D;
}
#invalid {
  display:none;
  color:#E83015;
  font-family:'open sans';
  font-size:14px;
}

#pause_button {
  display:inline-block;
  position:relative;
  right:-12px;
  top:3px;
  background:#aaa;
  color:#fff;
  font-size:10px;
  cursor:pointer;
  font-weight:bold;
  letter-spacing:-5px;
  text-align:center;
  width:28px;
  padding-right:6px;
  padding-bottom:2px;
  border-radius:4px;
  vertical-align:top;
  display:none;
}

ul.toolbar {
  background:#f5f5f5;
  font-size:.8em;
  border-radius:4px;
}
ul.toolbar li {
  display:inline-block;
  width:50px;
  text-align:center;
  color:#0088CC;
  line-height:28px;
  padding:0 8px;
  cursor:pointer;
}


/* JSON syntax highlighting */
#request, #request_body,
#response, #response_body,
#rest_url_wrapper {
  font-family:'inconsolata',monospace;
  font-size:13px;
  line-height:20px;
  padding:6px;
  background:#f5f5f5;
  border:1px dotted #aaa;
  border-radius:4px;
  cursor:text;
  overflow:auto;
}
#status > div {
  border-bottom:1px dotted #aaa;
}

#selected_command a {
  text-decoration:none;
  color:#3a87ad;
}

#tooltip {
  position:absolute;
  display:none;
  padding:8px 16px;
  border-radius:4px;
  background:#FBEFD5;
  border:1px dotted #7A6943;
  color:#7A6943;
  font-family:'open sans';
  font-weight:300;
  font-size:14px;
  line-height:1.5em;
  max-width:300px;
  z-index:99;
}

.CodeMirror {
  background:inherit !important;
  color:inherit !important;
  height: auto !important;
  line-height:1.3 !important;
  font-size:14px !important;
}

.CodeMirror-selected {
  background:#ddd !important;
}

/* JSON property */
span.cm-string:first-of-type {
  font-weight:bold !important;
  color:#574C57 !important;
}

span.cm-string {
  color:#516E41 !important;
}

span.cm-number {
  color:#F05E1C !important;
}

span.cm-atom {
  color:#66327C !important;
}

/* Progress spinner animation */
@keyframes rotating {
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.loader {
    width: 24px;height:24px;
}


/* Rest-tool-specific stuff */

#rest_method {
    display: inline-block;
    padding: 6px;
    vertical-align: middle;
    border: 1px dotted #aaa;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 3px;
    background-color: #c7254e;
    color: white;
    appearance: none;
    -moz-appearance: none;
}

#rest_url_wrapper {
    font-family: sans-serif;
    display: inline-block;
    text-indent: -2em;
    padding-left: 2.5em;
    width: 100%;
}

#rest_url {
    width: auto;
    border: 0;
    background: none;
    font-size:13px;
    vertical-align: top;
}

#rest_url .editable {
    font-weight: bold;
    font-family:'inconsolata',monospace;
    border-width: 0 0px 1px 0;
    border-style: dotted;
    border-color: #aaa;
    min-width: 5em;
    background: none;
    vertical-align: top;
}

#rest_url .non_editable {
    vertical-align: top;
}

#rest_url_wrapper p {
    margin: 0;
}

#rest_url div {
    display: inline-block;
}

#rest_url input {
    margin: 0 !important;
}

#rest_url div label,
#rest_url div input {
    display: block;
}
