/* Generic styles and colors not in the bootstrap files --------------------- */

body {
  font-family: Roboto, sans-serif;
}

code,
pre {
  font-family: "Roboto Mono", monospace;
}

td {
  border: 1px solid #dbdde2;
  padding: 0.2em;
  vertical-align: text-top;
}
th {
  padding: 0.2em;
}

/* Reduce external link icon size */
.fa.fa-external-link:before {
  font-size: 80%;
}

/* Top navigation ----------------------------------------------------------- */

.navbar {
  font-weight: 300;
}

.navbar-brand {
  text-decoration: none;
  white-space: pre;
}

.navbar .logo {
  margin-right: 0.5em;
  position: relative;
  bottom: 3px;
}

.navbar .navbar-brand .brand-text {
  color: #777;
}

.navbar .navbar-nav .nav-link {
  font-size: 18px;
  line-height: 38px;
  text-decoration: none;
  transition: 0.5s;
}
.navbar .navbar-nav .nav-link:hover {
  color: #27a2db;
}

.navbar .navbar-nav .active a {
  font-weight: bold;
  color: #333;
  background-color: #eee;

}
.navbar .active-parent a {
  font-weight: bold;
  background-color: #eee;
}

#navbar-search {
  position: relative;
  margin-right: 0.375rem;
}

@media (min-width: 992px) {
  #topsearchbar {
    width: 185px;
  }
}

#navbar-search .btn {
  position: absolute;
  right: 0.375rem;
}

/* Push content below fixed header ------------------------------------------ */
#main_content_wrapper {
  margin-top: 55px;
}

/* Fix so anchors don't jump under the fixed header ------------------------- */
.main h1:before,
.main h2:before,
.main h3:before,
.main h4:before,
.main h5:before,
.main h6:before,
#main_content_wrapper:before {
  display: block;
  content: " ";
  margin-top: -67px;
  height: 67px;
  visibility: hidden;
}

.card h1:before,
.card h2:before,
.card h3:before,
.card h4:before,
.card h5:before,
.card h6:before {
  display: none;
}

/* Content text styling ----------------------------------------------------- */

.content {
  padding-bottom: 50px;
}

/* Images should not exceed the main column */
.content img {
  max-width: 100%;
  height: auto;
}

/* But badge images shouldn't be resized */
.content img.dactyl_badge {
    width: initial;
}

.content a {
  text-decoration: underline;
}

.content h1 {
  margin-top: 32px;
  line-height: 1.2;
}
.content h1:first-child {
  margin-top: 0;
  line-height: 1.2;
}
.content h1:first-child:before {
  margin-top: -100px;
}
.content h2 {
  margin-top: 28px;
  line-height: 1.2;
}
.content h3 {
  margin-top: 24px;
  line-height: 1.2;
}
.content h4 {
  margin-top: 20px;
  line-height: 1.2;
}
.content h5 {
  margin-top: 16px;
  line-height: 1.2;
  font-weight: bold;
}
.content h6 {
  margin-top: 12px
  line-height: 1.2;
  font-weight: bold;
}

.content p,
.content li,
.content td {
  line-height: 1.65;
}

/* "Source" links float right */
.content a[title="Source"] {
  float: right;
  padding-left: 20px;
}

.content table {
  clear: right;
}

/* Big draft warning at top of page so it's hard to mix up with the live site */
.draft-warning {
    background-color: red;
    color: white;
    padding: 2px 6px;
    margin: 10px;
    position: absolute;
    top: 25px;
    left: 150px;
    font-size: 12px;
    font-weight: bold;
}

/* Footer ------------------------------------------------------------------- */
.ripple-footer {
  z-index: 2;
  color: #999999;
  font-size: 14px;
  background: #4e4e50 url(../img/ripple_footer_v2.jpg) repeat-x center center;
  background-position-y: -60px;
}

.ripple-footer a {
  color: #999999;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: 500;
}
.ripple-footer a:hover {
  text-decoration: underline;
  color: white;
}

.ripple-footer hr {
  border-top: 1px solid #999999;
}

.ripple-footer h5 a {
  color: #ffffff;
  letter-spacing: .04em;
  text-decoration: none;
  font-weight: 300;
  padding-bottom: 0.5rem;
}
.ripple-footer h5 a:hover {
  text-decoration: underline;
}
.absolute_bottom_footer span {
  margin-right: 25px;
}

.foot-nav-col .children-display li {
  list-style-type: none;
  margin-left: 0;
  font-size: 14px;
}

/* Callouts ----------------------------------------------------------------- */

.devportal-callout {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-left-width: 4px;
    padding: 5px;
    padding-left: 25px;
    page-break-inside: avoid;
}

.devportal-callout > strong:first-child {
    display: block;
    page-break-after: avoid;
}

.devportal-callout.tip {
    border-color: #5cb85c;
}
.devportal-callout.tip > strong:first-child:before {
    content: "\f058"; /* fontawesome check-circle icon */
    font-family: FontAwesome;
    color: #5cb85c;
    margin-left: -20px;
    padding-right: 5px;
}

.devportal-callout.note {
    border-color: #5bc0de;
}
.devportal-callout.note > strong:first-child:before {
    content: "\f05a"; /* fontawesome (i) info-circle icon */
    font-family: FontAwesome;
    color: #5bc0de;
    margin-left: -20px;
    padding-right: 5px;
}

.devportal-callout.caution {
    border-color: #f0ad4e;
}
.devportal-callout.caution > strong:first-child:before {
    content: "\f071"; /* fontawesome /!\ exclamation-triangle icon */
    font-family: FontAwesome;
    color: #f0ad4e;
    margin-left: -20px;
    padding-right: 5px;
}

.devportal-callout.warning {
    border-color: #d9534f;
}
.devportal-callout.warning > strong:first-child:before {
    content: "\f057"; /* fontawesome (x) times-circle icon */
    font-family: FontAwesome;
    color: #d9534f;
    margin-left: -20px;
    padding-right: 5px;
}

/* Button styling ----------------------------------------------------------- */

.readmore {
  display: block;
  margin: 15px auto 5px;
  text-align: center;
}

.readmore .btn {
  font-size: 18px;
  transition: 0.5s;
}

.btn-primary code {
  color: inherit;
}

a.button {
  cursor: pointer;
  text-decoration: none !important;
}

.button, #request_button { /* Should be same as btn btn-primary */
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #1db4ff;
  border-color: #1db4ff;
}
.button:hover {
  background-color: #43bded;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

/* Code Tabs ---------------------------------------------------------------- */

pre {
  overflow: visible;
  word-wrap: normal;
}
pre code {
  white-space: pre;
}
.code_sample pre {
  background: none;
  border: none;
  border-radius: 0;
}
.code_sample pre code {
  overflow: auto;
  max-height: 14em;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.code_sample pre code.expanded {
  overflow: visible;
  max-height: none;
  position: absolute;
  min-width: 661px;
}
.code_sample .code_toggler {
  position: absolute;
  bottom: 0;
  right: 0;
}

.multicode {
  color: #000;
  margin: 12px 0px 0px 0px;
  padding: 0 0 0 0;
  z-index: 1;
  padding-left: 10px;
  position: relative;
}
.multicode ul {
  margin: 0 !important;
  padding: 0;
}
.multicode pre {
  padding-top: 0;
  clear: both;
}
.multicode li {
  display: block;
  float: left;
  overflow: hidden;
  list-style-type: none;
  margin-right: 5px;
  border-top: 1px solid #DBDDE2;
}
.multicode ul > li:before {
  background: none;
  border: none;
}
.multicode a,
a.current {
  color: black;
  background: #DFE2E7;
  border: 1px solid #DBDDE2;
  padding: 1em 1em 0 1em;
  margin: 0px;
  text-decoration: none;
}
.multicode a.current {
  background: #fff;
  border-bottom: 1px solid #fff;
  color: black;
}
.multicode a:hover {
  color: black;
  background: white;
}

/* Common list modules (children, curated links) ---------------------------- */
.curated-links ul,
.curated-links ol,
.children-display ul {
  padding-left: 0;
}

.level-1,
.curated-links ul li {
  list-style-type: disc;
}
.level-1,
.curated-links li {
  font-weight: bold;
  margin-top: 15px;
  margin-left: 15px;
}
.landing .level-1,
.landing .curated-links li {
  font-weight: 400;
  font-size: 18px;
}
.level-1:first-child {
  margin-top: 0;
}
.level-2 {
  list-style-type: circle;
  margin-left: 30px;
}
.level-3 {
  list-style-type: square;
  margin-left: 45px;
}
.level-4 {
  margin-left: 60px;
}
.level-5 {
  margin-left: 75px;
  list-style-type: circle;
}
.level-6 {
  /* Probably not used */
  margin-left: 90px;
  list-style-type: square;
}


/* (Jump to) "Top" button --------------------------------------------------- */
.jump-to-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 30px;
  background-color: #333;
  font-weight: bolder;
  z-index: 1000;
  color: white;
}
@media screen and (max-width: 767px) {
  .jump-to-top {
    bottom: 40px;
    right: 40px;
  }
}


/* Breacrumbs --------------------------------------------------------------- */

.breadcrumb-item + .breadcrumb-item:before {
    content: "\f105"; /* fontawesome angle-right */
    font-family: FontAwesome;
    padding-right: 5px;
}
.breadcrumbs-wrap .breadcrumb {
  margin-bottom: 0;
}


/* Left navigation ---------------------------------------------------------- */

.sidebar_pagelist {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-bottom: 15px;
  list-style-type: none;
}

#sidenav a {
  text-decoration: none;
}
#sidenav .card-body a:hover {
  text-decoration: underline;
}

#sidenav .card + .card {
  margin: 0;
}

#sidenav .card {
  border-width: 0;
  border-color: #eee;
}

#sidenav .card-body {
  padding: 0;
}

#sidenav .collapse {
  padding-bottom: 0;
}

#sidenav .card.active {
  background-color: #f8f8f8;
}
#sidenav .card:hover {
  background-color: #f6f6f6;
}

#sidenav .card-header {
  padding: 0;
  background-color: transparent;
  border-bottom: 0;
}

#sidenav .card {
  padding: 0;
  border-radius: 0;
  border-top: 1px solid #cccccc;
}

#sidenav .card-header h5 {
  margin-bottom: 0;
  text-transform: none;
}

#sidenav .card-header h5 .sidenav_cat_title {
  display: block;
  padding: 16px 15px 16px 55px;
}
#sidenav .card-header h5 a.sidenav_cat_title {
  color: #27a2db;
}
#sidenav .card-header h5 .sidenav_cat_title.active {
  color: #333;
  font-weight: bold;
  cursor: default;
}
#sidenav .card-header h5 .sidenav_cat_title.active-parent {
  color: #333;
}

#sidenav .card-header .sidenav_cat_toggler {
    position: absolute;
    left: 0;
    padding: 15px 16px 17px 16px;
    background-color: #e0e0e0;
    color: black;
    line-height: 0;
    transition: background-color 0.5s;
}
#sidenav .card-header .sidenav_cat_toggler.collapsed {
  background-color: #ccc;
}

#sidenav .card-header .sidenav_cat_toggler:before {
    content: "-";
    width: 0.8em;
    text-align: center;
    display: block;
    line-height: 17.7px;
}
#sidenav .card-header .sidenav_cat_toggler.collapsed:before {
    content: "+";
}

.funnel-sidebar a.active {
  color: #333;
  cursor: default;
}

.xrp-ledger-dev-portal.sidebar-primary .sidebar {
  padding-right: 0;
  padding-left: 0;
}
.xrp-ledger-dev-portal.sidebar-primary .main {
  z-index: 5;
  border-left: 1px solid #cccccc;
  padding-left: 40px;
  min-height: 700px;
}

/* Right navigation --------------------------------------------------------- */

#dactyl_toc_sidebar a {
  text-decoration: none;
}
#dactyl_toc_sidebar a:hover {
  text-decoration: underline;
}

#page-toc-wrapper {
  position: fixed;
  top: 75px;
  max-height: calc(100% - 150px);
  margin-right: 1.5rem;
  overflow: auto;
  z-index: 10;
}

.card .sidebar_pagelist li a {
  display: block;
  margin-top: 5px;
  padding: 4px 15px 4px 75px;
  text-indent: -20px;
  font-size: 14px;
  color: #27a2db;
}

.card .sidebar_pagelist a.active {
  color: black;
  font-weight: bold;
}

.card .sidebar_pagelist a:hover {
  color: #333;
}

.subcat-title.active-parent {
  font-weight: bold;
}

.card .sidebar_pagelist li .subpage {
  padding-left: 105px;
}

.sidenav_parent a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 16px 15px 10px;
}

.sidenav_parent a.active {
  color: #333;
  cursor: default;
}

/* Edit on GitHub link ------------------------------------------------------ */
.github-edit-wrap {
  background-image: linear-gradient(180deg, #fafafa 0%, #ddd 90%);
  border: 1px solid #ccc;
  border-radius: 5px;
}
.github-edit-wrap:hover {
  border-color: #777;
}
.github-edit-wrap:active {
  background-image: linear-gradient(180deg, #ddd 0%, #fafafa 90%);
}
.github-edit-wrap .github-edit {
  /* background-color: black; */
  background-image: url(../vendor/github-marks/GitHub-Mark-32px.png);
  background-size: 24px 24px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  padding: 8px 8px 8px 34px;
  color: #777;
  text-decoration: none;
  font-size: 13px;
  display: block;
  line-height: 16px;
}

/* Use Cases ---------------------------------------------------------------- */
.use-case-step-num {
  border: 1px solid #333;
  border-radius: 50%;
  padding: 0.9rem;
  position: absolute;
  left: 1.8rem;
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  background-color: white;
}

.use-case-step-length {
  float: right;
  color: #888;
  font-size: 16px;
}

.use-case p:not(:first-of-type) {
  margin-top: .8rem;
  margin-bottom: -.6rem;
  padding-left: 2.5rem;
  margin-left: 2.5rem;
  border-left: 1px dashed #333;
}
.use-case h2 {
  margin-left: 5rem;
  margin-top: 0;
}

/* Landing Pages ------------------------------------------------------------ */

.landing a .card {
  color: #212529;
}

.landing .card li {
  list-style-type: none;
  margin-left: 0;
}

.landing section:first-of-type {
  padding-top: 0;
  border-top-width: 0;
}

#home_first_shortcuts .card {
  border-width: 0;
  background: none;
}

#home_first_shortcuts .card-header {
  background: none;
  border-bottom: none;
}

.landing h2,
.landing h3 {
  font-weight: 300;
}

.landing section .card-header h3 {
  font-size: 30px;
}

#xrp_ledger_intro h3 {
  font-size: 25px;
}

.landing .card-img-top {
  height: 6rem;
}

#xrp_ledger_intro .card-img-top {
  display: block;
}

#xrp_ledger_intro .card-footer {
  border-width: 0;
  border-radius: 0;
  background: none;
}

#xrp_ledger_intro .card-body {
  padding: 1px;
}

.landing .card-title > a {
  text-decoration: none;
}

.landing .curated-links li:first-child {
  margin-top: 5px;
}

.splash-head {
  background-color: #102b3e;
  background-image: url("../img/home-bg-cubes.jpg");
  background-size: cover;
  background-position: top center;
  color: white;
}

.splash-head h1 {
  font-weight: 700;
}

.splash-head p {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}

.splash-head code {
  color: white;
}

.build-disclaimer {
  font-size: 10pt;
}


/* "Related Projects" (i.e. Client Portal & Interledger) boxes -------------- */

.related-projects a {
  text-decoration: none;
}
.related-projects h3 {
  margin: 0;
  padding: 5px 15px;
}
.related-projects .project-name {
  font-size: 18px;
}
.related-projects .login-required {
  font-size: 12px;
}
.related-projects p {
  margin: 10px;
}
.related-projects .project-icon {
  width: 120px;
  float: left;
  margin-right: 10px;
}


/* Responsive design for different viewscreens ------------------------------ */

@media (max-width: 991px) {
  #page-toc-wrapper {
    position: static;
    display: block;
    clear: both;
    overflow-y: inherit;
    max-width: 100%;
    max-height: inherit;
    word-break: break-all;
  }
  .main {
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
  }
}
@media (max-width: 480px) {
  html {
    overflow-x: hidden !important;
  }
}
@media (max-width: 400px) {
  .navbar .navbar-brand .brand-text {
    margin-right: 0;
    letter-spacing: -0.08rem;
  }
  .navbar .navbar-brand {
    margin-right: 0;
  }
  .navbar .navbar-brand .logo {
    margin-right: 0;
    margin-left: -1rem;
  }
}

/* Print styles ------------------------------------------------------------- */
@media print {
  {
    /* undo code tabs */
    /* wrap code, not scroll */
    /* Source URLs are too big to float */
    /* Show URLs after links - even for anchors */
    /* Drop header, footer, google translate */
    /* table of contents can't scroll */
    /* better margins on main content */
    /* crazy print-section-numbering idea */
  }
  .multicode > div {
    display: block !important;
  }
  .multicode > ul {
    display: none !important;
  }
  .multicode > em,
  .multicode > p > em {
    display: block !important;
    page-break-after: avoid;
  }
  .multicode > p {
    display: block !important;
  }
  pre {
    white-space: pre-wrap;
    max-height: none !important;
    overflow: visible;
    page-break-inside: auto;
    word-wrap: break-word;
  }
  pre code {
    white-space: pre-wrap !important;
  }
  .content a[title="Source"] {
    float: none;
  }
  header,
  footer {
    display: none;
  }
  #goog-gt-tt {
    display: none;
  }
  h1 {
    page-break-before: always;
  }
  .main {
    float: none !important;
    width: 85% !important;
    border-left: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    display: block !important;
    overflow: visible !important;
  }
}
