.no-sidebar aside.sidebar {
    display: none;
}

.devportal-callout {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-left-width: 4px;
    padding: 5px;
    padding-left: 25px;
    page-break-inside: avoid;
}

.devportal-callout > strong:first-child {
    display: block;
    page-break-after: avoid;
}

.devportal-callout.tip {
    border-color: #5cb85c;
}
.devportal-callout.tip > strong:first-child:before {
    content: "\f058"; /* fontawesome check-circle icon */
    font-family: FontAwesome;
    color: #5cb85c;
    margin-left: -20px;
    padding-right: 5px;
}

.devportal-callout.note {
    border-color: #5bc0de;
}
.devportal-callout.note > strong:first-child:before {
    content: "\f05a"; /* fontawesome (i) info-circle icon */
    font-family: FontAwesome;
    color: #5bc0de;
    margin-left: -20px;
    padding-right: 5px;
}

.devportal-callout.caution {
    border-color: #f0ad4e;
}
.devportal-callout.caution > strong:first-child:before {
    content: "\f071"; /* fontawesome /!\ exclamation-triangle icon */
    font-family: FontAwesome;
    color: #f0ad4e;
    margin-left: -20px;
    padding-right: 5px;
}

.devportal-callout.warning {
    border-color: #d9534f;
}
.devportal-callout.warning > strong:first-child:before {
    content: "\f057"; /* fontawesome (x) times-circle icon */
    font-family: FontAwesome;
    color: #d9534f;
    margin-left: -20px;
    padding-right: 5px;
}

.navbar-header {
    float: left;
}

/* Big draft warning at top of page so it's hard to mix up with the live site */
.draft-warning {
    background-color: red;
    color: white;
    padding: 2px 6px;
    margin: 10px;
    position: absolute;
    top: 34px;
    left: calc(calc(calc(100% - 1070px) / 2) + 90px);
    font-size: 12px;
    font-weight: bold;
}

/* Images should not exceed the main column */
.content img {
  max-width: 100%;
  height: auto;
}

/* But badge images shouldn't be resized */
.content img.dactyl_badge {
    width: initial;
}

.no-1st-head h1:first-child,
.no-1st-head h2:first-child,
.no-1st-head h3:first-child,
.no-1st-head h4:first-child,
.no-1st-head h5:first-child,
.no-1st-head h6:first-child {
  visibility: hidden;
  margin: 0;
  padding: 0;
  line-height: 0;
}
.no-1st-head h1:first-child:before {
  margin-top: -167px;
  height: 167px;
}
.content p {
  line-height: 1.8;
}

.content h1 {
  margin-top: 32px;
  line-height: 1.2;
}
.content h2 {
  margin-top: 28px;
  line-height: 1.2;
}
.content h3 {
  margin-top: 24px;
  line-height: 1.2;
}
.content h4 {
  margin-top: 20px;
  line-height: 1.2;
}
.content h5 {
  margin-top: 16px;
  line-height: 1.2;
  font-weight: bold;
}
.content h6 {
  margin-top: 12px
  line-height: 1.2;
  font-weight: bold;
}


/* "Button-style" links should look like buttons, not links */
a.button {
  cursor: pointer;
  text-decoration: none !important;
}

/* Code Tabs stuff */
.multicode {
  color: #000;
  margin: 12px 0px 0px 0px;
  padding: 0 0 0 0;
  z-index: 1;
  padding-left: 10px;
  position: relative;
}
.multicode ul {
  margin: 0 !important;
  padding: 0;
}
.multicode pre {
  padding-top: 0;
  clear: both;
}
.multicode li {
  display: block;
  float: left;
  overflow: hidden;
  list-style-type: none;
  margin-right: 5px;
  border-top: 1px solid #DBDDE2;
}
.multicode ul > li:before {
  background: none;
  border: none;
}
.multicode a,
a.current {
  color: black;
  background: #DFE2E7;
  border: 1px solid #DBDDE2;
  padding: 1em 1em 0 1em;
  margin: 0px;
  text-decoration: none;
}
.multicode a.current {
  background: #fff;
  border-bottom: 1px solid #fff;
  color: black;
}
.multicode a:hover {
  color: black;
  background: white;
}
/* End of code tabs stuff */

.button {
  border-radius: 5px;
  background-color: #27a2db;
  padding: 5px 20px;
  text-align: center;
  cursor: default;
  margin: 10px 0;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
.button:hover {
  background-color: #43bded;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
pre {
  overflow: visible;
  word-wrap: normal;
}
pre code {
  white-space: pre;
}
.code_sample pre {
  background: none;
  border: none;
  border-radius: 0;
}
.code_sample pre code {
  overflow: auto;
  max-height: 14em;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.code_sample pre code.expanded {
  overflow: visible;
  max-height: none;
  position: absolute;
  min-width: 661px;
}
.code_sample .code_toggler {
  position: absolute;
  bottom: 0;
  right: 0;
}
.xrp-ledger-dev-portal.sidebar-primary .sidebar {
  padding-right: 0;
  padding-left: 0;
}
.xrp-ledger-dev-portal.sidebar-primary .main {
  z-index: 5;
  border-left: 1px solid #cccccc;
  padding-left: 40px;
}
.content {
  padding-bottom: 50px;
}
#dactyl_toc_sidebar a {
  text-decoration: none;
}
#dactyl_toc_sidebar a:hover {
  text-decoration: underline;
}
.level-1 {
  margin-top: 15px;
  padding-left: 15px;
  font-weight: bold;
}
.level-1:first-child {
  margin-top: 0;
}
.level-2 {
  padding-left: 30px;
}
.level-3 {
  padding-left: 45px;
}
.level-3 a {
  color: #888;
}
.level-3 a:hover {
  color: #333;
}

.dev_nav_sidebar {
  padding-left: 10px;
  padding-top: 0;
  list-style-type: none;
  margin-bottom: 0;
}
.dev_nav_sidebar li:before {
  content: "\f105"; /* fontawesome angle-right */
  font-family: FontAwesome;
  position: relative;
  left: -15px;
  margin-right: -5px;
}

.dev_nav_wrapper {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
  top: 130px;
}
td {
  border: 1px solid #dbdde2;
  padding: 0.2em;
  vertical-align: text-top;
}
th {
  padding: 0.2em;
}
.content a[title="Source"] {
  float: right;
  padding-left: 20px;
}
.content table {
  clear: right;
}
.main h1:before,
.main h2:before,
.main h3:before,
.main h4:before,
.main h5:before,
.main h6:before,
#main_content_wrapper:before {
  display: block;
  content: " ";
  margin-top: -67px;
  height: 67px;
  visibility: hidden;
}

/*------------- Code Tabs -----------------------------------------*/
.multicode {
	color: #000;
	border-bottom: 1px solid #DBDDE2;
	margin: 12px 0px 0px 0px;
	padding: 0 0 0 0;
	z-index: 1;
	padding-left: 10px;
}

.multicode ul {
    padding-bottom: 0;
}

.multicode pre {
    padding-top: 0;
}

.multicode li {
	display: inline;
	overflow: hidden;
	list-style-type: none;
}

.multicode ul > li:before {
    background: none;
    border: none;
}

.multicode a, a.current {
	color: black;
	background: #DFE2E7;
	border: 1px solid #DBDDE2;
	padding: 1em 1em 0 1em;
	margin: 0px;
	text-decoration: none; }

.multicode a.current {
	background: #fff;
	border-bottom: 1px solid #fff;
    color : black;
}

.multicode a:hover {
	color: black;
	background: white;
}

.navbar-default {
    background-color: #fff;
    border-bottom: 1px solid #27a2db;
}

.navbar-brand {
  text-decoration: none;
  white-space: pre;
}

.navbar-default .logo {
    float: left;
    margin-right: 0.5em;
}

.navbar-default .navbar-brand .brand-text {
  font-family: open_sansbold, sans-serif;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: -5px;
  margin-top: 20px;
}

.navbar-default .navbar-nav > li > a {
    font-size: 14px;
    line-height: 30px;
    color: #777;
}

.navbar-default a.active {
    color: #27a2db !important;
}

.wrap-container {
  margin-top: 106px;
}

.no-sidebar main .container {
  padding-left: 0;
}

#main_content_wrapper {
  margin-top: 67px;
  padding-left: 0;
  padding-right: 0;
}

.jump-to-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 30px;
  background-color: #333;
  font-weight: bolder;
  z-index: 1000;
  color: white;
}
@media screen and (max-width: 767px) {
  .jump-to-top {
    bottom: 40px;
    right: 40px;
  }
}

.breadcrumb {
  margin: 0;
  padding: 15px;
  padding-left: 5px;
  background: transparent;
  float: left;
  vertical-align: middle;
}

.breadcrumb li {
  margin: 0;
  margin-bottom: -4px;
  line-height: 36px;
}
.breadcrumb > li + li:before {
    content: "\f105"; /* fontawesome angle-right */
    font-family: FontAwesome;
    padding-right: 5px;
}
.breadcrumb > li.active {
  color: #666;
}

/* "â† Back to guide" link in sidebar */
.back_to_guide a {
  display: block;
  font-size: 14px;
  padding: 27px 0 14px 15px;
  color: #666;
  border-bottom: 1px solid #eee;
}
.back_to_guide a:before {
    content: "\f100"; /* fontawesome angle-double-left */
    font-family: FontAwesome;
    padding-right: 15px;
    color: #666;
}

/* Accordion styling for sidebar navigation */
.sidebar_cat_pagelist {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

#sidenav_accordion a {
  text-decoration: none;
}
#sidenav_accordion .panel-body a:hover {
  text-decoration: underline;
}

#sidenav_accordion .panel + .panel {
  margin: 0;
}

#sidenav_accordion .panel-default {
  border-width: 0;
  border-color: #eee;
}

#sidenav_accordion .panel-body {
  padding: 0;
}

#sidenav_accordion .collapse {
  padding-bottom: 0;
}

#sidenav_accordion .panel.active {
  background-color: #f8f8f8;
}
#sidenav_accordion .panel:hover {
  background-color: #f6f6f6;
}

#sidenav_accordion .panel-heading {
  padding: 0;
  background-color: transparent;
}

#sidenav_accordion .panel {
  padding: 0;
  border-radius: 0;
}

#sidenav_accordion .panel-heading h5 {
  margin-bottom: 0;
  text-transform: none;
}

#sidenav_accordion .panel-heading h5 a {
  display: block;
  padding: 16px 15px;
  font-family: "open_sansregular", sans-serif;
  color: #666;
}

#sidenav_accordion .panel-heading a:before {
    content: "\f106"; /* fontawesome angle-up */
    font-family: FontAwesome;
    margin-left: -20px;
    padding-right: 5px;
    float: right;
}
#sidenav_accordion .panel-heading a.collapsed:before {
    content: "\f107"; /* fontawesome angle-down */
}


#sidenav_accordion .panel .sidebar_cat_pagelist li a {
  display: block;
  margin-top: 5px;
  padding: 4px 15px 4px 55px;
  text-indent: -20px;
  font-size: 14px;
  color: #27a2db;
}

#sidenav_accordion .panel .sidebar_cat_pagelist a.active {
  color: black;
  font-weight: bold;
}

#sidenav_accordion .panel .sidebar_cat_pagelist a:hover {
  color: #333;
}

/* Edit on GitHub link --------- */
.github-edit-wrap {
  position: absolute;
  right: 0;
  background-image: linear-gradient(180deg, #fafafa 0%, #ddd 90%);
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 15px;
}
.github-edit-wrap:hover {
  border-color: #777;
}
.github-edit-wrap:active {
  background-image: linear-gradient(180deg, #ddd 0%, #fafafa 90%);
}
.github-edit-wrap .github-edit {
  /* background-color: black; */
  background-image: url(../vendor/github-marks/GitHub-Mark-32px.png);
  background-size: 24px 24px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  padding: 8px 8px 8px 34px;
  color: #777;
  text-decoration: none;
  font-size: 13px;
  display: block;
}

.portal-index ul {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0;
}

.portal-index li {
    font-size: 14px;
    list-style: outside none none;
    padding: 5px;
    padding-left: 25px;
    text-indent: 20px;
}

.portal-index li.top {
    text-indent: 0;
}

.portal-index .dev_heading {
    font-family: "Open Sans",sans-serif;
    letter-spacing: 0.04em;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #202020;
}
.portal-index a.dev_heading:hover {
  color: #27a2db;
  text-decoration: underline;
}

.build-disclaimer {
  font-size: 10pt;
  margin: 2em 0;
  padding-top: 2em;
  border-top: 1px solid #777;
}

.related-projects {
  position: absolute;
  top: 70px;
  right: 15px;
  width: 375px;
  border: 1px solid #777;
  border-radius: 5px;
}
.related-projects a {
  text-decoration: none;
}
.related-projects .project {
  clear: left;
}
.related-projects h3 {
  margin: 0;
  padding: 5px 15px;
  border-bottom: 1px dashed #777;
}
.related-projects .project-name {
  font-family: open_sanslight, sans-serif;
  font-size: 18px;
  display: block;
}
.related-projects .login-required {
  display: block;
  font-size: 12px;
}
.related-projects p {
  margin: 10px;
}
.related-projects .project-icon {
  width: 120px;
  float: left;
  margin-right: 10px;
}

/* Responsive design for different viewscreens -------------------------------*/
@media (min-width: 1200px) {
  #page-toc-wrapper {
    float: right;
    margin-left: 15px;
  }
  .draft-warning {
    left: calc(calc(calc(100% - 1170px) / 2) + 140px);
  }
}
@media (min-width: 1400px) {
  .container {
    margin-right: calc(calc(calc(100% - 1300px) / 2) + 230px);
  }
  #page-toc-wrapper {
    position: fixed;
    left: calc(calc(calc(100% - 1300px) / 2) + 1120px);
    top: 80px;
    max-width: 350px;
    margin-right: 15px;
    max-height: calc(100% - 150px);
    overflow-y: auto;
  }
  .draft-warning {
    left: calc(calc(calc(100% - 1370px) / 2) + 140px);
  }
}
@media (max-width: 1200px) {
  #page-toc-wrapper {
    float: right;
    margin-left: 15px;
  }
  .dev_nav_wrapper {
    max-width: 290px;
  }
  .draft-warning {
    left: calc(calc(calc(100% - 870px) / 2) + 90px);
  }

}
@media (max-width: 992px) {
  #page-toc-wrapper {
    position: static;
    float: none;
    max-width: none;
  }
  .dev_nav_wrapper {
    max-width: 230px;
  }
  .draft-warning {
    left: 140px;
  }

  /* Move "Related Projects" to bottom */
  .related-projects {
    position: static;
    width: auto;
    border: none;
    margin-top: 0;
  }
  .related-projects .project-icon {
    display: none;
  }
  .related-projects h3 {
    padding: inherit;
    border-bottom: none;
    margin-top: 50px;
  }
  .related-projects .project-name,
  .related-projects .login-required {
    display: inline;
    font-size: inherit;
  }
  .related-projects p {
    margin-left: 25px;
  }
  .related-projects .project-summary {
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  #main_content_wrapper {
    margin-top: 0;
  }
  .navbar-fixed-top {
    position: static;
    margin-bottom: -70px;
  }
  .dev_nav_wrapper,
  .sidebar {
    display: block;
    clear: both;
    overflow-y: inherit;
    position: static;
    max-width: 100%;
  }
  .main {
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
  }
  .github-edit-wrap {
    display: none;
  }
  .nav {
    min-width: 350px;
  }
  .nav .breadcrumb .crumb-top:before {
    display: none;
  }
}
@media (max-width: 480px) {
  html {
    overflow-x: hidden !important;
  }
}
@media print {
  {
    /* undo code tabs */
    /* wrap code, not scroll */
    /* Source URLs are too big to float */
    /* Show URLs after links - even for anchors */
    /* Drop header, footer, google translate */
    /* table of contents can't scroll */
    /* better margins on main content */
    /* crazy print-section-numbering idea */
  }
  .multicode > div {
    display: block !important;
  }
  .multicode > ul {
    display: none !important;
  }
  .multicode > em,
  .multicode > p > em {
    display: block !important;
    page-break-after: avoid;
  }
  .multicode > p {
    display: block !important;
  }
  pre {
    white-space: pre-wrap;
    max-height: none !important;
    overflow: visible;
    page-break-inside: auto;
    word-wrap: break-word;
  }
  pre code {
    white-space: pre-wrap !important;
  }
  .content a[title="Source"] {
    float: none;
  }
  header,
  footer {
    display: none;
  }
  #goog-gt-tt {
    display: none;
  }
  .dev_nav_wrapper {
    position: static !important;
  }
  .sidebar:before {
    display: none !important;
  }
  .sidebar {
    padding-top: 0 !important;
    display: block !important;
    float: none !important;
  }
  h1 {
    page-break-before: always;
  }
  .main {
    float: none !important;
    width: 85% !important;
    border-left: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    display: block !important;
    overflow: visible !important;
  }
}
