.no-sidebar aside.sidebar {
    display: none;
}

.devportal-callout {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-left-width: 4px;
    padding: 5px;
    padding-left: 25px;
    page-break-inside: avoid;
}

.devportal-callout > strong:first-child {
    display: block;
    page-break-after: avoid;
}

.devportal-callout.tip {
    border-color: #5cb85c;
}
.devportal-callout.tip > strong:first-child:before {
    content: "\f058"; /* fontawesome check-circle icon */
    font-family: FontAwesome;
    color: #5cb85c;
    margin-left: -20px;
    padding-right: 5px;
}

.devportal-callout.note {
    border-color: #5bc0de;
}
.devportal-callout.note > strong:first-child:before {
    content: "\f05a"; /* fontawesome (i) info-circle icon */
    font-family: FontAwesome;
    color: #5bc0de;
    margin-left: -20px;
    padding-right: 5px;
}

.devportal-callout.caution {
    border-color: #f0ad4e;
}
.devportal-callout.caution > strong:first-child:before {
    content: "\f071"; /* fontawesome /!\ exclamation-triangle icon */
    font-family: FontAwesome;
    color: #f0ad4e;
    margin-left: -20px;
    padding-right: 5px;
}

.devportal-callout.warning {
    border-color: #d9534f;
}
.devportal-callout.warning > strong:first-child:before {
    content: "\f057"; /* fontawesome (x) times-circle icon */
    font-family: FontAwesome;
    color: #d9534f;
    margin-left: -20px;
    padding-right: 5px;
}

.navbar-header {
    float: left;
}

/* Big draft warning at top of page so it's hard to mix up with the live site */
.draft-warning {
    background-color: red;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    float: right;
}

/* Images should not exceed the main column */
.xrp-ledger-dev-portal .content img {
  max-width: 100%;
  height: auto;
}

/* But badge images shouldn't be resized */
.content img.dactyl_badge {
    width: initial;
}

.no-1st-head h1:first-child,
.no-1st-head h2:first-child,
.no-1st-head h3:first-child,
.no-1st-head h4:first-child,
.no-1st-head h5:first-child,
.no-1st-head h6:first-child {
  display: none;
}
.content p {
  line-height: 1.8;
}

.content h1 {
  margin-top: 32px;
  line-height: 1.2;
}
.content h2 {
  margin-top: 28px;
  line-height: 1.2;
}
.content h3 {
  margin-top: 24px;
  line-height: 1.2;
}
.content h4 {
  margin-top: 20px;
  line-height: 1.2;
}
.content h5 {
  margin-top: 16px;
  line-height: 1.2;
  font-weight: bold;
}
.content h6 {
  margin-top: 12px
  line-height: 1.2;
  font-weight: bold;
}

/* Underline links in Dev Portal content */
.xrp-ledger-dev-portal .main a {
  text-decoration: underline !important;
}

/* "Button-style" links should look like buttons, not links */
.xrp-ledger-dev-portal a.button {
  cursor: pointer;
  text-decoration: none !important;
}

/* Code Tabs stuff */
.xrp-ledger-dev-portal .multicode {
  color: #000;
  margin: 12px 0px 0px 0px;
  padding: 0 0 0 0;
  z-index: 1;
  padding-left: 10px;
  position: relative;
}
.xrp-ledger-dev-portal .multicode ul {
  margin: 0 !important;
  padding: 0;
}
.xrp-ledger-dev-portal .multicode pre {
  padding-top: 0;
  clear: both;
}
.xrp-ledger-dev-portal .multicode li {
  display: block;
  float: left;
  overflow: hidden;
  list-style-type: none;
  margin-right: 5px;
  border-top: 1px solid #DBDDE2;
}
.xrp-ledger-dev-portal .multicode ul > li:before {
  background: none;
  border: none;
}
.xrp-ledger-dev-portal .multicode a,
.xrp-ledger-dev-portal a.current {
  color: black;
  background: #DFE2E7;
  border: 1px solid #DBDDE2;
  padding: 1em 1em 0 1em;
  margin: 0px;
  text-decoration: none;
}
.xrp-ledger-dev-portal .multicode a.current {
  background: #fff;
  border-bottom: 1px solid #fff;
  color: black;
}
.xrp-ledger-dev-portal .multicode a:hover {
  color: black;
  background: white;
}
/* End of code tabs stuff */

.xrp-ledger-dev-portal .button {
  border-radius: 5px;
  background-color: #27a2db;
  padding: 5px 20px;
  text-align: center;
  cursor: default;
  margin: 10px 0;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
.xrp-ledger-dev-portal .button:hover {
  background-color: #43bded;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
.xrp-ledger-dev-portal pre {
  overflow: visible;
  word-wrap: normal;
}
.xrp-ledger-dev-portal pre code {
  white-space: pre;
}
.xrp-ledger-dev-portal .code_sample pre {
  background: none;
  border: none;
  border-radius: 0;
}
.xrp-ledger-dev-portal .code_sample pre code {
  overflow: auto;
  max-height: 14em;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.xrp-ledger-dev-portal .code_sample pre code.expanded {
  overflow: visible;
  max-height: none;
  position: absolute;
  min-width: 661px;
}
.xrp-ledger-dev-portal .code_sample .code_toggler {
  position: absolute;
  bottom: 0;
  right: 0;
}
.xrp-ledger-dev-portal .navbar-default {
  border-bottom: none;
}
.xrp-ledger-dev-portal .wrap.container {
  margin-top: 106px;
}
.xrp-ledger-dev-portal.sidebar-primary .main {
  z-index: 5;
  border-left: 1px solid #cccccc;
  padding-left: 40px;
}
.xrp-ledger-dev-portal .content {
  padding-bottom: 50px;
}
.xrp-ledger-dev-portal .level-1 {
  padding-left: 15px;
}
.xrp-ledger-dev-portal .level-2 {
  padding-left: 30px;
}
.xrp-ledger-dev-portal .level-3 {
  padding-left: 45px;
}

.xrp-ledger-dev-portal #page-toc-wrapper {
  max-width: 200px;
  float: right;
  position: absolute;
  right: -210px;
}

.xrp-ledger-dev-portal .dev_nav_sidebar {
  padding-left: 5px;
  list-style-type: none;
  max-width: 370px;
}
.xrp-ledger-dev-portal .dev_nav_sidebar li:before {
  content: "\f105"; /* fontawesome angle-right */
  font-family: FontAwesome;
  position: relative;
  left: -15px;
  margin-right: -5px;
}

.xrp-ledger-dev-portal .dev_nav_wrapper {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
  top: 130px;
}
.xrp-ledger-dev-portal td {
  border: 1px solid #dbdde2;
  padding: 0.2em;
  vertical-align: text-top;
}
.xrp-ledger-dev-portal th {
  padding: 0.2em;
}
.xrp-ledger-dev-portal .content a[title="Source"] {
  float: right;
  padding-left: 20px;
}
.xrp-ledger-dev-portal .content table {
  clear: right;
}
.xrp-ledger-dev-portal .main h1:before,
.xrp-ledger-dev-portal .main h2:before,
.xrp-ledger-dev-portal .main h3:before,
.xrp-ledger-dev-portal .main h4:before,
.xrp-ledger-dev-portal .main h5:before,
.xrp-ledger-dev-portal .main h6:before,
#main_content_wrapper:before {
  display: block;
  content: " ";
  margin-top: -67px;
  height: 67px;
  visibility: hidden;
}
@media (max-width: 1200px) {
  .xrp-ledger-dev-portal .dev_nav_wrapper {
    max-width: 290px;
  }
  .xrp-ledger-dev-portal #page-toc-wrapper {
    position: static;
    float: none;
    max-width: none;
  }
  .sidebar-primary .wrap.container {
    width: inherit;
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  .xrp-ledger-dev-portal .dev_nav_wrapper {
    max-width: 230px;
  }
}
@media (max-width: 768px) {
  .xrp-ledger-dev-portal .dev_nav_wrapper,
  .xrp-ledger-dev-portal .sidebar {
    display: block;
    clear: both;
    overflow-y: inherit;
    position: static;
    max-width: 100%;
  }
  .xrp-ledger-dev-portal .main {
    position: static;
    clear: both;
    border-left: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  .xrp-ledger-dev-portal .main {
    float: right;
  }
}
@media (max-width: 480px) {
  .xrp-ledger-dev-portal html {
    overflow-x: hidden !important;
  }
}
@media print {
  .xrp-ledger-dev-portal {
    /* undo code tabs */
    /* wrap code, not scroll */
    /* Source URLs are too big to float */
    /* Show URLs after links - even for anchors */
    /* Drop header, footer, google translate */
    /* table of contents can't scroll */
    /* better margins on main content */
    /* crazy print-section-numbering idea */
  }
  .xrp-ledger-dev-portal .multicode > div {
    display: block !important;
  }
  .xrp-ledger-dev-portal .multicode > ul {
    display: none !important;
  }
  .xrp-ledger-dev-portal .multicode > em,
  .xrp-ledger-dev-portal .multicode > p > em {
    display: block !important;
    page-break-after: avoid;
  }
  .xrp-ledger-dev-portal .multicode > p {
    display: block !important;
  }
  .xrp-ledger-dev-portal pre {
    white-space: pre-wrap;
    max-height: none !important;
    overflow: visible;
    page-break-inside: auto;
    word-wrap: break-word;
  }
  .xrp-ledger-dev-portal pre code {
    white-space: pre-wrap !important;
  }
  .xrp-ledger-dev-portal .content a[title="Source"] {
    float: none;
  }
  .xrp-ledger-dev-portal header,
  .xrp-ledger-dev-portal footer {
    display: none;
  }
  .xrp-ledger-dev-portal #goog-gt-tt {
    display: none;
  }
  .xrp-ledger-dev-portal .wrap.container {
    margin-top: 0 !important;
  }
  .xrp-ledger-dev-portal .dev_nav_wrapper {
    position: static !important;
  }
  .xrp-ledger-dev-portal .sidebar:before {
    display: none !important;
  }
  .xrp-ledger-dev-portal .sidebar {
    padding-top: 0 !important;
    display: block !important;
    float: none !important;
  }
  .xrp-ledger-dev-portal h1 {
    page-break-before: always;
  }
  .xrp-ledger-dev-portal .main {
    float: none !important;
    width: 85% !important;
    border-left: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    display: block !important;
    overflow: visible !important;
  }
}

/*------------- Code Tabs -----------------------------------------*/
.multicode {
	color: #000;
	border-bottom: 1px solid #DBDDE2;
	margin: 12px 0px 0px 0px;
	padding: 0 0 0 0;
	z-index: 1;
	padding-left: 10px;
}

.multicode ul {
    padding-bottom: 0;
}

.multicode pre {
    padding-top: 0;
}

.multicode li {
	display: inline;
	overflow: hidden;
	list-style-type: none;
}

.multicode ul > li:before {
    background: none;
    border: none;
}

.multicode a, a.current {
	color: black;
	background: #DFE2E7;
	border: 1px solid #DBDDE2;
	padding: 1em 1em 0 1em;
	margin: 0px;
	text-decoration: none; }

.multicode a.current {
	background: #fff;
	border-bottom: 1px solid #fff;
    color : black;
}

.multicode a:hover {
	color: black;
	background: white;
}

.navbar-default {
    background-color: #fff;
    border-bottom: 1px solid #27a2db;
}

.navbar-brand {
  vertical-align: middle;
  text-decoration: none;
}

.navbar-default .logo {
    float: left;
    margin-right: 0.5em;
}

.navbar-default .navbar-brand .brand-text {
  font-family: open_sansbold, sans-serif;
  font-weight: bold;
  line-height: 40px;
}

.navbar-default .navbar-nav > li > a {
    font-size: 14px;
    line-height: 30px;
    color: #777;
}

.navbar-default a.active {
    color: #27a2db !important;
}

.dev_nav .breadcrumb {
  margin-bottom: 0;
}

.wrap-container {
  margin-top: 106px;
}

.no-sidebar main .container {
  padding-left: 0;
}

#main_content_wrapper {
  margin-top: 67px;
  padding-left: 0;
}

.jump-to-top {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 80px;
  background-color: #333;
  font-weight: bolder;
  z-index: 1000;
  color: white;
}
@media screen and (max-width: 767px) {
  .jump-to-top {
    bottom: 40px;
    right: 40px;
  }
}

.xrp-ledger-dev-portal .breadcrumb li {
  margin: 0;
}
.xrp-ledger-dev-portal .breadcrumb > li + li:before {
    content: "\f105"; /* fontawesome angle-right */
    font-family: FontAwesome;
    padding-right: 5px;
}
.xrp-ledger-dev-portal .breadcrumb > li.active {
  color: #666;
}

/* "← Back to guide" link in sidebar */
.back_to_guide a {
  display: block;
  font-size: 14px;
  padding: 27px 0 14px 15px;
  color: #666;
  border-bottom: 1px solid #eee;
}
.back_to_guide a:before {
    content: "\f100"; /* fontawesome angle-double-left */
    font-family: FontAwesome;
    padding-right: 15px;
    color: #666;
}

/* Accordion styling for sidebar navigation */
.sidebar_cat_pagelist {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

#sidenav_accordion a {
  text-decoration: none;
}
#sidenav_accordion .panel-body a:hover {
  text-decoration: underline;
}

#sidenav_accordion .panel + .panel {
  margin: 0;
}

#sidenav_accordion .panel-default {
  border-width: 0;
  border-color: #eee;
}

#sidenav_accordion .panel-body {
  padding: 0;
}

#sidenav_accordion .collapse {
  padding-bottom: 0;
}

#sidenav_accordion .panel.active {
  background-color: #f8f8f8;
}
#sidenav_accordion .panel:hover {
  background-color: #f6f6f6;
}

#sidenav_accordion .panel-heading {
  padding: 0;
  background-color: transparent;
}

#sidenav_accordion .panel {
  padding: 0;
  border-radius: 0;
}

#sidenav_accordion .panel-heading h5 {
  margin-bottom: 0;
  text-transform: none;
}

#sidenav_accordion .panel-heading h5 a {
  display: block;
  padding: 16px 15px;
  font-family: "open_sansregular", sans-serif;
  color: #666;
}

#sidenav_accordion .panel-heading a:before {
    content: "\f106"; /* fontawesome angle-up */
    font-family: FontAwesome;
    margin-left: -20px;
    padding-right: 5px;
    float: right;
}
#sidenav_accordion .panel-heading a.collapsed:before {
    content: "\f107"; /* fontawesome angle-down */
}


#sidenav_accordion .panel .sidebar_cat_pagelist li a {
  display: block;
  margin-top: 5px;
  padding: 4px 15px 4px 55px;
  text-indent: -20px;
  font-size: 14px;
  color: #27a2db;
}

#sidenav_accordion .panel .sidebar_cat_pagelist a.active {
  color: black;
  font-weight: bold;
}

#sidenav_accordion .panel .sidebar_cat_pagelist a:hover {
  color: #333;
}

/* Edit on GitHub link --------- */
.github-edit-wrap .github-edit {
  background-color: black;
  background-image: url(../vendor/github-marks/GitHub-Mark-Light-32px.png);
  background-position: left center;
  background-repeat: no-repeat;
  color: white;
  border-radius: 8px;
  margin: 10px;
  float: right;
  padding: 10px 20px 10px 38px;
  text-decoration: none;
}
.github-edit-wrap .github-edit:hover {
  text-decoration: underline;
}

.build-index .top {
    text-indent: -20px;
}

.build-index ul {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0;
}

.build-index ul li {
    font-size: 14px;
    list-style: outside none none;
    padding: 5px;
    padding-left: 25px;
}

.build-index .dev_heading {
    font-family: "Open Sans",sans-serif;
    letter-spacing: 0.04em;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #202020;
}
.build-index a.dev_heading:hover {
  color: #27a2db;
  text-decoration: underline;
}

.build-disclaimer {
  font-size: 10pt;
  margin: 2em 0;
  padding-top: 2em;
  border-top: 1px solid #777;
}
