a[href^="#"]:after {
    display: none !important;
}

.main code {
    color: black;
}

.main .hljs {
    background: transparent;
}

.main pre {
  background: transparent;
  box-decoration-break: slice;
}

/* Disable header numbering */
.page-template-template-dev-portal.page-template-template-dev-portal-php h1:before,
.page-template-template-dev-portal.page-template-template-dev-portal-php h2:before,
.page-template-template-dev-portal.page-template-template-dev-portal-php h3:before {
   content: none !important;
}
