{% extends "template-base.html" %}
{% block head %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <link href="assets/css/landing.css" rel="stylesheet">

{% endblock %}

{% block bodyclasses %}client-portal-docs page-build no-sidebar{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}
  <div class="container build-index">
    <aside class="related-projects">
      <h3>Related Projects</h3>
      <div class="project">
        <p><a class="client-portal-link" href="https://clients.ripple.com/">
          <img class="project-icon" src="assets/img/RippleNet-condensed.svg" />
          <span class="project-name">Ripple Client Portal</span>
          <span class="login-required">(login required)</span>
        </a></p>
        <p>For financial institutions using Ripple's proprietary solutions to send money globally.</p>
      </div>
      <div class="project">
        <p><a class="interledger-link" href="https://interledger.org/">
            <img class="project-icon" src="assets/img/ilp_logo.svg" />
            <span class="project-name">Interledger</span>
        </a></p>
        <p>An open protocol suite for connecting all forms of digital money.</p>
    </aside>

    <h2>XRP Ledger Documentation Table of Contents</h2>
    <div class="row">
      <div class="col-md-8">
        {% for cat in categories %}
          <ul>
              <li class="top"><h5><a class="dev_heading" href="{{ (pages|selectattr('category', 'equalto', cat)|first).html }}">{{ cat }}</a></h5></li>
            {% for page in pages %}
              {% if page.category == cat and page.name != category and not page.toc_omit %}
              <li><a href="{{ page.html }}">{{ page.name }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Disclaimer block -->
  <div class="container build-disclaimer">
    <p>
      These resources are provided for informational purposes only, as illustrative references for your independent development of products or services designed to interface with Ripple’s open-source technologies. These resources are not intended to direct or influence how you or any other person interacts with Ripple’s open-source technologies. Ripple <strong><em>does not</em></strong> endorse any specific resource and makes no representations or warranties with respect to the resources listed.
    </p>
    <p>
      Note that anti-money laundering and counter-terrorism financing laws and regulations, such as the U.S. Bank Secrecy Act and regulations issued by the Financial Crimes Enforcement Network (FinCEN), require certain parties to take certain precautions against financial crime. In particular, you may be interested in the 2013 <a href="https://www.fincen.gov/statutes_regs/guidance/html/FIN-2013-G001.html">guidance issued by FinCEN</a> in response to questions concerning the regulatory treatment of persons who use or make a business of exchanging, accepting, or transmitting certain virtual currencies. Additional FinCEN references are available at <a href="https://www.fincen.gov">https://www.fincen.gov</a>.
    </p>
</div>

{% endblock %}
