{% extends "template-base.html" %}

{% block main %}
  <article class="use-case pt-3 p-md-3">
    <div class="content">
        {{ content }}
    </div>
  </article>
{% endblock %}

{% block right_sidebar %}
  <div class="card" id="use-case-related">
    <div class="card-header">
      <h4>Useful Background</h4>
    </div>
    <div class="card-body">
      <div class="curated-links">
        <ul>
          {% for link in currentpage.useful_background %}
            {% set linkpage = pages|selectattr("html", 'defined_and_equalto', link)|first %}
            <li><a href="{{linkpage.html}}">{{linkpage.name}}</a></li>
          {% endfor %}
        </ul>
      </div><!--/.curated-links-->
    </div><!--/.card-body-->
  </div>
{% endblock %}

{% block endbody %}
<script type="application/javascript">
  gtag('set', {'content_group1': 'Use Cases'});
</script>
{% endblock %}
