{% extends "template-base.html" %}
{% block head %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block bodyclasses %}no-sidebar{% endblock %}
{% block mainclasses %}landing{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}
  <div class="marketing-wrapper">
    <div class="container">
      <section class="row mb-20">
        <div class="col-md-4 d-flex flex-column-reverse justify-content-end">
          <h1 class="mb-10">{% trans %}The Best Way To Move Money Around the World{% endtrans %}</h1>
          <h6 class="text-primary mb-4">{% trans %}Using XRP{% endtrans %}</h6>
        </div>
        <div class="col-md-6 offset-md-1">
          <h2 class="mt-12 mb-10">{% trans %}XRP and the XRP Ledger are used to power innovative technology across the payments space.{% endtrans %}</h2>
          <p>{% trans %}From cross-border payments to decentralized finance, businesses and developers around the world are leveraging the XRP Ledger and its native digital asset, XRP—a faster, cheaper and greener currency.{% endtrans %}</p>
        </div>
      </section>
    </div>

    <img class="mb-40" src="assets/img/backgrounds/bg-uses-top.png" id="page-uses-top" />

    <div class="container mb-20">
    <section class="row mb-30 mb-50-until-sm">
      <h6 class="section-marker">{% trans %}Cross-Border Payments{% endtrans %}</h6>
      <div class="col-md-4 offset-md-2 order-1 order-md-2 mb-10 text-center text-md-left">
        <img class="mw-100" src="./img/uses/xb-payment.png">
      </div>
      <div class="col-md-4 offset-md-1 order-2 order-md-1">
        <h2 class="mb-10">{% trans %}Cross-Border Payments{% endtrans %}</h2>
        <p class="mb-10 normal">{% trans %}Through RippleNet, financial institutions can use XRP to bridge two currencies in 3-5 seconds, ensuring payments are quickly sent and received in the local currency on either side of a transaction.{% endtrans %}</p>
        <a href="https://ripple.com/ripplenet/on-demand-liquidity" class="btn btn-outline-secondary" target=
        "_blank">{% trans %}Learn About On-Demand Liquidity{% endtrans %}</a>
      </div>
    </section>

    <section class="row mb-30 mb-50-until-sm">
      <h6 class="section-marker">{% trans %}Micropayments{% endtrans %}</h6>
      <div class="col-md-4 offset-md-1 mb-10 text-center text-md-left">
        <img class="mw-100" src="./img/uses/micropayments.png">
      </div>
      <div class="col-md-4 offset-md-2">
        <h2 class="mb-10">{% trans %}Micropayments{% endtrans %}</h2>
        <p class="mb-10 normal">{% trans %}Businesses are leveraging XRP and the XRP Ledger to build innovative products for gaming, content and web monetization, among other applications where money is at the center.{% endtrans %}</p>
        <a href="businesses.html" class="btn btn-outline-secondary">{% trans %}Learn About XRP Ledger Businesses{% endtrans %}</a>
      </div>
    </section>

    <section class="row mb-30 mb-50-until-sm">
      <h6 class="section-marker">{% trans %}Digital Cryptocurrency{% endtrans %}</h6>
      <div class="col-md-4 offset-md-2 order-1 order-md-2 mb-10 text-center text-md-left">
        <img class="mw-100" src="./img/uses/digital-wallets.png">
      </div>
      <div class="col-md-4 offset-md-1 order-2 order-md-1">
        <h2 class="mb-10">{% trans %}Digital Cryptocurrency Wallets{% endtrans %}</h2>
        <p class="mb-10 normal">{% trans %}Individuals can use mobile wallets to store private and public passwords and interact with various blockchains to send and receive digital assets, including XRP.{% endtrans %}</p>
        <a href="wallets.html" class="btn btn-outline-secondary">{% trans %}Explore Wallets{% endtrans %}</a>
      </div>
    </section>

    <section class="row mb-30 mb-50-until-sm">
      <h6 class="section-marker">{% trans %}Exchanges{% endtrans %}</h6>
      <div class="col-md-4 offset-md-1 mb-10 text-center text-md-left">
        <img class="mw-100" src="./img/uses/exchanges.png">
      </div>
      <div class="col-md-4 offset-md-2">
        <h2 class="mb-10">{% trans %}Exchanges{% endtrans %}</h2>
        <p class="mb-10 normal">{% trans %}Market makers and individuals use exchanges to trade XRP and other digital assets. Exchanges are often also intermediaries in cross-border payments among financial institutions.{% endtrans %}</p>
        <a href="exchanges.html" class="btn btn-outline-secondary">{% trans %}Explore Exchanges{% endtrans %}</a>
      </div>
    </section>

    <section class="row last-section">
      <h6 class="section-marker">{% trans %}Trading{% endtrans %}</h6>
      <div class="col-md-5 offset-md-1 order-1 order-md-2 mb-10 text-center text-md-left">
        <img class="mw-100" src="./img/uses/inst-trading.png">
      </div>
      <div class="col-md-4 offset-md-1 order-2 order-md-1">
        <h2 class="mb-10">{% trans %}Institutional Trading{% endtrans %}</h2>
        <p class="mb-10 normal">{% trans %}Market participants use XRP as a high-speed, cost-efficient and reliable trading collateral. This means seizing arbitrage opportunities, servicing margin calls and managing general trade inventory in real time.{% endtrans %}</p>
        <a href="https://blog.ripplex.io/how-xrp-enables-faster-low-cost-cross-exchange-transfers/" class="btn btn-outline-secondary" target="_blank">{% trans %}Learn More{% endtrans %}</a>
      </div>
    </section>

  </div>
{% endblock %}


{% block endbody %}
<script type="application/javascript">
  gtag('config', 'UA-157720658-3', {'content_group1': 'Hub Pages'});
</script>
{% endblock %}
