{% extends "template-base.html" %}

{% block main %}
<div id="container" class="lit">
  <h1>ripple.txt Validator</h1>

  <p>If you run a business that connects to the XRP Ledger, serving a <code>ripple.txt</code> file from your domain can help clarify which XRP Ledger addresses you own and use, and which validating server(s) you run.</p>

  <p>This tool allows you to verify that your ripple.txt is syntactically
    correct and deployed properly.</p><br/>
  <form id="domain-entry">
    <fieldset>
      <input id="domain" type="text" required
             placeholder="Domain name, e.g.example.com"
             pattern="^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$"><br>
      <button class="cta_readmore btn">Verify ripple.txt</button>
    </fieldset>
  </form>
  <div id="result">
    <h5 class='result-title'>Result</h5>
      <ul id="log">
    </ul>
  </div>
</div>
{% endblock %}

{% block sidebar %}
{% if currentpage.sidebar != "disabled" %}

  {% include "template-sidebar_nav.html" %}

{% endif %}
{% endblock %}

{% block endbody %}
  <link rel='stylesheet' type='text/css' href='assets/css/ripple-txt-validator.css' />
  <script type='text/javascript' src='assets/vendor/async.min.js'></script>
  <script type='text/javascript' src='assets/js/ripple-txt-validator.js'></script>
{% endblock %}
