<nav class="breadcrumbs-wrap {% if currentpage.sidebar is defined and currentpage.sidebar == 'disabled' %} px-0 pt-5 pb-3 {% else %}p-0 p-md-3{% endif %}" aria-label="breadcrumb">
  <ul class="breadcrumb bg-white">
    <li class="breadcrumb-item"><a href="{% if target.no_cover is defined and target.no_cover %}/{% else %}index.html{% endif %}">{{target.strings.bc_home}}</a></li>
    {% if currentpage.funnel is defined and currentpage != pages|selectattr('funnel', 'defined_and_equalto', currentpage.funnel)|first %}
    {% set funnelhead = (pages|selectattr('funnel', 'defined_and_equalto', currentpage.funnel)|first) %}
    <li class="active breadcrumb-item"><a href="{{ funnelhead.html }}">{{ funnelhead.name }}</a></li>
    {% endif %}
    {% if currentpage.doc_type is defined and currentpage != pages|selectattr('doc_type', 'defined_and_equalto', currentpage.doc_type)|first%}
    {% set doctypehead = (pages|selectattr('doc_type', 'defined_and_equalto', currentpage.doc_type)|first) %}
    <li class="active breadcrumb-item"><a href="{{ doctypehead.html }}">{{ doctypehead.name }}</a></li>
    {% endif %}
    {% if currentpage.supercategory is defined and currentpage != pages|selectattr('supercategory', 'defined_and_equalto', currentpage.supercategory)|first %}
    {% set supercathead = (pages|selectattr('supercategory', 'defined_and_equalto', currentpage.supercategory)|first) %}
    <li class="active breadcrumb-item"><a href="{{ supercathead.html }}">{{ supercathead.name }}</a></li>
    {% endif %}
    {% if currentpage.category is defined and currentpage != pages|selectattr('category', 'defined_and_equalto', currentpage.category)|first %}
    {% set cathead = (pages|selectattr('category', 'defined_and_equalto', currentpage.category)|first) %}
    <li class="active breadcrumb-item"><a href="{{ cathead.html }}">{{ cathead.name }}</a></li>
    {% endif %}
    {% if currentpage.subcategory is defined and currentpage != pages|selectattr('subcategory', 'defined_and_equalto', currentpage.subcategory)|first %}
    {% set subcathead = (pages|selectattr('subcategory', 'defined_and_equalto', currentpage.subcategory)|first) %}
    <li class="active breadcrumb-item"><a href="{{ subcathead.html }}">{{ subcathead.name }}</a></li>
    {% endif %}
    <li class="active breadcrumb-item">{{ currentpage.name }}</li>
  </ul>
</nav><!--/.breadcrumbs-wrap-->
