{% extends "template-base.html" %}
{% block head %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block bodyclasses %}no-sidebar{% endblock %}
{% block mainclasses %}landing{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}
  <div id="page-history-bg">
    <div class="container marketing-wrapper">
      <img id="page-history-top" src="assets/img/backgrounds/bg-history-top.png">
      <section class="row mb-40">
        <div class="col-sm-4 mb-10 d-flex flex-column-reverse justify-content-end">
          <h1>{% trans %}Build a Better Bitcoin{% endtrans %}</h1>
          <h6 class="text-primary mb-4">{% trans %}XRP’s Origin{% endtrans %}</h6>
        </div>
        <div class="col-sm-6 offset-sm-1">
          <h2 class="mt-12 mb-10">{% trans %}In 2011, three engineers—David Schwartz, Jed McCaleb and Arthur Britto—began developing the XRP Ledger.{% endtrans %}</h2>
          <p>{% trans %}Fascinated by Bitcoin, they set out to create a better version that improved upon its limitations—with the goal of creating a digital asset that was more sustainable and built specifically for payments.{% endtrans %}</p>
          <p>{% trans %}The XRP Ledger first launched in June 2012. Shortly thereafter, they were joined by Chris Larsen and the group started the Company OpenCoin in September 2012 (now named Ripple).{% endtrans %}</p>
          <p>{% trans %}The founders of the XRP Ledger gifted 80 billion XRP to the company. Ripple has since sold some of its XRP and put the rest in <a href="https://ripple.com/insights/explanation-ripples-xrp-escrow/" target="_blank">escrow</a>.{% endtrans %}</p>
        </div>
      </section>
      <section class="row mb-60">
        <h6 class="section-marker">{% trans %}XRP History{% endtrans %}</h6>
        <h2 class="h1 text-center mx-auto mb-20">{% trans %}Timeline of XRP Evolution{% endtrans %}</h2>
        <div class="col-lg-10 offset-lg-1">
          <div class="timeline">
            <div class="timeline-block mb-10">
              <div class="timeline-dot"></div>
              <div class="timeline-content">
                <h4 class="mb-10">{% trans %}2011 XRP Ledger Development{% endtrans %}</h4>
                <p>{% trans %}The history of the XRP Ledger and its native digital asset XRP dates back to early 2011 when three developers—David Schwartz, Jed McCaleb and Arthur Britto—were fascinated with Bitcoin but observed the <a href="carbon-calculator.html">waste inherent in mining</a>. They sought to create a better system for sending value (an idea outlined in a <a href="https://bitcointalk.org/index.php?topic=10193.0" target="_blank">May 2011 forum post: “Bitcoin without mining”</a>).{% endtrans %}</p>
                <p>{% trans %}Their initial observations about the high energy consumption and scalability issues that would plague Bitcoin proved prescient. (In 2019, estimates suggest <a href="carbon-calculator.html">Bitcoin mining used</a> more energy than the entire country of Portugal!) Moreover, their initial read indicated that significant problems could arise if any miner obtained (or miners colluded to obtain) greater than 50&#37; of the mining power—that risk persists with Bitcoin (and Ethereum) today as mining power has consolidated in China.{% endtrans %}</p>
              </div>
            </div>
            <div class="timeline-block mb-10">
              <div class="timeline-dot"></div>
              <div class="timeline-content">
                <h4 class="mb-10">{% trans %}2012 XRP Launched{% endtrans %}</h4>
                <p>{% trans %}In 2011 and early 2012, the trio of developers started a project to build a distributed ledger that improved upon these fundamental limitations of Bitcoin—their first ever code commit was in November 2011.{% endtrans %}</p>
                <p>{% trans %}They wrote code, that when executed, would create a distributed ledger, which they named Ripple. It included a digital asset that would be called “ripples” (XRP as the currency code) to follow the same naming convention as Bitcoin (BTC). At the time, Ripple stood for the open-source project, the unique consensus ledger (Ripple Consensus Ledger), transaction protocol (Ripple Transaction Protocol or RTXP), the network (Ripple network) and the digital asset (known as “ripples”).{% endtrans %}</p>
                <p>{% trans %}In practice, this approach led to many, broad uses of “Ripple.” To clarify, the community simply started calling the digital asset, “XRP.”{% endtrans %}</p>
                <p>{% trans %}By June 2012, Schwartz, McCaleb and Britto completed code development and the XRP Ledger was fully functioning.{% endtrans %}</p>
                <p>{% trans %}At that time, they decided their next move would be to gift 80 billion XRP to a not-yet-formed private company that would work with the broader community as well as pursue its own payments mission. The ledger code itself would be open source and for anyone to use.{% endtrans %}</p>
                <p>{% trans %}They all agreed on how to allocate the XRP among themselves and the future company, and they eventually created the company along with Chris Larsen in September 2012.{% endtrans %}</p>
                <p>{% trans %}Once the XRP Ledger was fully functioning, 80&#37; of the XRP was gifted to the company—initially called NewCoin and renamed quickly to OpenCoin.{% endtrans %}</p>
                <p>{% trans %}Chris Larsen was the CEO of OpenCoin, and at the company's founding, Jed was co-founder and CTO, David Schwartz was the Chief Cryptography Officer, and Arthur Britto an advisor.{% endtrans %}</p>
              </div>
            </div>
            <div class="timeline-block mb-10">
              <div class="timeline-dot"></div>
              <div class="timeline-content">
                <h4 class="mb-10">{% trans %}2013 OpenCoin Rebranded To Ripple Labs{% endtrans %}</h4>
                <p>{% trans %}At the outset of the company, OpenCoin set out to revolutionize the global financial system. Despite the revolutionary ideals of many of Bitcoin’s early believers, Larsen never thought blockchain technology should be used to overthrow the existing financial system. He believed that history’s most transformative innovations have always relied on the great ideas that came before them—not disrupting them.{% endtrans %}</p>
                <p>{% trans %}In early conversations with potential customers, the team was asked about the differences between the Ripple project and OpenCoin company. With the community starting to call the  digital asset by its currency code "XRP" more widely, company leaders decided to rebrand the company to Ripple Labs, which has been shortened over time to "Ripple."{% endtrans %}</p>
                <p>{% trans %}Today, the company uses XRP and the XRP Ledger for liquidity management in its cross-border payments business. Ripple also remains a stakeholder and contributor to the broader XRP community.{% endtrans %}</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="row mt-30 mb-40">
        <h6 class="section-marker" id="section-marker-podcast">{% trans %}Podcast{% endtrans %}</h6>
        <div class="col-sm-5 order-1 order-sm-2 mb-10 text-center">
          <img class="mw-100" src="./img/graphics/chris-larsen.png">
        </div>
        <div class="col-sm-5 offset-sm-1 order-2 order-sm-1 mt-20">
          <h2 class="mb-10">{% trans %}How Digital Assets Will Help Create a Sustainable Global Economy{% endtrans %}</h2>
          <p class="mb-10">{% trans %}Hear from Ripple co-founder Chris Larsen in the inaugural episode of the Block Stars podcast.{% endtrans %}</p>
          <a href="https://podcasts.apple.com/us/podcast/how-digital-assets-will-help-create-sustainable-global/id1511803793?i=1000473686455" class="btn btn-outline-secondary">{% trans %}Listen Now{% endtrans %}</a>
        </div>
      </section>
    </div>
  </div>
{% endblock %}


{% block endbody %}
<script type="application/javascript">
  gtag('config', 'UA-157720658-3', {'content_group1': 'Hub Pages'});
</script>
{% endblock %}
