{% extends "template-base.html" %}
{% block head %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block bodyclasses %}no-sidebar page-wallets{% endblock %}
{% block mainclasses %}landing{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}
<div class="fullwidth-bg">
  <div class="container">

    <section class="row mt-20 mb-20 mt-40-until-sm mb-40-until-sm">
      <div class="col-lg-3 d-flex flex-column-reverse justify-content-end mb-10">
        <h1>{% trans %}Options for Storing XRP{% endtrans %}</h1>
        <h3 class="text-primary mb-4 h6">{% trans %}XRP Wallets{% endtrans %}</h3>
      </div>
      <div class="col-lg-7 offset-lg-1">
        <h2 class="mt-12 mb-10">{% trans %}Digital wallets are pieces of software that allow people to send, receive and store cryptocurrencies, including XRP. There are two types of digital wallets: custodial and non-custodial.{% endtrans %}</h2>
        <p>{% trans %}Custodial wallets manage a user's private key, which allows the wallet to withdraw cryptocurrency on a user's behalf. Non-custodial wallets do not manage a user's private key, which is up to the user to manage, and therefore cannot send cryptocurrency on the user's behalf.{% endtrans %}</p>
      </div>
    </section>

    <section class="mb-50 row">
      <h5 class="ml-3 mb-3">{% trans %}XRP Ledger Software Wallets:{% endtrans %}</h5>
      <div class="w-100"></div>
      <div class="d-flex flex-wrap w-100 mb-10">
        <a class="square d-flex card-b" href="https://ripplex.io/portal/" target="_blank">
          <img class="mw-100" src="assets/img/logos/ripplex.svg" alt="RippleX logo" width="190">
        </a>
        <a class="square d-flex card-b" href="https://xumm.app/" target="_blank">
          <img class="mw-100" src="./img/wallets/xumm.png" alt="Xumm logo">
        </a>
        <a class="square d-flex card-b" href="https://trustwallet.com/" target="_blank">
          <img class="mw-100" src="./img/wallets/trust-wallet.png" alt="Trust Wallet logo">
        </a>
      </div>
      <h5 class="ml-3 mb-3">{% trans %}Hardware Wallets:{% endtrans %}</h5>
      <div class="d-flex flex-wrap w-100">
        <a class="square d-flex card-b" href="https://trezor.io/" target="_blank">
          <img class="mw-100" src="./img/wallets/trezor.png" alt="Trezor logo">
        </a>
        <a class="square d-flex card-b" href="https://www.ledger.com/" target="_blank">
          <img class="mw-100" src="./img/wallets/ledger.png" alt="Ledger logo">
        </a>
        <a class="square d-flex card-b" href="https://www.secalot.com/" target="_blank">
          <img class="mw-100" src="./img/wallets/secalot.png" alt="Secalot logo">
        </a>
      </div>
      <div class="w-100"></div>
      <p class="col-sm-4 offset-sm-8 mt-16 text-smallest">{% trans %}Disclaimer: XRPL.org does not endorse or recommend any wallets or make any representations with respect to wallets or the purchase or sale of digital assets more generally. It’s advisable to conduct your own due diligence before relying on any third party or third-party technology, and providers may vary significantly in their compliance, data security, and privacy practices.{% endtrans %}</p>
    </section>

  </div>
</div>
{% endblock %}


{% block endbody %}
<script type="text/javascript">
  $( '.card-b' )
  .mouseover( function(e){
    $( '.card-b' ).addClass( 'not-hover' );
    $( this ).removeClass( 'not-hover' );
  })
  .mouseout( function(e){
    $( '.card-b' ).removeClass( 'not-hover' );
  });
</script>
<script type="application/javascript">
  gtag('config', 'UA-157720658-3', {'content_group1': 'Hub Pages'});
</script>
{% endblock %}
