<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>{{ currentpage.name }} - XRP Ledger Dev Portal</title>

    <!--[if lt IE 9]>
      <script src="/dist/js/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="/dist/js/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- jQuery -->
    <script src="assets/vendor/jquery-1.11.1.min.js"></script>

    <!-- Custom Stylesheets. ripple.css includes bootstrap, font stuff -->
    <link href="assets/css/ripple.css" rel="stylesheet" />
    <link href="assets/css/devportal.css" rel="stylesheet" />

    <!-- Bootstrap JS -->
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- fontawesome icons -->
    <link rel="stylesheet" href="assets/vendor/fontawesome/css/font-awesome.min.css" />

    {% block head %}

    {% endblock %}

</head>

<body class="xrp-ledger-dev-portal {% block bodyclasses %}sidebar-primary{% endblock %}">
  <header role="banner" class="banner navbar navbar-default navbar-fixed-top initial_header">
    <div class="container">
      <div class="navbar-header">
          <a href="index.html" class="navbar-brand"><img src="assets/img/dev-logo.png" class="logo" width="36" height="36" /><span class="brand-text">XRP Ledger Dev Portal</span></a>
      </div><!-- /.navbar-header -->
      <div class="nav">
        {% block breadcrumbs %}
            <ul class="breadcrumb">
              <li class="crumb-top"><a href="index.html" style="display: none;">&nbsp;</a></li>
              {% if currentpage.category %}
              <li class="active crumb-category"><a href="{{ (pages|selectattr('category', 'equalto', currentpage.category)|first).html }}">{{ currentpage.category }}</a></li>
              {% endif %}
              <li class="active crumb-current">{{ currentpage.name }}</li>
            </ul>
        {% endblock %}
        <div class="draft-warning">DRAFT PAGE</div>
        <div class="github-edit-wrap">
          {% set have_edit_link = False %}
          {% if currentpage.md is defined %}
              {% if currentpage.md.startswith("http://") or
                currentpage.md.startswith("https://") %}
                {# Leave have_edit_link = False #}
              {% else %}
                {% set have_edit_link = True %}
                {% set githuburl = target.github_forkurl + "/edit/"
                  + target.github_branch
                  + "/content/" + currentpage.md %}
              {% endif %}
          {% elif currentpage.template is defined %}
            {% set have_edit_link = True %}
            {% set githuburl = target.github_forkurl + "/edit/"
              + target.github_branch + "/tool/" + currentpage.template %}
          {% endif %}
          {% if target.is_pr_build and have_edit_link %}
            {% set githuburl = githuburl + "?pr=/ripple/ripple-dev-portal/pull/"
              + target.github_pr_id %}
          {% endif %}
          {% if not have_edit_link %}
            {% set githuburl = target.github_forkurl %}
          {% endif %}
          <a href="{{githuburl}}" target="_blank" class="github-edit">Edit on GitHub</a>
        </div><!-- /.github-edit -->
      </div><!-- /.nav -->

    </div><!-- /.container -->

  </header>


  <div class="wrap container" role="document" id="main_content_wrapper">
      <aside class="sidebar" role="complementary">
          {% block sidebar %}{% endblock %}
      </aside>
      <main class="main" role="main" id="main_content_body">
          {% block main %}{% endblock %}
      </main>
  </div>

{% include 'template-footer.html' %}

{% block endbody %}{% endblock %}
</body>
</html>
