{% extends "template-base.html" %}

{% block main %}
  <section class="p-3">
    <h1 class="main-page-header">{{ currentpage.name }}</h1>

    <div class='content'>
      <h2>Children of this page:</h2>
      {% include 'template-page-children.html' %}

      <!--{# <ul class="cat_pagelist">
        {% for page in pages %}
          {% if page.category == currentpage.category and
              page.name != currentpage.name %}
            <li><a href="{{page.html}}">{{page.name}}</a></li>
          {% endif %}
        {% endfor %}
      </ul> #}-->
    </div>
  </section><!--/.row-->
{% endblock %}
