{% extends "template-base.html" %}
{% block head %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block bodyclasses %}no-sidebar{% endblock %}
{% block mainclasses %}landing{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}
<div id="page-exchanges-bg">
  <div class="container marketing-wrapper">
    <section class="row mb-20 mt-40-until-sm mb-40-until-sm">
      <div class="col-lg-4 d-flex flex-column-reverse justify-content-end mb-10">
        <h1>{% trans %}XRP Is Traded on More Than 100 Markets and Exchanges Worldwide{% endtrans %}</h1>
        <h3 class="text-primary mb-4 h6">{% trans %}XRP Exchanges{% endtrans %}</h3>
      </div>
      <div class="col-lg-6 offset-lg-1">
        <h2 class="mt-12 mb-10">{% trans %}Exchanges are where people trade currencies.{% endtrans %}</h2>
        <p>{% trans %}There are different types of exchanges that vary depending on the type of market (spot, futures, options, swaps), and the type of security model (custodial, non-custodial).{% endtrans %}</p>
        <p>{% trans %}Spot exchanges allow people to buy and sell cryptocurrencies at current (spot) market rates. Futures, options and swap exchanges allow people to buy and sell standardized contracts of cryptocurrency market rates in the future.{% endtrans %}</p>
        <p>{% trans %}Custodial exchanges manage a user’s private keys, and publish centralized order books of buyers and sellers. Non-custodial exchanges, also known as decentralized exchanges, do not manage a user’s private keys, and publish decentralized order books of buyers and sellers on a blockchain.{% endtrans %}</p>
      </div>
    </section>

    <section class="row last-section">
      <h5 class="ml-3 mb-3">{% trans %}Top Exchanges, according to CryptoCompare (as of August 2020):{% endtrans %}</h5>
      <div class="w-100"></div>
      <div class="d-flex flex-wrap w-100 justify-center-sm">
        <a class="square d-flex card-b" href="https://www.coinbase.com/" target="_blank">
          <img class="mw-100" src="assets/img/exchanges/coinbase.png" alt="Coinbase logo">
        </a>
        <a class="square d-flex card-b" href="https://www.binance.com/" target="_blank">
          <img class="mw-100" src="assets/img/exchanges/binance.png" alt="Binance logo">
        </a>
        <a class="square d-flex card-b" href="https://www.bitstamp.com/" target="_blank">
          <img class="mw-100" src="assets/img/exchanges/bitstamp.png" alt="Bitstamp logo">
        </a>
        <a class="square d-flex card-b" href="https://www.kraken.com/" target="_blank">
          <img class="mw-100" src="assets/img/exchanges/kraken.png" alt="Kraken logo">
        </a>
        <a class="square d-flex card-b" href="https://cex.io/" target="_blank">
          <img class="mw-100" src="assets/img/exchanges/cex-io.png" alt="Cex.io logo">
        </a>
        <a class="square d-flex card-b" href="https://www.bitfinex.com/" target="_blank">
          <img class="mw-100" src="assets/img/exchanges/bitfinex.png" alt="Bitfinex logo">
        </a>
        <a class="square d-flex card-b" href="https://www.luno.com/" target="_blank">
          <img class="mw-100" src="assets/img/exchanges/luno.png" alt="Luno logo">
        </a>
        <a class="square d-flex card-b" href="https://bittrex.com/" target="_blank">
          <img class="mw-100" src="assets/img/exchanges/bittrex.png" alt="Bittrex logo">
        </a>
        <a class="square d-flex card-b" href="https://www.independentreserve.com/" target="_blank">
          <img class="mw-100" src="assets/img/exchanges/independent-reserve.png" alt="Independent Reserve logo">
        </a>
        <a class="square d-flex card-b" href="https://www.liquid.com/" target="_blank">
          <img class="mw-100" src="assets/img/exchanges/liquid.png" alt="Liquid logo">
        </a>
      </div>
      <div class="w-100"></div>
      <p class="col-sm-4 offset-sm-8 mt-16 text-smallest">{% trans %}Disclaimer: This information is drawn from other sources on the internet.  XRPL.org does not endorse or recommend any exchanges or make any representations with respect to exchanges or the purchase or sale of digital assets more generally. It’s advisable to conduct your own due diligence before relying on any third party or third-party technology, and providers may vary significantly in their compliance, data security, and privacy practices.{% endtrans %}</p>
    </section>

  </div>
  <img id="page-exchanges-bot" src="assets/img/backgrounds/bg-exchanges-bot.png">
</div>
{% endblock %}


{% block endbody %}
<script type="text/javascript">
  $( '.card-b' )
  .mouseover( function(e){
    $( '.card-b' ).addClass( 'not-hover' );
    $( this ).removeClass( 'not-hover' );
  })
  .mouseout( function(e){
    $( '.card-b' ).removeClass( 'not-hover' );
  });
</script>
<script type="application/javascript">
  gtag('config', 'UA-157720658-3', {'content_group1': 'Hub Pages'});
</script>
{% endblock %}
