{% extends "template-base.html" %}
{% block head %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block bodyclasses %}no-sidebar{% endblock %}
{% block mainclasses %}landing{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}
  <div class="marketing-wrapper">
    <div class="container mt-20">
      <section class="row">
        <div class="col-md-4 d-flex flex-column-reverse justify-content-end">
          <h1 class="mb-10">{% trans %}Faster, Cheaper, Green Money{% endtrans %}</h1>
          <h6 class="text-primary mb-4">{% trans %}Impact{% endtrans %}</h6>
        </div>
        <div class="col-md-6 offset-md-1">
          <h2 class="mt-12 mb-10">{% trans %}The digital asset XRP is a truly global currency—ideally suited to enable today’s growing digital economy.{% endtrans %}</h2>
          <p>{% trans %}As an optimal medium of exchange, XRP and the XRP Ledger on which it operates help to move money around the world faster, cheaper and more sustainably than any other currency available today.{% endtrans %}</p>
          <p class="mb-10">{% trans %}It was designed this way, and it’s proving its impact in global payments and beyond.{% endtrans %}</p>
          <a href="carbon-calculator.html" class="arrow-link text-white bold">{% trans %}How Green Is Your Currency?{% endtrans %}</a>
        </div>
      </section>
    </div>

    <img class="mb-30" src="./img/impact/hero-impact.png" id="hero-impact" />

    <div class="container mb-20">
      <section class="row mb-30 mb-50-until-sm">
        <h6 class="section-marker">{% trans %}Global Payments{% endtrans %}</h6>
        <div class="col-md-4 offset-md-1 mb-10 text-center d-flex-md justify-content-md-center align-self-md-center">
          <img class="mw-100" src="./img/impact/impact-democratizing-payments@2x.png">
        </div>
        <div class="col-md-6 offset-md-1">
          <h2 class="mb-10">{% trans %}Creating Economic Opportunity{% endtrans %}</h2>
          <h5 class="mb-10 normal">{% trans %}For the more than <a href="https://www.un.org/sites/un2.un.org/files/wmr_2020.pdf">272 million migrants</a> worldwide, sending and receiving money across borders is expensive, unreliable and complex.{% endtrans %}</h5>
          <div class="row">
            <div class="col-md">
              <p>{% trans %}XRP and the XRP Ledger are changing that.{% endtrans %}</p>
              <p>{% trans %}The technology has been adopted by financial institutions around the world. They use it to source liquidity for international transactions, and because of the unprecedented efficiency it offers, they’re able to both bring down costs and improve services.{% endtrans %}</p>
            </div>
            <p class="col-md">{% trans %}This means hundreds of  millions of people worldwide who need to move money safely and securely across borders can do so more affordably and reliably than ever before.{% endtrans %}</p>
          </div>
        </div>
      </section>

      <section class="row mb-30 mb-50-until-sm">
        <h6 class="section-marker">{% trans %}Future of Finance{% endtrans %}</h6>
        <div class="col-md-4 offset-md-1 order-1 order-md-2 mb-10">
          <img class="mw-100" src="./img/impact/impact-building-future@2x.png">
          <p class="text-smaller grey-700 mb-3 mt-3 ml-4">*NUS Research on Blockchain Adoption and Sustainability</p>
        </div>
        <div class="col-md-6 offset-md-1 order-2 order-md-1">
          <h2 class="mb-10">{% trans %}Building for the Future{% endtrans %}</h2>
          <h5 class="mb-10 normal">{% trans %}Digital assets and blockchain technology are the future of finance. Open and decentralized, they offer the first-ever global standards for value exchange broadly—whether it’s money, stocks, loyalty points, intellectual property or more.{% endtrans %}</h5>
          <div class="row">
            <p class="col-md">{% trans %}This has spawned increasing adoption of the technology across the financial services industry, from retail and institutional investment to commercial use cases like cross-border payments.{% endtrans %}</p>
            <p class="col-md">{% trans %}With usage growing, it’s critical that measures are taken today to ensure that the technology is environmentally sustainable tomorrow.{% endtrans %}</p>
          </div>
        </div>
      </section>

      <section class="row mb-30 mb-50-until-sm">
        <h6 class="section-marker">{% trans %}Digital Assets{% endtrans %}</h6>
          <div class="col-md-4 offset-md-1 mb-10 text-center d-flex-md justify-content-md-center align-self-md-center">
            <img class="mw-100" src="./img/impact/impact-crypto-strengths@2x.png">
          </div>
          <div class="col-md-6 offset-md-1">
            <h2 class="mb-10">{% trans %}Are All Digital Assets Alike?{% endtrans %}</h2>
            <h5 class="mb-10 normal">{% trans %}Each digital asset has different strengths that make it ideal for various use cases today.{% endtrans %}</h5>
            <div class="row">
              <div class="col-md">
                <p>{% trans %}Bitcoin is recognized broadly as a store of value and ether (ETH) for use in smart contracts.{% endtrans %}</p>
                <p>{% trans %}XRP is optimal for transacting—it’s fast, cheap, scalable and energy-efficient. It was designed for use in global payments.{% endtrans %}</p>
              </div>
              <div class="col-md">
                <p>{% trans %}And, the same characteristics that make it ideal for payments mean it’s also better for our environment. XRP is green by nature.{% endtrans %}</p>
            </div>
          </div>
      </section>

      <section class="row last-section">
        <h6 class="section-marker">{% trans %}Future of Finance{% endtrans %}</h6>
        <div class="col-md-4 mb-10 text-center">
          <img class="mw-100 mt-20-until-sm green-graphic" src="./img/green/green-graphic@2x.png">
        </div>
        <div class="col-md-8">
          <h2 class="mb-10">{% trans %}What Makes XRP and the XRP Ledger Green?{% endtrans %}</h2>
          <h5 class="mb-10 normal">{% trans %}Most currency today—whether digital or physical—is not environmentally friendly. The potential long-term impact on our planet could hold startling consequences.{% endtrans %}</h5>
          <div class="row mb-10">
            <div class="col-md">
              <p>{% trans %}The digital asset XRP was designed with sustainability in mind. The XRP Ledger processes transactions through a unique “consensus” mechanism that consumes negligible energy and all XRP currency is already in circulation.{% endtrans %}</p>
              <p>{% trans %}Other digital assets, like Bitcoin, rely on a different mechanism to both validate transactions and create new coins. This “proof-of-work” algorithm requires “mining.” Mining is an incredibly energy-intensive process for validating transactions that consumes more energy in a year than entire countries.{% endtrans %}</p>
            </div>
            <div class="col-md">
              <p>{% trans %}Cash also leaves a substantial carbon footprint, and the environmental impact goes beyond energy consumption—eutrophication (due to waste), photochemical ozone creation, greenhouse gas emissions and more factor into the equation.{% endtrans %}</p>
              <p>{% trans %}Adopting XRP more broadly will help limit this waste and ensure a sustainable future for our planet and global economy.{% endtrans %}</p>
            </div>
          </div>
          <a href="carbon-calculator.html" class="btn btn-outline-secondary">{% trans %}Discover the Green Currency Calculator{% endtrans %}</a>
        </div>
      </section>
    </div>
  </div>
{% endblock %}


{% block endbody %}
<script type="application/javascript">
  gtag('config', 'UA-157720658-3', {'content_group1': 'Hub Pages'});
</script>
{% endblock %}
