{% extends "template-base.html" %}

{% block sidebar %}
{% if currentpage.sidebar != "disabled" %}

  {% include "template-sidebar_nav.html" %}

{% endif %}
{% endblock %}

{% block main %}
    <h1 class="main-page-header">{{ currentpage.name }}</h1>

    <section>
      {% for grouper, docpages in pages|selectattr("doc_type", "defined")|groupby("doc_type") %}
      <div class="panel panel-default">
        <h3><a href="{{(docpages|list)[0].html}}">{{ grouper }}</a></h3>
        <ul>
          {% for cat, catpages in docpages|selectattr("category", "defined")|groupby("category") %}
            <li><a href="{{(catpages|first).html}}">{{ (catpages|first).name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </section>
{% endblock %}
