{% extends "template-base.html" %}
{% block head %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block bodyclasses %}no-sidebar{% endblock %}
{% block mainclasses %}landing{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}
  <div class="marketing-wrapper">
    <div class="container mt-40 mb-30">
      <h1 class="mb-10">{% trans %}For Developers{% endtrans %}</h1>
      <section class="row mb-30">
        <div class="col-md-6 offset-md-1 order-2 mb-10">
          <div class="d-flex flex-wrap w-100">
            <a class="square square-50 d-flex card-b" href="https://github.com/ripple/xrpl-dev-portal" target="_blank">
              <h3>XRPL.org on <img class="mt-2" src="assets/img/logos/github.png" alt="GitHub"></h3>
            </a>
            <a class="square square-50 d-flex card-b" href="https://github.com/XRPLF/XRPL-Standards" target="_blank">
              <h3><i class="fa fa-comments-o mw-100 mr-2"></i> XRP Ledger Standards</h3>
            </a>
          </div>
        </div>
        <div class="col-md-5 order-1">
          <p>{% trans %}Thank you for your interest in contributing to XRPL.org. This website was created for the community and is meant to be a living, breathing source of truth for XRP and XRP Ledger resources.{% endtrans %}</p>
          <p>{% trans %}Contributing to XRPL.org is a great way to learn about the XRP Ledger. This portal is open-source and anyone can suggest changes. For more information, please <a href="https://github.com/ripple/xrpl-dev-portal/blob/master/CONTRIBUTING.md" target="_blank">read and consider the contributing guidelines</a>.{% endtrans %}</p>
          <p>{% trans %}You may also be interested in learning about <a href="https://interledger.org/" target="_blank">Interledger</a>, <a href="https://ripplex.io/" target="_blank">RippleX</a>, and <a href="https://paystring.org/" target="_blank">PayString</a>.{% endtrans %}</p>
        </div>
      </section>
    </div>
    <img id="page-contribute-bot" src="assets/img/backgrounds/bg-contribute.png">
  </div>
{% endblock %}


{% block endbody %}
<script type="application/javascript">
  gtag('config', 'UA-157720658-3', {'content_group1': 'Hub Pages'});
</script>
{% endblock %}
