<!DOCTYPE html>
<html lang="{{target.lang}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <title>{{ currentpage.name }} - {{target.display_name}}</title>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
    <link rel="manifest" href="assets/favicons/site.webmanifest">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="msapplication-TileColor" content="#25A768">
    <meta name="msapplication-config" content="assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#25A768">

    <!-- jQuery -->
    <script src="assets/vendor/jquery-1.11.1.min.js"></script>

    <!-- Stylesheet -->
    {% if target.lang=="ja" %}
    <link href="assets/css/fonts-ja.css" rel="stylesheet" />
    {% endif %}
    <link href="assets/css/devportal.css" rel="stylesheet" />

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45576805-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-45576805-2');
    </script>

    {% block head %}

    {% endblock %}

</head>

<body class="xrp-ledger-dev-portal {% if currentpage.sidebar is undefined or currentpage.sidebar != "disabled" %}sidebar-primary {% endif %}lang-{{target.lang}} {% block bodyclasses %}{% endblock %}">

  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
    <a href="{% if target.no_cover is defined and target.no_cover %}/{% else %}index.html{% endif %}" class="navbar-brand"><img src="assets/img/XRPLedger_DevPortal-black.svg" class="logo"  height="44" alt="{{target.display_name}}" /></a>
    <button class="navbar-toggler" type="button" data-toggle="slide-collapse" data-target="#navbarHolder" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarHolder">
      <ul class="nav navbar-nav">
        {% set funnels = [] %}
        {% for page in pages %}
          {% if page.funnel is defined and page.funnel not in funnels %}
            {% set thisfunneltop = pages|selectattr('funnel', 'defined_and_equalto', page.funnel)|first %}
            <li class="nav-item{% if currentpage == thisfunneltop %} active{% elif currentpage.funnel is defined and currentpage.funnel == thisfunneltop.name %} active-parent{% endif %}">
              <a class="nav-link" href="{{ thisfunneltop.html }}">{{ thisfunneltop.name }}</a>
            </li>
            {% set _ = funnels.append(page.funnel) %}
          {% endif %}
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link" href="/blog/">{{target.strings.blog}}</a>
        </li>
      </ul><!-- /.navbar-nav -->
      {% include 'template-github-edit.html' %}
      <form class="navbar-form navbar-right" id="navbar-search" role="search" method="get" action="https://www.google.com/search">
        <div class="form-inline">
          <label class="sr-only" for="topsearchbar">{{target.strings.search}}</label>
          <input name="q" value="site:xrpl.org" type="hidden">
          <input id="topsearchbar" name="q" type="text" class="form-control" class="top-search" placeholder="{{target.strings.search}}">
          <button type="submit" class="btn btn-default fa fa-search">&nbsp;</button>
        </div>
      </form>
      <div class="nav navbar-nav language-selector">
        <div class="dropdown">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="language_selector_header_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{(config.languages|selectattr('code', 'eq', target.lang)|first).display_name}}
          </button>
          <div class="dropdown-menu" aria-labelledby="language_selector_header_btn">
            {% for lang in config.languages %}
            <a class="dropdown-item" href="{{lang.prefix}}{{currentpage.html}}">{{lang.display_name}}</a>
            {% endfor %}
          </div><!--/.dropdown-menu-->
        </div><!--/.dropdown-->
      </div><!--/.language-selector-->
    </div><!--/#navbarHolder-->
    <div class="menu-overlay"></div>
  </nav>

  <div class="container-fluid" role="document" id="main_content_wrapper">
    <div class="row">
      <!-- Right sidebar first so it's at the beginning for mobile layouts -->
      {% if currentpage.sidebar is undefined or (currentpage.sidebar != "disabled" and currentpage.sidebar != "left_only") %}
      <aside class="right-sidebar col-lg-3 order-lg-4 p-0" role="complementary">
          {% block right_sidebar %}{% endblock %}
      </aside>
      {% endif %}

      <!-- main column -->
      <main class="main {% if currentpage.sidebar is defined and currentpage.sidebar == "disabled" %}col-md-12{% else %}col-md-7 col-lg-6{% endif %} order-md-3  {% block mainclasses %}{% endblock %}" role="main" id="main_content_body">
          {% block breadcrumbs %}
            {% include 'template-breadcrumbs.html' %}
          {% endblock %}
          {% block main %}{% endblock %}
      </main>
      {% if currentpage.sidebar is undefined or currentpage.sidebar != "disabled" %}
      <!-- Left sidebar last so it's at the end for mobile -->
      <aside class="sidebar col-md-5 col-lg-3 p-0 order-md-1" role="complementary">
          {% block left_sidebar %}
            {% include "template-sidebar_nav.html" %}
          {% endblock %}
      </aside>
      {% endif %}
    </div><!--/.row (main layout)-->
  </div>

{% include 'template-footer.html' %}


<!-- Non-blocking resources -->
<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap.min.js"></script>
<!-- fontawesome icons -->
<link rel="stylesheet" href="assets/vendor/fontawesome/css/font-awesome.min.css" />

{% block endbody %}{% endblock %}
</body>
</html>
