{% extends "template-base.html" %}
{% block head %}

    <!-- syntax highlighting -->
    <link rel="stylesheet" href="assets/vendor/docco.min.css" />
    <script src="assets/vendor/highlight.min.js"></script>

    <!-- expandable code samples -->
    <script src="assets/js/expandcode.js"></script>
    <!-- multi-code selection tabs -->
    <script src="assets/js/multicodetab.js"></script>
    <script>
        $(document).ready(function() {
            $(".multicode").minitabs();
            hljs.initHighlighting();
            make_code_expandable();
        });
    </script>


{% endblock %}

{% block main %}
  <article class="pt-3 p-md-3">
    <div class="content">
        {{ content }}
    </div>
    <!--{# start embed of the typeform survey widget at the bottom of the page. #}-->
    <hr>
    <div id="typeform-survey" class="typeform-widget" data-url="" style="width: 100%; height: 300px"></div>
    <script> $('#typeform-survey').attr('data-url', 'https://ryan1106.typeform.com/to/CROjck?source=' + window.location.href); </script>
    <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    <!--{# end embed of the typeform survey widget at the bottom of the page. #}-->
  </article>
{% endblock %}

{% block right_sidebar %}
  <div class="card" id="page-toc-wrapper">
    <div class="card-header">
      <h4>In this document</h4>
    </div>
    <ul class="card-body">
      {{ sidebar_content }}
    </ul>
  </div>
{% endblock %}
