{% extends "template-base.html" %}
{% block head %}

    <!-- syntax highlighting -->
    <link rel="stylesheet" href="assets/vendor/docco.min.css">
    <script src="assets/vendor/highlight.min.js"></script>

    <!-- syntax selection js -->
    <script src="assets/js/multicodetab.js"></script>
    <script>
        $(document).ready(function() {
            $(".multicode").minitabs();
            hljs.initHighlighting();
            make_code_expandable();
        });
    </script>

    <script src="assets/js/expandcode.js"></script>
    <script src="assets/js/fixsidebarscroll.js"></script>
{% endblock %}

{% block sidebar %}
  {% if currentpage.sidebar %}
    <div class="dev_nav_wrapper">
        <div id="cont">
            <h5>In this category:</h5>
            <ul class="dev_nav_sidebar">
                <li class="level-1"><a href="index.html">Category: {{ currentpage.category }}</a></li>
            {% for page in pages %}
	          {% if page.category == currentpage.category %}
                <li class="level-2"><a href="{{ page.html }}">{{ page.name }}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
            <hr />
            <h5>In this page:</h5>
            <ul class="dev_nav_sidebar" id="dactyl_toc_sidebar">
                {{ sidebar_content }}
            </ul>
        </div>
    </div>
  {% endif %}
{% endblock %}

{% block main %}
    <div class='content'>
        {{ content }}
    </div>
{% endblock %}
