{% extends "template-base.html" %}

{% block bodyclasses %}page-test-net{% endblock %}

{% block right_sidebar %}
<div id="test-net-servers" class="card">
  <div class="card-header">
    <h4>Test Net Servers</h4>
  </div>
  <div class="card-body">
    <p>Use the following URLs to connect to the XRP Test Net and send transactions, or <a href="connect-your-rippled-to-the-xrp-test-net.html">connect your own <code>rippled</code> server to the Test Net</a>.</p>
    <h5>Websockets and Ripple API</h4>
    <pre><code>wss://s.altnet.rippletest.net:51233</code></pre>
    <h5>JSON-RPC</h4>
    <pre><code>https://s.altnet.rippletest.net:51234</code></pre>
  </div>
</div>
{% endblock %}

{% block main %}
<section class="container-fluid pt-3 p-md-3">
  <h1>XRP Test Net Faucet</h1>

  <div class="content">
    <p>Ripple has created this alternative XRP Ledger test network with nodes in every region of the world to provide a testing platform for any software products built on the XRP Ledger without using real funds.</p>
    <p>Test Net funds are intended for <strong>testing</strong> only. The Test Net ledger and balances will be reset on a regular basis.</p>
    <button id="generate-creds-button" class="btn btn-primary">Generate credentials</button>
    <div id='your-credentials'></div>
    <div id='loader' style="display: none;"><img class='throbber' src="assets/img/xrp-loader-96.png"> Generating Keys...</div>
    <div id='address'></div>
    <div id='secret'></div>
    <div id='balance'></div>
  </div>
</section>
{% endblock %}

{% block endbody %}
  <script type='text/javascript' src='assets/js/test-net.js'></script>
{% endblock %}
