{% extends "template-base.html" %}
{% block head %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block bodyclasses %}no-sidebar{% endblock %}
{% block mainclasses %}landing{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}
  <div id="page-business-bg">
    <img id="page-business-top" src="assets/img/backgrounds/bg-business-top.png">
    <div class="container marketing-wrapper">
      <section class="row mb-50-until-sm mb-20">
        <div class="col-md-4 d-flex flex-column-reverse justify-content-end">
          <h1 class="mb-10">{% trans %}Solving Real Problems Across Industries{% endtrans %}</h1>
          <h3 class="text-primary mb-4 h6">{% trans %}Businesses Running on the XRP Ledger{% endtrans %}</h3>
        </div>
        <div class="col-sm-6 offset-sm-1">
          <p class="mt-12 mb-10">{% trans %}While exchanges and wallet providers are the most common businesses running on the XRP Ledger, there are many other companies that leverage the technology to solve interesting problems across myriad industries.{% endtrans %}</p>
          <div class="row">
            <ul class="col ml-3">
              <li><a href="https://www.bitgo.com/" target="_blank">{% trans %}Asset Custody{% endtrans %}</a></li>
              <li><a href="https://bitpay.com/" target="_blank">{% trans %}Payment Processing{% endtrans %}</a></li>
              <li><a href="https://coil.com/" target="_blank">{% trans %}Micropayments{% endtrans %}</a></li>
              <li><a href="https://www.exodus.io/" target="_blank">{% trans %}Wallets{% endtrans %}</a></li>
              <li><a href="https://raisedinspace.com/" target="_blank">{% trans %}Music{% endtrans %}</a></li>
            </ul>
            <ul class="col">
              <li><a href="https://ripple.com/" target="_blank">{% trans %}On-Demand Liquidity{% endtrans %}</a></li>
              <li><a href="https://www.forte.io/" target="_blank">{% trans %}Gaming{% endtrans %}</a></li>
              <li><a href="https://towo.io/" target="_blank">{% trans %}Infrastructure{% endtrans %}</a></li>
              <li><a href="https://xrplorer.com/" target="_blank">{% trans %}Security{% endtrans %}</a></li>
              <li><a href="https://xrpl-labs.com/" target="_blank">{% trans %}Applications{% endtrans %}</a></li>
            </ul>
          </div>
        </div>
      </section>

      <section class="row mb-50">
        <h6 class="section-marker">{% trans %}Businesses Using XRP{% endtrans %}</h6>
        <a class="col-md-5 mb-20-until-sm mb-10 card-b" href="https://www.bitgo.com/" target="_blank">
          <img class="mw-100" src="assets/img/businesses/bitgo.png">
          <h3 class="my-10 h4">{% trans %}Asset Custody{% endtrans %}</h3>
          <p class="text-white">{% trans %}BitGo provides custodial and non-custodial asset holdings for digital assets including XRP. BitGo's enterprise-level security empowers businesses to integrate digital currencies like XRP into new and existing financial systems.{% endtrans %}</p>
        </a>
        <a class="col-md-5 mb-20-until-sm mb-10 card-b offset-md-1" href="https://bitpay.com/" target="_blank">
          <img class="mw-100" src="assets/img/businesses/bitpay.png">
          <h3 class="my-10 h4">{% trans %}Payment Processing{% endtrans %}</h3>
          <p class="text-white">{% trans %}BitPay builds powerful, enterprise-grade tools for accepting and spending cryptocurrencies, including XRP.{% endtrans %}</p>
        </a>
        <a class="col-md-5 mb-20-until-sm mb-10 card-b" href="https://coil.com/" target="_blank">
          <img class="mw-100" src="assets/img/businesses/coil.png">
          <h3 class="my-10 h4">{% trans %}Web Monetization{% endtrans %}</h3>
          <p class="text-white">{% trans %}Coil provides an alternative to the status quo of paid advertisements with web monetization. Coil's web monetization uses the interledger protocol (ILP) to stream micropayments as users consume content. The XRP Ledger's payment channels provide an ideal system for settling these micropayments at high speed and low cost.{% endtrans %}</p>
        </a>
        <a class="col-md-5 mb-20-until-sm mb-10 card-b offset-md-1" href="https://www.forte.io/" target="_blank">
          <img class="mw-100" src="assets/img/businesses/forte.png">
          <h3 class="my-10 h4">{% trans %}Online Gaming{% endtrans %}</h3>
          <p class="text-white">{% trans %}Forte offers an unprecedented set of easy-to-use tools and services for game developers to integrate blockchain technology into their games, to unlock new economic and creative opportunities for gamers across the world.{% endtrans %}</p>
        </a>
        <a class="col-md-5 mb-20-until-sm mb-10 card-b" href="https://www.exodus.io/" target="_blank">
          <img class="mw-100" src="assets/img/businesses/exodus.png">
          <h3 class="my-10 h4">{% trans %}Wallets and Apps{% endtrans %}</h3>
          <p class="text-white">{% trans %}Exodus offers wallets and applications for securing, managing and exchanging crypto.{% endtrans %}</p>
        </a>
        <a class="col-md-5 mb-20-until-sm mb-10 card-b offset-md-1" href="https://raisedinspace.com/" target="_blank">
          <img class="mw-100" src="assets/img/businesses/raised-in-space.png">
          <h3 class="my-10 h4">{% trans %}Music{% endtrans %}</h3>
          <p class="text-white">{% trans %}Raised in Space is a music/tech investment group focused on raising the value of music, innovating across the entire value chain of the music industry.{% endtrans %}</p>
        </a>
        <a class="col-md-5 mb-20-until-sm mb-10 card-b" href="https://ripple.com/" target="_blank">
          <img class="mw-100" src="assets/img/businesses/ripple.png">
          <h3 class="my-10 h4">{% trans %}On-Demand Liquidity{% endtrans %}</h3>
          <p class="text-white">{% trans %}Ripple powers instant, lower-cost settlement of cross-border payments using XRP to source liquidity on demand. XRP is ideally suited for global payments because it's quicker, less costly, and more scalable than any other digital asset.{% endtrans %}</p>
        </a>
        <a class="col-md-5 mb-20-until-sm mb-10 card-b offset-md-1" href="https://towo.io/" target="_blank">
          <img class="mw-100" src="assets/img/businesses/towo-labs.png">
          <h3 class="my-10 h4">{% trans %}Infrastructure{% endtrans %}</h3>
          <p class="text-white">{% trans %}Towo Labs was founded in 2019, to develop XRP Ledger and Interledger infrastructures and make non-custodial crypto management easier.{% endtrans %}</p>
        </a>
        <a class="col-md-5 mb-20-until-sm mb-10 card-b" href="https://xrplorer.com/" target="_blank">
          <img class="mw-100" src="assets/img/businesses/xrplorer.png">
          <h3 class="my-10 h4">{% trans %}Security{% endtrans %}</h3>
          <p class="text-white">{% trans %}Xrplorer offers services and tools that help prevent and combat fraudulent activity on the XRP Ledger as well as custom APIs and analytics that supplement the XRP Ledger APIs where they are not enough.{% endtrans %}</p>
        </a>
        <a class="col-md-5 mb-20-until-sm mb-10 card-b offset-md-1" href="https://xrpl-labs.com/" target="_blank">
          <img class="mw-100" src="assets/img/businesses/xrpl-labs.png" >
          <h3 class="my-10 h4">{% trans %}Applications{% endtrans %}</h3>
          <p class="text-white">{% trans %}From cold storage to apps for signing transactions, XRPL Labs is dedicated to building software on the XRP Ledger.{% endtrans %}</p>
        </a>

        <div class="w-100"></div>
        <div class="col-md-4 offset-md-6">
          <p class="text-smallest">{% trans %}Disclaimer: XRPL.org does not endorse or recommend any wallets or exchanges, or make any representations with respect to wallets. It’s advisable to conduct your own due diligence before relying on any third party or third-party technology.{% endtrans %}</p>
        </div>
      </section>

    </div>
    <img id="page-business-bot" src="assets/img/backgrounds/bg-business-bot.png">
  </div>
{% endblock %}


{% block endbody %}
<script type="text/javascript">
  $( '.card-b' )
  .mouseover( function(e){
    $( '.card-b' ).addClass( 'not-hover' );
    $( this ).removeClass( 'not-hover' );
  })
  .mouseout( function(e){
    $( '.card-b' ).removeClass( 'not-hover' );
  });
</script>

<script type="application/javascript">
  gtag('config', 'UA-157720658-3', {'content_group1': 'Hub Pages'});
</script>
{% endblock %}
