// Bootstrap SASS styling. Use a SASS compiler (such as sassc) to parse this
// and write the output to {repo_top}/assets/vendor/bootstrap.css
// Requires node_modules/bootstrap/scss/bootstrap to contain the Bootstrap
// source files.


// Set theme colors used by Bootstrap styles
$theme-colors: (
"primary":       #1B1818, // XRP Black
"secondary":     #676463, // Gray
"light":         #EBE8E7, // light tan?
"dark":          #1B1818, // XRP Black again
"success":       #2BCB96, // light green
"caution":       #D0DB60, // yellowish
//"info":          todo // currently bluish
"warning":       #AA4949, // wine red
);
$code-color:    #3B4147; // "Black-80"

$navbar-padding-y: 0;
$navbar-nav-link-padding-x: 1rem;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Font face stuff from Google
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2'), url("../font/Roboto-Regular.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2'), url("../font/Roboto-Bold.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v4/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(https://fonts.gstatic.com/s/spacemono/v4/i7dMIFZifjKcF5UAWdDRaPpZUFWaHg.woff2) format('woff2'), url("../font/Roboto-Regular.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$font-family-monospace: 'Space Mono', monospace;
$font-family-sans-serif: 'Roboto', sans-serif;

// Bootstrap v4
@import "node_modules/bootstrap/scss/bootstrap.scss";

h1, h2, h3, h4, h5 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

.landing section {
  border-bottom: 1px solid map-get($theme-colors, primary);
}

.card-grid {
  display: grid;
  gap: 1px;
  background-color: #dedede;
  padding: 0;

  &.card-grid-2x2 {
    /* left half is a hero area; right half is a 2x2 grid. */
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto;

    .section-hero {
      grid-row-end: span 2;
    }

    @include media-breakpoint-down(md) {
      /* Switch to 1-column layout on smaller widths */
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, auto);
    }
  }

  &.card-grid-2x1 {
    /* left half is a hero area; right half is a 2x1 grid. */
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;

    .section-hero {
      grid-row-end: span 1;
    }

    @include media-breakpoint-down(md) {
      /* Switch to 1-column layout on smaller widths */
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }

  &.card-grid-2x4 {
    /* left half is a hero area; right half is a 2x4 grid. Total grid is 4x4 */
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    .section-hero {
      grid-row-end: span 4;
    }

    @include media-breakpoint-down(md) {
      /* Switch to 1-column layout on smaller widths */
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, auto);

      .section-hero {
        grid-row-end: span 1;
      }
    }
  }

  &.card-grid-4xN {
    /* 4 equal columns and any number of auto-sized rows. */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;

    /* No "hero" blocks expected here. */

    @include media-breakpoint-down(md) {
      /* Switch to 1-column layout on smaller widths */
      grid-template-columns: 1fr;
    }
  }

  &.card-grid-3xN {
    /* 3 equal columns and any number of auto-sized rows. */
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;

    /* No "hero" blocks expected here. */

    @include media-breakpoint-down(md) {
      /* Switch to 1-column layout on smaller widths */
      grid-template-columns: 1fr;
    }
  }

  .align-bottom {
    justify-content: flex-end;
  }

  .card {
    padding: 40px;
    border: 0;

    @include media-breakpoint-down(md) {
      padding: 20px;
    }
  }
}
