body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.sidebar {
    width: 200px;
}

.logo {
    margin-left: 0;
    content: url(XRPLedger_DevPortal-white.svg);
    width: 162px;
    height: 40px;
    display: block;
}


.divider {
    flex-shrink: 0;
    width: 20px;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.main-content {
    width: 808px;
}

.nav-link, .nav-link:hover {
    color: white;
    width: 100%;
}

.header {
    position: relative;
    margin-bottom: 20px;
}

.header button {
    position: absolute;
    right: 0;
    top: -4px;
}

.spacer {
    height: 20px;
}

.accountVerificationIndicator{
    width: 100%;
}

.accountVerificationIndicator span {
    font-size: 9px;
    color: grey;
}
