<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <title>XRPL Wallet Tutorial (JavaScript / Electron)</title>
</head>

<body>
  <h3>Build a XRPL Wallet - Part 2/8</h3>
  <b>Latest validated ledger stats</b><br />
  Ledger Index: <strong id="ledger-index"></strong><br />
  Ledger Hash: <strong id="ledger-hash"></strong><br />
  Close Time: <strong id="ledger-close-time"></strong><br />
</body>

<script src="renderer.js"></script>

</html>
