$light-bg: $gray-100;
$light-fg: $black;
$light-primary-text: $blue-purple-400;
$light-box-shadow: 0px 5px 20px 0px $gray-400;

body {
    background: $light-bg;
    background-color: $light-bg;
    color: $light-fg;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  &:not(.chip) {
    color: $light-fg;
  }
  &.green-500 {
    color: $green-700;
  }
}

// Colors
$navbar-light-color: $dark;
$navbar-light-hover-color: $secondary;
$navbar-light-active-color: $primary;


.search, .input-group {
  .input-group-text {
    background-color: $gray-200;
    color: $gray-800;
  }

  .form-control {
    border-color: $gray-300;
  }

  label .input-group-text,
  .form-control {
    color: $light-fg;
    background-color: $gray-300;
  }

  .ds-input {
    color: $light-fg;
    background-color: $gray-300;
    border-color: $gray-300;

    &:focus {
      border-color: $blue-purple-400;
    }
  }
}

.bg-grey-800 {
  background-color: $white;
}

// Content

a {
  color: $light-fg;

  &.btn-primary {
    // undo this for buttons
    color: $white;
  }
}

.longform {
  color: $gray-900;
}

nav a {
  color: $light-fg;

  &:hover {
    color: $light-primary-text;
  }
}

.container-new .col-new-card {
  box-shadow: $light-box-shadow;
}

.card {
  background-color: $white;
  box-shadow: $light-box-shadow;
}

// Buttons
.btn-outline-secondary,
.content a.button,
.navbar-dark .navbar-nav .nav-link.btn-outline-secondary {
  color: $dark;
  border-color: $dark;

  &:not(:disabled):not(.disabled):hover, &:not(:disabled):not(.disabled):active {
    color: $primary;
    border-color: $primary;
    background-color: transparent;
  }
}

// Breadcrumbs
.breadcrumb {
  background: $light-bg;
}
.breadcrumb-item a {
  color: $gray-600;

  &:hover {
    color: $primary
  }
}

// Top Nav
.top-nav {
  background: $light-bg;

  #topnav-pages .nav-link {
    color: $light-fg;
  }

  // Logo
  .navbar-brand {
    .logo {
      content: url(../img/XRPLedger_DevPortal-black.svg);
    }
  }
  //
  // .navbar-nav {
  //   .nav-link {
  //     color: $black;
  //
  //     &:hover {
  //       background-color: transparent;
  //       box-shadow: inset 0 -1px 0 0 $light-bg;
  //       text-decoration: none;
  //     }
  //
  //   }
  // }

  .dropdown-menu {
    background-color: $white;
    border-color: $white;
    box-shadow: $light-box-shadow;

    .dropdown-item.dropdown-hero {
      > img {
        background-color: $gray-200;
      }
      p {
        color: $gray-700;
      }
    }
    .dropdown-item.active {
      color: $light-primary-text;
    }

    h5 {
      color: $gray-600;
    }

    .col-for-popular-pages,
    .col-for-人気ページ,
    .col-for-questions,
    .col-for-質問 {
      background-color: $gray-200;
    }
  }
}

aside .sidenav_cat_title {
  color: $black;
}
.page-toc .level-1 a,
.command-list .separator {
  color: $black;
}

.dactyl-tree-nav {
  nav {
    border-left: 1px solid $black;
  }
}

.page-toc,
.command-list {
  border-left: 1px solid $black;

  .level-3 {
    border-left: 1px solid $black;
  }
}

// Code / rfs
code {
  color: $light-fg;
}

// code-tabs
.multicode {
  a {
    color: $black;
    &.current {
      color: $white;
    }
    &:hover {
      text-decoration: none;
      background-color: $gray-900;
      color: $white;
    }
  }

  .code_toggler {
    background-color: $gray-800;
    color: $gray-100;
    border-color: $gray-100;
  }
}

.pg-category {
  color: $gray-600;
}

.landing {
  .nav .nav-link {
    color: $gray-900;
    border-bottom-color: $gray-300;
  }

  .circled-logo {
    background-color: $gray-300;

    img[src="assets/img/logos/globe.svg"] {
      filter: invert(100%);
    }
  }
}

// Callouts
.devportal-callout.caution, .devportal-callout.注意 {
  border-color: $yellow-700;

  > strong:first-child::before {
    color: $yellow-700;
  }
}



// feedback widget
#feedback-content {
  .docked-widget {

    .widget-header {
      background-color: $light-bg !important;
      color: $light-fg !important;
    }
    .widget-header-icon {
      filter: invert(100%);
    }
  }
}


// Placeholder text colors (search bars, etc.)
$placeholder-color: $gray-600;
::-webkit-input-placeholder { /* Chrome */
  color: $placeholder-color;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $placeholder-color;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $placeholder-color;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: $placeholder-color;
  opacity: 1;
}
