// These styles are used by the dev-blog pages, which are in another repo.

.dev-blog {
  .image-container {
    transform: translateY(15%);
    z-index: 1;
  }

  .text-bg {
    background-color: $gray-800;
    padding: 60px 40px;
    width: 100%;
    border-radius: 30px;
  }

  @media (min-width: 992px) {
    .image-container {
      transform: translateX(15%);
    }

    .text-bg {
      padding: 50px 60px;
    }
  }

  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  #blog-purple {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  #card-date {
    color: $gray-400;
  }

  .post-date {
    text-decoration: overline solid #32E685 10%;
  }

  #category-list {
    @each $category in "general", "developer_reflections", "amendments",
    "advisories", "release_notes", "development", "gateway_bulletins", "features", "security"

      {
      ##{$category} {
        content: url("../img/blog/#{$category}.png");
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .category_sidebar {
    position: sticky;
    top: $nav-height + $banner-height;
  }

  .category-checkbox {
    display: flex;
    align-items: center;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-btn {
    color: $white;
    background-color: $gray-800;
    border-color: $gray-800;
    border-style: solid;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    text-align: start;
    padding-right: 10px;

    img {
      content: url("../img/icons/chevron-arrow-down.svg");
      width: 10px;
      height: 13px;
      padding: 8px;
    }
  }

  .dropdown-content {
    display: flex;
    align-items: start;
    background-color: $gray-800;
    padding: 16px 8px;
    width: 254px;
    height: auto;
    border-radius: 4px;
  }

  .category-checkbox label {
    font-weight: normal;
    font-size: 14px;
    margin: 0;
    padding-left: 26px;
  }

  .category-header {
    font-weight: normal;
    width: 200px;
    color: $gray-100;
  }

  label {
    margin: 0;
    padding-left: 8px;
    color: $white;
  }

  .blog-filter h6 {
    font-size: 16px;
  }

  .blog-filter[type="checkbox"]::before {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;

    content: "";
    background: $gray-900;

    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: $gray-400;
  }

  .blog-filter[type="checkbox"]::after {
    position: relative;
    display: block;

    top: -20px;
    width: 20px;
    height: 20px;

    content: "";

    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: $gray-400;
  }

  .blog-filter[type="checkbox"]:checked::before {
    background: $gray-900;
    border: none;
    border-radius: 0;
  }

  .blog-filter[type="checkbox"]:checked::after {
    background-image: url(../img/blog/blog-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $blue-purple-500;
    border-width: 2px;
    border-style: solid;
    border-color: $blue-purple-500;
    border-radius: 4px;
  }

  .blog-filter[type="checkbox"]:not(:disabled):checked:hover::after {
    background-image: url(../img/blog/blog-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-width: 2px;
    border-style: solid;
    border-color: $blue-purple-600;
    border-radius: 4px;
  }

  .blog-filter[type="checkbox"]:not(:disabled):hover::before {
    background: $gray-900;
    border: none;
    border-radius: 0;
  }

  .blog-filter[type="checkbox"]:not(:disabled):hover::after {
    background: $gray-900;
    border: none;
    border-width: 2px;
    border-style: solid;
    border-color: $blue-purple-600;
    border-radius: 4px;
  }
}
