/* Breadcrumbs -------------------------------------------------------------- */

.breadcrumbs-wrap {
  position: relative;
  z-index: 11;
  padding: 0 2rem 2rem 2rem;
}

.breadcrumb-item + .breadcrumb-item:before {
    content: "\f105"; /* fontawesome angle-right */
    font-family: FontAwesome;
    padding-right: 5px;
}
.breadcrumbs-wrap .breadcrumb {
  padding: 0;
  margin-bottom: 0;
  font-size: 0.833em;
}
.breadcrumb-item a {
  color: $gray-200;
  text-decoration: none;

  &:hover {
    color: $primary
  }
}
