.chip {
	display: inline;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem 1rem;
	border-radius: 100px;
	&::before {
		content: none !important;
	}
	&-red-purple {
		color: $red-purple-300;
		background-color: $red-purple-900;
	}
	&-orange {
		color: $orange-300;
		background-color: $orange-900;
	}
	&-green {
		color: $green-500;
		background-color: $green-1000;
	}
	&-blue-purple {
		color: $blue-purple-300;
		background-color: $blue-purple-900;
	}
	&-magenta {
		color: $magenta-300;
		background-color: $magenta-900;
	}
	&-blue {
		color: $blue-300;
		background-color: $blue-900;
	}
	&-yellow {
		color: $yellow-300;
		background-color: $yellow-900;
	}
	&::after {
		
	}
}