// XRP Visual Guidelines 2021 palette

// Full color palette first ----------------------------------------------------
$white: #ffffff;
$gray-050: #fcfcfd;
$gray-100: #f5f5f7;
$gray-200: #e0e0e1;
$gray-300: #c1c1c2;
$gray-400: #a2a2a4;
$gray-500: #838386;
$gray-600: #454549;
$gray-700: #343437;
$gray-800: #232325;
$gray-900: #111112;
$black: #000000;
$black-10: $gray-100;
$black-40: $gray-400;
$black-60: $gray-600;

$green-100: #d6fae7;
$green-200: #adf5ce;
$green-300: #84f0b6;
$green-400: #5beb9d;
$green-500: #32e685;
$green-600: #2dcf78;
$green-700: #28b86a;
$green-800: #1e8a50;
$green-900: #145c35;
$green-1000: #0a2e1b;
$green: $green-500;
$apex-2023-green: #00ff76;
$token-2049-purple: #410bb9;

$blue-100: #e5f5ff;
$blue-200: #b2e0ff;
$blue-300: #80ccff;
$blue-400: #4bb7ff;
$blue-500: #19a3ff;
$blue-600: #008ae5;
$blue-700: #006bb2;
$blue-800: #004d80;
$blue-900: #002e4c;
$blue: $blue-500;

$accent-blue-90: #001133; // Used in APEX 2023 banner

$blue-purple-100: #f0e5ff;
$blue-purple-200: #d2b2ff;
$blue-purple-300: #b480ff;
$blue-purple-400: #9a52ff;
$blue-purple-500: #7919ff;
$blue-purple-600: #5f00e5;
$blue-purple-700: #4a00b2;
$blue-purple-800: #350080;
$blue-purple-900: #20004c;
$purple: $blue-purple-400;

$red-purple-100: #fbe5ff;
$red-purple-200: #f2b2ff;
$red-purple-300: #ea80ff;
$red-purple-400: #e24cff;
$red-purple-500: #d919ff;
$red-purple-600: #c000e5;
$red-purple-700: #9500b2;
$red-purple-800: #6b0080;
$red-purple-900: #40004c;

$magenta-100: #ffe5f2;
$magenta-200: #ffb2d8;
$magenta-300: #ff80bf;
$magenta-400: #ff4ba4;
$magenta-500: #ff198b;
$magenta-600: #e50071;
$magenta-700: #b20058;
$magenta-800: #80003f;
$magenta-900: #4c0026;
$magenta: $magenta-500;
$pink: $magenta-500;

$orange-100: #ffeee5;
$orange-200: #ffccb2;
$orange-300: #ffaa80;
$orange-400: #ff884b;
$orange-500: #ff6719;
$orange-600: #e54d00;
$orange-700: #b23c00;
$orange-800: #802b00;
$orange-900: #4c1a00;
$orange: $orange-500;

$yellow-100: #feffe5;
$yellow-200: #fdffb2;
$yellow-300: #fcff80;
$yellow-400: #fbff4c;
$yellow-500: #faff19;
$yellow-600: #e0e500;
$yellow-700: #aeb200;
$yellow-800: #7d8000;
$yellow-900: #4b4c00;
$yellow: $yellow-500;

// Common colors & colors used in Bootstrap ------------------------------------
$primary: $purple;
$secondary: $gray-200;
$light: $white;
$dark: $gray-900;
$success: $green-500;
$info: $blue-500;
$warning: $yellow-500; // "caution" callout style
$danger: $magenta-500; // "warning" callout style

// Bootstrap elements
$body-bg: $gray-900;
$navbar-light-color: $gray-600;
$code-color: $secondary;
$body-color: $gray-200;
$headings-color: $white;
$text-muted: $gray-200;
$link-hover-color: $purple;
$link-color: $white;

$breadcrumb-bg: $body-bg;
$breadcrumb-active-color: $gray-400;

$card-bg: $gray-800;

$dropdown-bg: $gray-900;
$dropdown-divider-bg: $black;
$dropdown-border-color: $gray-900;
$dropdown-color: $secondary;
$dropdown-link-color: $white;
$dropdown-link-hover-color: $purple;
$dropdown-link-hover-bg: $gray-900;
$dropdown-link-active-bg: transparent;

$navbar-dark-color: $white;
$navbar-dark-hover-color: $purple;
$navbar-dark-active-color: $white;

$input-bg: $gray-800;
$input-disabled-bg: $gray-600;
$input-color: $white;
$input-border-color: transparent;
$input-box-shadow: none;
$btn-box-shadow: none;
$btn-active-box-shadow: none;
$btn-focus-box-shadow: none;
$input-placeholder-color: $gray-400;
$input-group-addon-bg: $gray-600;
$input-group-addon-color: $white;

$list-group-bg: $gray-900;
$list-group-border-color: $gray-800;
$list-group-disabled-color: $gray-200;

$progress-bg: $gray-900;

$modal-content-bg: $black;
$modal-content-border-color: $gray-200;
$close-color: $magenta-500;

// Light mode colors
$light-bg: $gray-100;
$light-fg: $black;
$light-fg-muted: $gray-800;
$light-fg-disabled: $gray-400;
$light-form-bg: $gray-200;
$light-box-shadow: 0px 5px 20px 0px $gray-300;
$light-link-hover-color: $blue-purple-500;
$light-standout-bg: $gray-050;
