/* Content text styling (applies mostly to Markdown-generated content)------- */

[data-component-name="Markdown/Markdown"] article {
  padding-bottom: 50px;

  p code,
  table code,
  li > code {
    background-color: $green-1000;
    color: $green-400;
  }

  a {
    text-decoration: underline;
  }

  h1 {
    font-size: 3rem;
    margin-top: 32px;
    line-height: 1.2;
    font-weight: 700;

    &:first-child {
      margin-top: 0;
      line-height: 1.2;
    }
  }

  h2, h2.md {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
  }

  h3, h3.md {
    font-size: 2.125rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 1.2;
  }

  h4 {
    font-size: 1.75rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
  }

  h5 {
    font-size: 1.25rem;
    margin-top: 1.25rem;
    line-height: 1.2;
    font-weight: 700;
  }

  h6 {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.2;
    font-weight: 700;
  }

  /* Some list items contain <p> tags, some don't. These styles make sure both
   kinds are spaced consistently. */
  li {
    margin: 6px;
    margin-top: 24px;
  }
  li p {
    margin: 0;
  }

  // "Source" links float right
  a[title="Source"] {
    float: right;
    padding-left: 20px;
  }

  // Make "invisible" headers take up no space either, so we can use them
  // to add additional anchors (e.g. for translated pages)
  h1.invisible,
  h2.invisible,
  h3.invisible,
  h4.invisible,
  h5.invisible,
  h6.invisible {
    font-size: 0;
    line-height: 0;
    margin: 0;

    .hover_anchor {
      display: none;
    }
  }

  .shield {
    // {% badge ... %} (shields.io) components in md
    display: inline-block !important;
    vertical-align: middle;
  }
}

.blurb a {
  text-decoration: underline;
}

// Hover anchors ---------------
.hover_anchor {
  visibility: hidden;
  padding-left: 1rem;
  font-size: 1.25rem;
}

h1,h2,h3,h4,h5,h6 {
  &:hover .hover_anchor {
    visibility: visible;
    text-decoration: none;
  }
}
