/* Content text styling (applies mostly to Markdown-generated content)------- */

.content {
  padding-bottom: 50px;
}

.content a,
.blurb a {
  text-decoration: underline;
}

.content h1 {
  font-size: 3rem;
  margin-top: 32px;
  line-height: 1.2;
  font-weight: 700;
}
.content h1:first-child,
.landing section:first-of-type h1:first-child {
  margin-top: 0;
  line-height: 1.2;
}
.content h1:first-child:before {
  margin-top: -80px;
}
.content h2 {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
}
.content h3 {
  font-size: 2.125rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}
.content h4 {
  font-size: 1.75rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.content h5 {
  font-size: 1.25rem;
  margin-top: 1.25rem;
  line-height: 1.2;
  font-weight: 700;
}
.content h6 {
  font-size: 1rem;
  margin-top: 1rem;
  line-height: 1.2;
  font-weight: 700;
}

/* Some list items contain <p> tags, some don't. These styles make sure both
   kinds are spaced consistently. */
.content li {
  margin: 6px;
  margin-top: 24px;
}
.content li p {
  margin: 0;
}

/* "Source" links float right */
.content a[title="Source"] {
  float: right;
  padding-left: 20px;
}

// Hover anchors ---------------
.hover_anchor {
  visibility: hidden;
  padding-left: 1rem;
  font-size: 1.25rem;
}

h1,h2,h3,h4,h5,h6 {
  &:hover .hover_anchor {
    visibility: visible;
    text-decoration: none;
  }
}
