/* Site-wide header link styles --------------------------------------------- */
h1 a,
h2 a,
h3 a {
  color: $white;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
.xrpl-footer h5 a:hover {
  color: $primary;
}

/* Content text styling ----------------------------------------------------- */

.content {
  padding-bottom: 50px;
}

.content a,
.blurb a {
  text-decoration: underline;
}

.content h1 {
  margin-top: 32px;
  line-height: 1.2;
  font-weight: 400;
}
.content h1:first-child,
.landing section:first-of-type h1:first-child {
  margin-top: 0;
  line-height: 1.2;
}
.content h1:first-child:before {
  margin-top: -80px;
}
.content h2 {
  margin-top: 72px;
  margin-bottom: 24px;
  font-weight: 400;
  line-height: 1.2;
}
.content h3 {
  margin-top: 24px;
  line-height: 1.2;
}
.content h4 {
  margin-top: 20px;
  line-height: 1.2;
}
.content h5 {
  margin-top: 16px;
  line-height: 1.2;
  font-weight: 700;
}
.content h6 {
  margin-top: 12px;
  line-height: 1.2;
  font-weight: 700;
}

/* Some list items contain <p> tags, some don't. These styles make sure both
   kinds are spaced consistently. */
.content li {
  margin: 6px;
  margin-top: 24px;
}
.content li p {
  margin: 0;
}

/* "Source" links float right */
.content a[title="Source"] {
  float: right;
  padding-left: 20px;
}



/* Tables ------------------------------- */

.content table {
  clear: right;
  margin-bottom: 48px;
}

.content table code {
  word-break: normal;
  white-space: nowrap;
}

th {
  border-bottom: 2px solid $gray-200;
}
tr {
  border-bottom: 1px solid $gray-200;
}

th, td {
  padding: 0.2em;
  vertical-align: text-top;
  padding: 12px;
}

td:nth-child(1) {
  font-weight: bold;
}



/* Cards ------------------------------- */
.card {
  background-color: transparent;
}

.card-wrapper {
  width: 100%;
}
.card-b {
  padding: 2rem;
  background: rgba(34, 37, 43, 0.5);
  backdrop-filter: blur(3px);
  border-radius: 8px;
  opacity: 1;
  transition: all 0.35s ease-in-out;
  @include media-breakpoint-down(sm) {
    margin: 10px;
  }
  &.not-hover {
    opacity: 0.6;
  }
}
.section-marker {
  position: absolute;
  font-size: 0.875rem;
  transform: rotate(90deg);
  font-weight: normal;
  top: calc(50% - 64px);
  margin-left: -32px;
  transform-origin: top left;
}
@include media-breakpoint-down(md) {
  .card-deck {
    display: block !important;
  }
  .card-deck .card {
    margin-bottom: 2.5rem !important;
  }
}
