$base-size: 1rem;
// Font Settings ===============================================================
body {
  // font-feature-settings: "liga", "kern";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: $base-size;
  background: #000;
  background-color: #000;
  line-height: 1.5;
  color: #FFF;
  font-family: 'Work Sans', sans-serif;
}

pre, code {
  /* Disable ligatures on code-font, so, for example,
  </ doesn't become a diagonal arrow. */
  font-feature-settings: "liga" 0;
  font-variant-ligatures: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}
h1, .h1 {
  font-size: 2.625rem;
}
h6, .h6 {
  font-size: 1.125rem;
}
.h6 {
  font-size: 1.125rem !important;
}

p {
  line-height: 1.5;
}
a:hover {
  text-decoration: none;
}

.fs-base {
  font-size: $base-size;
}
.fs-5 {
  font-size: 1.25rem;
}
.fs-5-5 {
  font-size: 1.375rem;
}
.fs-6 {
  font-size: 1.5rem;
}
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}


.text-largest {
  font-size: 1.5rem;
  font-weight: normal;
}
.text-large {
  font-size: 1.125rem;
}
.text-small {
  font-size: 0.875rem;
}
.text-smaller {
  font-size: 0.75rem;
}
.text-smallest {
  font-size: 0.625rem;
}

/* STYLIZED LINKS */
.arrow-link:after {
  content: url(../img/icon-green-arrow.svg);
  width: 28px;
  padding-left: 7px;
  transition: all .2s ease-in-out;
  display: inline-block;
  text-decoration: none;
}
.arrow-link:hover:after {
  padding-left: 14px;
}

/* Japanese language font override ------------------------------------------ */

.lang-ja {
  h1, h2, h3, h4, h5,
  .github-edit-wrap .github-edit,
  .navbar .navbar-nav .nav-link,
  .content .children-display li a,
  .right-sidebar .level-1 a,
  .right-sidebar .separator,
  .use-case-step-num {
    font-family: 'M PLUS 1p', 'Work Sans', sans-serif;
    font-family: '851Gkktt', 'Work Sans', sans-serif;
    font-family: 'Makinas-4-Flat', 'Makinas-4-Square', 'Work Sans', sans-serif;
  }
}
