// Booton Font Family (Sans-serif)
@font-face {
  font-family: 'Booton';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../font/Booton-Thin.woff2") format('woff2'),
       url("../font/Booton-Thin.woff") format('woff');
}

@font-face {
  font-family: 'Booton';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../font/Booton-Extralight.woff2") format('woff2'),
       url("../font/Booton-Extralight.woff") format('woff');
}

@font-face {
  font-family: 'Booton';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../font/Booton-Light.woff2") format('woff2'),
       url("../font/Booton-Light.woff") format('woff');
}

@font-face {
  font-family: 'Booton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/Booton-Regular.woff2") format('woff2'),
       url("../font/Booton-Regular.woff") format('woff');
}

@font-face {
  font-family: 'Booton';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../font/Booton-Medium.woff2") format('woff2'),
       url("../font/Booton-Medium.woff") format('woff');
}

@font-face {
  font-family: 'Booton';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../font/Booton-Semibold.woff2") format('woff2'),
       url("../font/Booton-Semibold.woff") format('woff');
}

@font-face {
  font-family: 'Booton';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../font/Booton-Bold.woff2") format('woff2'),
       url("../font/Booton-Bold.woff") format('woff');
}

@font-face {
  font-family: 'Booton';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../font/Booton-Heavy.woff2") format('woff2'),
       url("../font/Booton-Heavy.woff") format('woff');
}

// Tobias Font Family (Monospace)
@font-face {
  font-family: 'Tobias';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../font/Tobias-Thin.woff2") format('woff2'),
       url("../font/Tobias-Thin.woff") format('woff');
}

@font-face {
  font-family: 'Tobias';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../font/Tobias-Light.woff2") format('woff2'),
       url("../font/Tobias-Light.woff") format('woff');
}

@font-face {
  font-family: 'Tobias';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../font/Tobias-Light.woff2") format('woff2'),
       url("../font/Tobias-Light.woff") format('woff');
}

@font-face {
  font-family: 'Tobias';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/Tobias-Regular.woff2") format('woff2'),
       url("../font/Tobias-Regular.woff") format('woff');
}

@font-face {
  font-family: 'Tobias';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../font/Tobias-Medium.woff2") format('woff2'),
       url("../font/Tobias-Medium.woff") format('woff');
}

@font-face {
  font-family: 'Tobias';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../font/Tobias-SemiBold.woff2") format('woff2'),
       url("../font/Tobias-SemiBold.woff") format('woff');
}

@font-face {
  font-family: 'Tobias';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../font/Tobias-Bold.woff2") format('woff2'),
       url("../font/Tobias-Bold.woff") format('woff');
}

@font-face {
  font-family: 'Tobias';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../font/Tobias-Heavy.woff2") format('woff2'),
       url("../font/Tobias-Heavy.woff") format('woff');
}
