/* Language selector (the one in the footer) -------------------------------- */

.language-selector {
  .nav-link {
    font-size: 16px;
  }

  .nav-link.active {
    color: $black;
    font-weight: bold;
  }
}
