body {
  position: relative; // Makes scrollspy work better
}

section {
  position: relative;
}

// Landings can be borderless full-width so bg images can touch the edges
.landing {
  padding: 0;
}

#main_content_wrapper { // Push below fixed nav
  margin-top: 80px;
}

// Square blocks ---------------------------------------------------------------

.square {
  position: relative;
  flex-basis: calc(50% - 30px); // Mobile
  margin: 15px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius-lg;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  @include media-breakpoint-up(lg) {
    flex-basis: calc(25% - 30px);
  }

  &-50 {
    flex-basis: calc(50% - 30px);
    @include media-breakpoint-down(sm) {
      flex-basis: calc(50% - 20px);
    }
  }
}

// Nav grids -------------------------------------------------------------------

.nav-grid-lg {
  display: flex;
  flex-direction: column;

  .nav-item {
    width: 100%;

    .nav-link {
      display: flex;

      span {
        flex-grow: 0;
      }

      img {
        max-height: 2rem;
      }
    }
  }

  .nav-grid-head {
    margin-top: 2.5rem;
  }

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 80px;

    .nav-grid-head {
      margin-top: 0;
    }
  }
}


.col-lg {
  padding-left: 0;
  padding-right: 0;
}

@for $i from 1 through 5 {
  .cols-of-#{$i} {
    @include media-breakpoint-up(lg) {
      grid-template-rows: repeat($i, min-content);
    }
  }
}


// Card Grid styles ------------------------------------------------------------

.card-grid {
  display: grid;
  grid-gap: 40px;
  padding: 0;
  width: 100%;

  &.card-grid-3xN {
    /* 3 equal columns and any number of auto-sized rows. */
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;

    @include media-breakpoint-down(md) {
      /* Switch to 1-column layout on smaller widths */
      grid-template-columns: 1fr;
    }
    .card-new {
      min-height: 264px;
      @include media-breakpoint-up(md) {
        min-height: 347px;
      }
    }
  }

  &.card-grid-2xN {
    /* 2 equal columns and any number of auto-sized rows. */
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 40px;

    @include media-breakpoint-down(md) {
      /* Switch to 1-column layout on smaller widths */
      grid-template-columns: 1fr;
    }
  }

  &.card-grid-1x2 {
    /* 1 left columns and right 2x the size. */
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto;

    /* No "hero" blocks expected here. */

    @include media-breakpoint-down(md) {
      /* Switch to 1-column layout on smaller widths */
      grid-template-columns: 1fr;
    }
  }

  .card {
    padding: 40px;
    border: 0;

    @include media-breakpoint-down(md) {
      padding: 20px;
    }

    .card-body {
      padding: 8px;
      padding-bottom: 24px;
    }
  }

  &.section-hero {
    padding-left: 0;
  }

}

// New Page Layouts ---------------------------------------------------------------
$columns: 12; // Number of columns in the grid system

.container-new {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 32px;
  max-width: 100%;
  z-index: 1;
  @include media-breakpoint-up(md) {
    max-width: 608px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 832px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 1280px;
  }
  // create columns
  @for $width from 1 through $columns {
    .col-new-#{$width} {
      flex-basis: $width / $columns * 100%;
    }
  }
  .margin-col {
    @include media-breakpoint-down(lg) {
      margin: 24px 0;
    }
    @include media-breakpoint-down(sm) {
      margin: 0 0 40px;
    }
    @include media-breakpoint-up(lg) {
      margin: 40px;
    }
  }
  .col-new {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    max-width: 100%;
    margin: 0 0 40px;

    @include media-breakpoint-up(md) {
      margin: 24px 0;
    }
    @include media-breakpoint-up(lg) {
      margin: 24px;
    }
    @include media-breakpoint-up(xl) {
      margin: 40px;
    }
  }

  .card-new {
    padding: 32px;
    --width: 4;
  }
  .col-new-card {
    transition: all 0.15s ease-out;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 5px 40px 0px $black;
    color: $white;
    &:hover {
      -webkit-transform: translateY(-16px);
      -moz-transform: translateY(-16px);
      -ms-transform: translateY(-16px);
      -o-transform: translateY(-16px);
      transform: translateY(-16px);
    }
  }
}

// 3-column layout for docs pages ----------------------------------------------

.xrp-ledger-dev-portal.sidebar-primary .main {
  z-index: 5;
  padding: 2rem;
  min-height: 700px;
}

.left-sidebar {
  padding: 2rem;

  @include media-breakpoint-up(lg) {
    position: sticky;
    max-height: calc(100vh - 80px);
    top: 80px;
    left: 0;
    overflow: auto;
    border: 0;
  }
}

.right-sidebar {
  padding: 2rem;
  border: 1px solid $gray-600;

  @include media-breakpoint-up(lg) {
    position: sticky;
    max-height: calc(100vh - 80px);
    top: 80px;
    right: 0;
    overflow: auto;
    border: 0;
  }
}


/* Responsive design for different viewscreens ------------------------------ */

@include media-breakpoint-down(md) {

  .right-sidebar .card {
    padding-left: 0;
  }

  #page-toc-wrapper {
    position: static;
    // display: block;
    clear: both;
    overflow-y: inherit;
    max-width: 100%;
    max-height: inherit;
    word-break: break-all;
  }
  .main {
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
  }
}
@media (max-width: 480px) {
  html {
    overflow-x: hidden !important;
  }
}
@media (max-width: 400px) {
  .navbar .navbar-brand .brand-text {
    margin-right: 0;
    letter-spacing: -0.08rem;
  }
  .navbar .navbar-brand {
    margin-right: 0;
  }
  .navbar .navbar-brand .logo {
    margin-right: 0;
    margin-left: -1rem;
  }

  .btn {
    white-space: normal;
  }
}


/* TIMELINE */
.timeline-wrapper {
    z-index: 999;
    position: relative;
}
.timeline:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 18px;
    height: 95%;
    width: 4px;
    background: linear-gradient(180deg, rgba(254, 255, 1, 1) 0%, rgba(255, 45, 154, 1) 33%, rgba(163, 8, 143, 1) 66%, rgba(44, 4, 128, 0.85) 100%);
    @include media-breakpoint-down(md) {
      left: 8px;
    }
 }

.timeline-dot {
  margin-top: 94px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: $gray-900;
  box-sizing: border-box;
}

.timeline-block:first-child .timeline-dot {
  border: 3px solid $yellow-500;
}

.timeline-block:nth-child(2) .timeline-dot {
  border: 3px solid $orange-400;
}
.timeline-block:nth-child(3) .timeline-dot {
  border: 3px solid $red-purple-600;
}
.timeline-block:nth-child(4) .timeline-dot {
  border: 3px solid $red-purple-900;
}
.timeline-block {
    display: flex;
    position: relative;
    z-index: 1;
}

.timeline-content {
  flex-grow: 1;
  position: relative;
  margin-left: 1.25em;
}

.timeline h4 {
  margin-top: -4px;
}

@include media-breakpoint-up(md) {
  .timeline:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .timeline-dot {
    -ms-flex-order: 1;
    order: 1;
    margin-left: calc(5% - 9px);
    will-change: transform;
  }
  .timeline-block:nth-child(even) {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .timeline-dot {
    margin-right: calc(5% - 9px);
  }
  .timeline-content {
     width: 45%;
    -ms-flex-positive: 0;
    flex-grow: 0;
    will-change: transform;
    margin: 0;
    --line-height-multiplier: 1.2;
  }
}
