// Font Settings ===============================================================
.marketing-wrapper {
	section {
		border-bottom: none;
	}
	.row {
		margin-right: -15px;
    margin-left: -15px;
	}
}

.va-middle {
	vertical-align: middle;
}
.text-white {
	color: $white;
}
.text-green {
	color: $primary;
}
.text-green:hover {
	color: $primary;
}
.arrow-link:after {
	content: url(../img/icon-green-arrow.svg);
	width: 28px;
  padding-left: 7px;
  transition: all .2s ease-in-out;
  display: inline-block;
  text-decoration: none;
}
.arrow-link:hover:after {
	padding-left: 14px;
}
.text-largest {
	font-size: 1.5rem;
	font-weight: normal;
}
.top-10 {
	top: 2.5rem;
}
.vh100 {
	height: 100vh;
	min-height: 100%;
}
.align-items-stretch {
	align-items: stretch;
}

#hero-impact {
	width: 100vw;
	margin-left: -64px;
}
@media only screen and (min-width: 768px) {
  #hero-impact {
		margin-top: -120px;
	}
}

/* COMPONENTS */
.border-green {
	border: 1px solid $primary;
}
.btn {
	padding: 16px 24px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.25;
}
.btn-clear {
	color: $white;
	border: 1px solid $white;
}
.btn-clear:hover {
	background: $white;
	color: #000;
}
.card-wrapper {
	width: 100%;
}
.card {
	margin: 0 0.75rem;
	background: black;
	padding: 3rem 2rem;
	color: $white;
}
.card h5 {
	height: 38px;
	padding-bottom: 5rem;
}
section {
	position: relative;
}
.section-marker {
	position: absolute;
	font-size: 0.875rem;
	transform: rotate(90deg);
	font-weight: normal;
	top: calc(50% - 4px);
	margin-left: -48px;
}

