// Font Settings ===============================================================
.marketing-wrapper {
	section {
		border-bottom: none;
	}
	.row {
		margin-right: -15px;
    margin-left: -15px;
	}
}

.va-middle {
	vertical-align: middle;
}

.arrow-link:after {
	content: url(../img/icon-green-arrow.svg);
	width: 28px;
  padding-left: 7px;
  transition: all .2s ease-in-out;
  display: inline-block;
  text-decoration: none;
}
.arrow-link:hover:after {
	padding-left: 14px;
}
.text-largest {
	font-size: 1.5rem;
	font-weight: normal;
}
.top-10 {
	top: 2.5rem;
}
.vh100 {
	height: 100vh;
	min-height: 100%;
}
.vw100 {
	width: 100vw;
	min-width: 100%;
}
.align-items-stretch {
	align-items: stretch;
}

#hero-impact {
	width: 100vw;
	// margin-left: -32px;
}
@media only screen and (min-width: 768px) {
  #hero-impact {
		margin-top: -120px;
	}
}

/* COMPONENTS */
.border-green {
	border: 1px solid $primary;
}
.btn {
	padding: 16px 24px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.25;
}
.btn-clear {
	color: $white;
	border: 1px solid $white;
}
.btn-clear:hover {
	background: $primary;
	color: $primary;
}
.card-wrapper {
	width: 100%;
}
.card-b {
	padding: 2rem;
	background: rgba(34, 37, 43, 0.5);
	backdrop-filter: blur(3px);
}

// change this to be less generic
// .card {
// 	margin: 0 0.75rem;
// 	background: black;
// 	padding: 3rem 2rem;
// 	color: $white;
// }
// .card h5 {
// 	height: 38px;
// 	padding-bottom: 5rem;
// }

.section-marker {
	position: absolute;
	font-size: 0.875rem;
	transform: rotate(90deg);
	font-weight: normal;
	top: calc(50% - 64px);
	margin-left: -32px;
	transform-origin: top left;
}


/* HOME STYLINGS */
#home-hero-marker {
	top: unset;
	bottom: 64px;
}
#home-hero-marker:after {
	position: absolute;
	content: " ➝";
	box-sizing: initial;
  animation: arrowDance 1.2s infinite;
}
#bg-home-1 {
	background-image: url(../../img/graphics/home-bg.png);
	background-repeat: no-repeat;
  background-size: 90%;
  background-position: 90px -180px;
}
@media only screen and (max-width: 992px) {
	#bg-home-1 {
		background-size: cover;
	}
}
.hc {
	background: black;
	padding: 2.25rem 2rem 7.75rem;
	color: var(--white);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100% 70px;
}
.hc h5 {
	height: 38px;
	padding-bottom: 5rem;
}
#hc-1 {
	background-image: url(../../img/graphics/hc-1.png);
	border: 1px solid #FAFF1A;
}
#hc-2 {
	background-image: url(../../img/graphics/hc-2.png);
	border: 1px solid #FF1A8B;
}
#hc-3 {
	background-image: url(../../img/graphics/hc-3.png);
	border: 1px solid #974CFF;
}
@keyframes arrowDance {
  0% { padding-left: 7px; }
  50% { padding-left: 14px; }
  100% { padding-left: 7px; }
}

//  TIMELINE 
.timeline-wrapper {
    z-index: 999;
    position: relative;
}


.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 102.5%;
    width: 4px;
    background: linear-gradient(180deg, rgba(254, 255, 1, 1) 0%, rgba(255, 45, 154, 1) 33%, rgba(163, 8, 143, 1) 66%, rgba(44, 4, 128, 0.85) 100%);
 }

.timeline-dot {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #000;
  box-sizing: border-box;
}

.timeline-block:first-child .timeline-dot {
	border: 3px solid #FAFF1A;
}

.timeline-block:nth-child(2) .timeline-dot {
	border: 3px solid #FF884B;
}
.timeline-block:nth-child(3) .timeline-dot {
	border: 3px solid #C000E6;
}


.timeline-block {
    display: flex;
    position: relative;
    z-index: 1;
    margin-bottom: 8px;
}

.timeline-content {
  flex-grow: 1;
  position: relative;
  margin-left: 1.25em;
}

.timeline h4 {
  margin-top: -4px;
}

@media (min-width: 767px) {
	.timeline:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .timeline-dot {
  	-ms-flex-order: 1;
    order: 1;
    margin-left: calc(5% - 9px);
    will-change: transform;
  }
  .timeline-block:nth-child(even) {
  	-ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .timeline-dot {
    margin-right: calc(5% - 9px);
  }
  .timeline-content {
  	 width: 45%;
    -ms-flex-positive: 0;
    flex-grow: 0;
    will-change: transform;
    margin: 0;
    --line-height-multiplier: 1.2;
  }
}


#page-impact-bg {
	background-image: url(../../img/backgrounds/bg-impact-top.png);
	background-repeat: no-repeat;
  background-position: center 250px;
  background-size: contain;
}

#page-business-bg {
	background-image: url(../../img/backgrounds/bg-business-mid.png);
	background-repeat: no-repeat;
	background-position: right 72.5%;
}
#page-business-top {
	position: absolute;
	left: 0;
}
#page-business-bot {
	position: absolute;
	left: 0;
	margin-top: -505px;
  z-index: -1;
}

#page-exchanges-bg {
	background-image: url(../../img/backgrounds/bg-exchanges-top.png);
	background-repeat: no-repeat;
	background-position: left 25%;
}
#page-exchanges-bot {
	position: absolute;
	right: 0;
	margin-top: -446px;
  z-index: -1;
}


#page-wallets-bg {
	background-image: url(../../img/backgrounds/bg-wallets-top.png);
	background-repeat: no-repeat;
	background-position: left 5%;
}
#page-wallets-bot {
	position: absolute;
	right: 0;
	margin-top: -778px;
  z-index: -1;
}

#page-contribute-bot {
	position: absolute;
	right: 0;
	margin-top: -199px;
  z-index: -1;
}

#page-overview-bg {
	background-image: url(../../img/backgrounds/bg-overview-top.png);
	background-repeat: no-repeat;
	background-position: right 0;
}