/* HOME STYLINGS */
#home-hero-marker {
  top: unset;
  bottom: 88px;
}
#home-hero-graphic {
  max-width: 100%;
  @include media-breakpoint-down(sm) {
    width: 200%;
    margin-left: -50%;
    margin-right: -50%;
    max-width: none;
  }
}
#home-hero-marker:after {
  position: absolute;
  content: " ➝";
  box-sizing: initial;
  animation: arrowDance 1.2s infinite;
}
#bg-home-1 {
  background-image: url(../../img/graphics/home-bg.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 90px -180px;
}
@include media-breakpoint-down(md) {
  #bg-home-1 {
    background-size: cover;
  }
}
.hc {
  background: black;
  padding: 2.25rem 1.875rem 7.75rem;
  color: $white;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 70px;
  @include media-breakpoint-down(md) {
    padding-left: 2rem !important;
  }
}
.hc .h2 {
  height: 38px;
  padding-bottom: 5rem;
}
#hc-1 {
  background-image: url(../../img/graphics/hc-1.png);
  border: 1px solid #FAFF1A;
}
#hc-2 {
  background-image: url(../../img/graphics/hc-2.png);
  border: 1px solid #FF1A8B;
}
#hc-3 {
  background-image: url(../../img/graphics/hc-3.png);
  border: 1px solid #974CFF;
}
@keyframes arrowDance {
  0% { padding-left: 7px; }
  50% { padding-left: 14px; }
  100% { padding-left: 7px; }
}


#hero-impact {
  width: calc(100vw - 16px);
  @include media-breakpoint-up(md) {
    margin-top: -120px;
  }
  @include media-breakpoint-down(sm) {
    width: calc(200vw);
    margin-left: -30vw;
  }
}

#page-uses-top {
  @include media-breakpoint-down(sm) {
    margin-left: -5rem;
  }
}
#page-impact-bg {
  background-image: url(../img/backgrounds/bg-impact-top.png);
  background-repeat: no-repeat;
  background-position: center 250px;
  background-size: contain;
}
#page-business-bg {
  background-image: url(../img/backgrounds/bg-business-mid.png);
  background-repeat: no-repeat;
  background-position: right 72.5%;
}
#page-business-top {
  position: absolute;
  left: 0;
}
#page-business-bot {
  position: absolute;
  left: 0;
  margin-top: -505px;
  z-index: -1;
}
#page-exchanges-bg {
  background-image: url(../img/backgrounds/bg-exchanges-top.png);
  background-repeat: no-repeat;
  background-position: left 25%;
}
#page-exchanges-bot {
  position: absolute;
  right: 0;
  margin-top: -446px;
  z-index: -1;
}

.page-wallets {
  #main_content_body {
    background: url(../img/backgrounds/bg-wallets-bot.png) bottom right no-repeat;
  }

  .fullwidth-bg {
    background: url(../img/backgrounds/bg-wallets-top.png) left 5% no-repeat;
  }
}

#page-wallets-bot {
  position: absolute;
  right: 0;
  margin-top: -778px;
  z-index: -1;
}
#page-contribute-bot {
  position: absolute;
  right: 0;
  margin-top: -256px;
  z-index: -1;
}
#page-overview-bg {
  background-image: url(../img/backgrounds/bg-overview-top.png);
  background-repeat: no-repeat;
  background-position: right 80px;
}

#page-history-bg {
  background-image: url(../img/backgrounds/bg-history-mid.png);
  background-repeat: no-repeat;
  background-position: right 60%;
}

#page-history-top {
  position: absolute;
  left: 0;
  top: 302px;
}

// .sustainability-bg {
//   background: url(../../img/green/green-graphic.png) 0 3rem no-repeat;
//   background-size: contain;
// }

.page-docs-index {
  @include media-breakpoint-up(lg) {
    background: url(../img/backgrounds/bg-docs.png) no-repeat;
    background-position-x: left;
    background-position-y: 300px;
  }
}

.green-graphic {
  @include media-breakpoint-down(xs) {
    width: 184px;
    margin-bottom: 32px;
  }
}


.page-calculator {
  .calculator-section-description {
    max-width: 458px;
  }
  /* CALCULATOR STYLING */
  .calc-inputs {
    border-radius: 8px;
  }
  #data-selector li a {
    background: #22252B;
    padding: 0.5rem 1.3rem;
    color: $white;
    white-space: nowrap;
    font-weight: normal;
  }
  #data-selector li:nth-child(2) {
    margin-left: -7px;
    margin-right: -7px;
  }
  #data-selector li.active a {
    background: $primary;
    color: $black;
  }
  .tab-content div {
    display: none;
  }
  .d-output {
    display: none;
    margin: 0 12px;
    max-width: 188px;
    width: 33%;
    @include media-breakpoint-down(md) {
      width: auto;
    }
  }
  .d-output.active {
    display: block;
    animation-fill-mode: forwards;
    animation: fadeIn 1s ease-in-out;
    @include media-breakpoint-down(md) {
      display: inline-block;
      margin-bottom: 32px;
    }
    @include media-breakpoint-down(xs) {
      display: block
    }
  }

  @include media-breakpoint-down(xs) {
    .d-output {
      display: none;
      width: auto;
      max-width: 100%;
    }
    .viz-wrapper {
      margin-right: 1rem;
      min-width: 184px;
    }
    .num-wrapper {
      h5 {
        font-size: 1.3rem;
        word-break: break-word;
      }
    }
    .d-output[data-comp="kWh"].active {
      display: inline-flex;
    }
    #data-selector li:nth-child(2) {
      margin-left: 0;
      margin-right: 0;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
    }
  }
  @include media-breakpoint-down(md) {
    #calculator-inputs-offset.offset {
      height: 404px;
      width: 100%;
    }
    #calculator-inputs-offset {
      height: 0;
      width: 100%;
    }
    .d-output {
      margin: 2rem 0;
    }
    #calculator-mobile-toggle.show {
      position: fixed;
      top: 15px;
      right: 15px;
      z-index: 9999999;
      background: $black;
    }
    #calculator-mobile-toggle.hide {
      display: none;
    }
    #calculator-inputs.sticky {
      position: fixed;
      top: 72px;
      width: calc(100% - 30px);
      left: 15px;
      right: 15px;
      background: $black;
      display: none;
    }
    #calculator-inputs.sticky.show .calc-inputs-wrapper {
      display: block;
      margin-bottom: 1.5rem;
    }
    #calculator-inputs.sticky.show {
      display: block;
    }
  }
  @include media-breakpoint-down(sm) {
    #calculator-inputs-offset.offset {
      height: 486px;
      width: 100%;
    }
  }
  @include media-breakpoint-up(xl){
    #data-selector li:first-child a {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    #data-selector li:last-child a {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
  @include media-breakpoint-down(lg) {
    #data-selector li:nth-child(2) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .viz-wrapper {
    position: relative;
    height: 204px;
    width: 184px;
    overflow: hidden;
    border-radius: 10px;
  }
  .viz-wrapper img {
    margin-left: -1px;
    margin-right: -1px;
  }
  @keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }
  .dot {
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: -1;
    top: 98px;
    left: 68px;
    transform-origin: center center;
  }
  #kWh-btc-dot {
    background-color: #FF671A;
  }
  #kWh-eth-dot {
    background-color: #4F5664;
  }
  #kWh-xrp-dot {
    background-color: $primary;
  }
  #kWh-pap-dot {
  }

  .dash {
    &.active {
      font-weight: bold;
      color: $primary;
    }
  }

  .dash:before {
    // content: url(../img/icons/dash-line.png);
    content: '|';
    font-size: 7px;
    font-weight: bold;
    color: $gray-500;
    position: absolute;
    top: -10px;
    margin-left: 13px;
  }


  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    z-index: 2;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    box-sizing: content-box;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    width: 1px; /* Set a specific slider handle width */
    height: 1px; /* Slider handle height */
    background: $primary;
    padding: 0.125rem;
    border: 8px solid $black;
    box-shadow: 0 0 0 2px $primary;
    cursor: pointer; /* Cursor on hover */
  }

  .slider::-moz-range-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    box-sizing: content-box;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    width: 1px; /* Set a specific slider handle width */
    height: 1px; /* Slider handle height */
    background: $primary;
    padding: 0.125rem;
    border: 8px solid $black;
    box-shadow: 0 0 0 2px $primary;
    cursor: pointer; /* Cursor on hover */
  }
  input[type="range"] {
    background: $primary;
    height: 3px;
  }

  /** FF*/
  input[type="range"]::-moz-range-progress {
    background-color: $primary;
  }
  input[type="range"]::-moz-range-track {
    background-color: $gray-500;
  }
  /* IE*/
  input[type="range"]::-ms-fill-lower {
    background-color: $primary;
  }
  input[type="range"]::-ms-fill-upper {
    background-color: $gray-500;
  }
}
