/* Print styles ------------------------------------------------------------- */
@media print {
    /* undo code tabs */
  .multicode > div {
    display: block !important;
  }
  .multicode > em,
  .multicode > p > em {
    display: block !important;
    page-break-after: avoid;
  }
  .multicode > p {
    display: block !important;
  }

  .code_toggler {
    display: none;
  }

  /* wrap code, not scroll */
  pre {
    white-space: pre-wrap;
    max-height: none !important;
    overflow: visible;
    page-break-inside: auto;
    word-wrap: break-word;
  }
  pre code {
    white-space: pre-wrap !important;
    color: #22252B !important;
  }
  code {
    white-space: pre-wrap !important;
    color: #22252B !important;
  }

  .codehilite .n, .codehilite .na, .codehilite .nb, .codehilite .nc, .codehilite .nd, .codehilite .ne, .codehilite .nf, .codehilite .ni, .codehilite .nl, .codehilite .nn, .codehilite .nt, .codehilite .nv, .codehilite .nx, .codehilite .bp, .codehilite .fm, .codehilite .py {
    color: #22252B;
}


  article a[title="Source"] {
    float: none;
  }
  /* Drop header, footer, sidebars */
  header,
  footer,
  aside {
    display: none !important;
  }
  .navbar {
    display: none !important;
  }
  /* Full-width content body */
  article, #main_content_body {
    position: static;
    display: block;
    width: auto;
    height: auto;
    color:black !important;
    max-width: 100%;
    overflow: visible !important;
  }

  body {  
    overflow: visible; 
    background: #fff;
  }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: black;
  }

  .interactive-block {
    display:none;
  }

  .container {
    margin-top: 1rem !important;
  }
}
