/* Status labels ("DEV" etc) for non-enabled features ----------------------- */

.status {
  cursor: help;
  padding: 1px 2px;
  font-weight: normal;
  text-indent: 0;
}
.status.not_enabled {
  /* flask icon for "not yet enabled" features */
  color: $warning;
}
.status.removed {
  /* trash icon for removed features */
  color: $danger;
}

/* "Topic by Label" browsing ------------------------------------------------ */

.labels-wrap ul::before {
  content: "\f02c";
  font-family: FontAwesome;
}

.pg-category {
  color: $gray-400;

  &::after {
    content: "\f105"; /* fontawesome angle-right */
    font-family: FontAwesome;
    padding-left: 5px;
  }
}

.tag-cloud {

  // .size-5 {
  //   font-size: 2.5rem;
  // }
  // .size-4 {
  //   font-size: 1.9rem;
  // }
  // .size-3 {
  //   font-size: 1.4rem;
  // }
  // .size-2 {
  //   font-size: 1.1rem;
  // }
  // .size-1 {
  //   font-size: 0.8rem;
  // }
}
