/* TABLE STYLING */

article table {
  clear: right;
  margin-bottom: 48px;

  code {
    word-break: normal;
    white-space: nowrap;
    overflow-wrap: normal;
  }

  th {
    border-bottom: 2px solid $gray-200;
  }
  tr {
    border-bottom: 1px solid $gray-200;
  }

  th, td {
    padding: 0.2em;
    vertical-align: text-top;
  }

  td:nth-child(1) {
    font-weight: bold;
  }
}

.landing-table {
  th, tr {
    border-bottom: 2px solid $gray-600;
  }
  td {
    width: 33.33%;
    padding: 16px 40px 16px 0;
    &:nth-child(1){
      font-weight: normal;
    }
    @include media-breakpoint-down(sm) {
      font-size: 0.875rem;
    }
  }
  tr:last-child {
    border-bottom: none;
  }
  tbody td {
    color: $gray-200;
  }
}


.dblue {
  color: $gray-600;
}
#overview-table {
  td:nth-child(1){
    width: 40%;
  }
  td:nth-child(2){
    width: 30%;
  }
  tbody td {
    padding: 2rem 0.75rem;
  }
  @include media-breakpoint-down(md) {
    font-size: 0.875rem;
    thead .h4 {
      font-size: 1.125rem;
    }
  }
}
