/* TABLE STYLING */

.content table {
  clear: right;
  margin-bottom: 48px;
}

.content table code {
  word-break: normal;
  white-space: nowrap;
}

th {
  border-bottom: 2px solid $gray-200;
}
tr {
  border-bottom: 1px solid $gray-200;
}

th, td {
  padding: 0.2em;
  vertical-align: text-top;
  padding: 12px;
}

td:nth-child(1) {
  font-weight: bold;
}


// Tables on mobile
@include media-breakpoint-down(md) {
  
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }
    
  tr:nth-child(odd) {
    background: #151515;
  }
  
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    // padding-left: 25%;
  }

  td:before {
    position: absolute;
    /* Top/left values mimic padding */
    top: 12px;
    left: 6px;
    width: 25%;
    padding-right: 10px;
    white-space: nowrap;
  }

  // display headers inline. 
  #table_accounts + table {

    td {
      padding-left: 25%;
    }

    td:nth-of-type(1):before { content: "Address"; }
		td:nth-of-type(2):before { content: "Name"; }
		td:nth-of-type(3):before { content: "Meaning"; }
		td:nth-of-type(4):before { content: "Black Hole?"; }
  }
  #table_ledgers + table {
    td {
      padding-left: 25%;
    }
    td:nth-of-type(1):before { content: "Ledger Type:"; }
		td:nth-of-type(2):before { content: "Open"; }
		td:nth-of-type(3):before { content: "Closed"; }
		td:nth-of-type(4):before { content: "Validated"; }
  }




}



.dblue {
  color: #656E81;
}
#overview-table {
  td:nth-child(1){
    width: 40%;
  }
  td:nth-child(2){
    width: 30%;
  }
  tbody td {
    padding: 2rem 0.75rem;
  }
  @include media-breakpoint-down(md) {
    font-size: 0.875rem;
    thead .h4 {
      font-size: 1.125rem;
    }
  }
}

#calculator-table {
  width: 100%;
  thead {
    border-bottom: 3px solid $white;
  }
  td {
    padding: 0.25rem 0.5rem;
    line-height: 1;
    @include media-breakpoint-down(sm) {
      font-size: $base-size;
    }
  }
  tbody td {
    padding: 2rem 0.5rem;
  }
  tbody tr {
    border-bottom: 1px solid $white;
  }
  td:first-child{
    width: 40%;
  }
  .ratio {
    font-size: .075rem;
    color: #656E81;
  }
  @include media-breakpoint-down(md) {
    .ratio {
      display: block;
    }
    table {
      font-size: 0.875rem;
    }
    table .fs-5-5 {
      font-size: 1rem !important;
    }
    table .fs-6 {
      font-size: 1.125rem;
    }
    table td:first-child {
      width: auto;
    }
  }
}
