/* Top navigation ----------------------------------------------------------- */

.navbar .navbar-nav .nav-link {
  color: $white;
}

.dropdown-toggle::after {
  border-width: 0;
  position: absolute;
  top: 80%;
  left: 50%;
}

.dropdown-toggle.with-caret::after {
  position: relative;
  top: 4px;
  left: 0;
  border-top: 8px solid $primary;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 0;
  transition: 0.2s;
}

.dropdown.show .dropdown-toggle.with-caret::after {
  // border-top: 0;
  // border-right: 5px solid transparent;
  // border-left: 5px solid transparent;
  // border-bottom: 8px solid $primary;
  transform: scaleY(-1);
}

.dropdown.show .dropdown-toggle {
  color: $gray-500;
  position: relative;
}

.dropdown.show .dropdown-toggle:not(.with-caret)::after,
.dropdown-toggle:not(.with-caret):hover::after {
  content: " ";
  display: static;
  border: 3px solid $primary;
  border-radius: 50%;
  font-size: 0;
  height: 0;
  width: 0;
}



.navbar .dropdown-menu {
  backdrop-filter: blur(8px);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  min-width: 250px;

  .dropdown-item {
    line-height: 262%;
    border-bottom: 2px solid $black;

    &:last-child {
      border-bottom: 0;
    }

    &.active, &:hover {
      font-weight: bold;
    }
  }
}

.navbar-brand {
  text-decoration: none;
  white-space: pre;
  -webkit-transition: opacity 200ms ease, color 200ms ease;
  transition: opacity 200ms ease, color 200ms ease;
}
.navbar-brand:hover {
  opacity: 0.5;
}

.navbar .navbar-nav .nav-link {
  font-size: 1rem;
  line-height: 52px;
  text-decoration: none;
}

.navbar .navbar-nav .nav-link:hover {
  background-color: transparent;
  box-shadow: inset 0 -1px 0 0 #000;
  text-decoration: none;
}

.navbar .navbar-nav .active a {
  font-weight: 700;
  box-shadow: inset 0 -1px 0 0 #000;
}
.navbar .active-parent a {
  font-weight: 700;
  box-shadow: inset 0 -1px 0 0 #000;
}

#navbar-search {
  @media(min-width: 992px) {
    position: static; // allows search bar to be positioned screen-center
    .dropdown-toggle {
      position: relative;
    }

    .dropdown-menu {
      padding: 0;
      border-radius: 8px;
      width: 640px;
      left: calc(50% - 320px);
    }

    .input-group {
      width: 100%;
    }

    #topsearchbox,
    .input-group-text,
    .input-group > .input-group-append > .btn {
      color: $white;
      background-color: transparent;
      border-width: 0;
    }
    #topsearchbox {
      line-height: 24px;
      height: 100%;
      width: 100%;
    }

    .input-group > .input-group-append > .btn {
      border-left: 1px solid black;
    }
    .algolia-autocomplete {
      flex-grow: 1;
    }
  }


  .algolia-autocomplete .ds-dropdown-menu [class^="ds-dataset-"] {
    background-color: rgba(0,0,0,0.9);
    border: 1px solid $gray-900;
    border-radius: 8px;
  }
  .algolia-autocomplete .ds-dropdown-menu::before {
    background-color: rgba(0,0,0,0.9);
    border-color: $gray-900;
  }
  .algolia-docsearch-suggestion {
    background-color: rgba(0,0,0,0.9);
  }
  .algolia-autocomplete .algolia-docsearch-suggestion--category-header {
    color: $white;
    border: 0 solid $secondary;
    border-bottom-width: 1px;
    font-weight: bold;
  }

  .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
    color: $white;
  }

  .algolia-autocomplete .algolia-docsearch-suggestion--title {
    color: $white;
  }

  .algolia-autocomplete .algolia-docsearch-suggestion--text {
    font-size: 0.8rem;
    color: $gray-200;
  }

  .algolia-autocomplete .algolia-docsearch-suggestion--highlight {
    color: $white;
    background-color: $green-800;
  }
}

/* Top navigation Mobile ----------------------------------------------------------- */
@media (max-width: 991px) {

  .navbar .navbar-nav .nav-link {
    height: 48px;
  }
  .github-edit-wrap {
    margin: 20px 10px 20px 0;
  }

  .navbar-collapse {
    background-color: white;
    position: absolute;
    top: 200px;
    right: 0;
    overflow: scroll;
    width: 260px;
    max-height: 60vh;
    margin-right: 24px;
    margin-bottom: 108px;
    padding: 24px;
    -webkit-box-flex: 1;
    z-index: 10;

    transform: translateX(1000px);
    transition-duration: 1s;
  }

  .navbar-collapse.show {
    transform: translateX(0px);
    transition-duration: 0.5s;
  }

  .menu-overlay.active {
    transform: translateX(0px);
    transition-duration: 0.5s;
  }

  .menu-overlay {
    background-color: black;
    bottom: 0;
    left: 0;
    opacity: 0.88;
    filter: alpha(opacity=80);
    /* IE7 & 8 */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
    transform: translateX(1000px);
    transition-duration: 0.5s;
  }

}


#navbarHolder .language-selector {
  font-size: 0.875rem;
}
