/* "pencil banner" style, currently unused */
.top-banner {
  height: 46px;
  background: url(../img/backgrounds/bg-apex-banner.svg);
  background-position: left;
  background-size: cover;
  background-color: $blue-purple-500;
  // padding: 2px 0;
  color: $white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;

  .btn {
    margin-left: 4px;
    font-size: 12px;
    color: $white;
    padding: 2px 4px;
    border: 1px solid $white;
    border-radius: 2px;

    @include media-breakpoint-up(md) {
      margin-top: 9px;
      margin-left: 16px;
      font-size: 16px;
      padding: 4px 8px;
      border: 1.5px solid $white;
      border-radius: 4px;
    }
  }

  .btn-outline-secondary {
    &:not(:disabled):not(.disabled):hover {
      color: $gray-900;
      background-color: $white;
    }
  }

  p {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin: auto;

    @include media-breakpoint-up(md) {
      padding-top: 11px;
      font-size: 16px;
      width: initial;
      line-height: 24px;
    }
  }
}

$banner-top-offset: 108px;

.floating-nav {
  top: $banner-top-offset;
}

.main h1:before,
.main h2:before,
.main h3:before,
.main h4:before,
.main h5:before,
.main h6:before,
#main_content_wrapper:before,
.interactive-block:before {
  margin-top: -$banner-top-offset;
  height: $banner-top-offset;
}

.content h1:first-child:before {
  margin-top: -$banner-top-offset;
}

html.light {
  .top-banner {
    .btn-outline-secondary {
      color: $white;
      border-color: $white;
      &:not(:disabled):not(.disabled):hover {
        color: $gray-900;
        background-color: $white;
        border-color: $white;
      }
    }
  }
}
