.web-banner {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  color: $white;
  background: var(--XRPL-Secondary-Blue-Purple, #7919FF);
  padding: 7px 70px;
  z-index: 9999;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    background: var(--XRPL-Blue-Purple-700, #4A00B2);
    .button-icon {
      animation: iconJitter 0.7s ease forwards;
    }
  }
  @media (max-width: 991px) {
    padding: 0 20px;
  }

  .banner-content {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: flex-start;
    flex-wrap: nowrap;

    @media (max-width: 524px) {
      gap: 8px;
    }

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }

  .event-info {
    color: #fff;
    font: 500 18px/1 Work Sans, -apple-system, Roboto, Helvetica, sans-serif;
    align-self: stretch;
    margin: auto 0;

    @media (max-width: 524px) {
      font-size: 12px;
    }
  }

  .ticket-button {
    border: 1px solid var(--XRPL-Primary-White, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 3141.892px;
    background: inherit;
    color: #FFF;
    text-align: center;
    letter-spacing: -0.16px;
    padding: 8px 16px;
    font: 600 18px/1 Work Sans Apex, -apple-system, Roboto, Helvetica, sans-serif;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    transform-origin: center;
    transition: background-color 0.3s ease, color 0.3s ease;

    @media (max-width: 524px) {
      font: 600 12px/1 Work Sans Apex, -apple-system, Roboto, Helvetica, sans-serif;
      width: 117px;
      height: 27px;
      padding: 6px 12px;
    }
  }

  .button-text {
    align-self: stretch;
    margin: auto 0;
    font-size: 16px;
    @media (max-width: 524px) {
      font-size: 12px;
    }
  }

  .button-icon {
    aspect-ratio: 0.71;
    object-fit: contain;
    width: 13.8px;

    @media (max-width: 524px) {
      width: 10px;
    }

    align-self: stretch;
    margin: auto 0;
    transform-style: preserve-3d;
  }

  @keyframes iconJitter {
    0% {
      transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(22deg) skew(0deg, 0deg);
    }

    40% {
      transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(55deg) skew(0deg, 0deg);
    }

    70% {
      transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(40deg) skew(0deg, 0deg);
    }

    100% {
      transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
    }
  }

}

.web-banner a {
  text-decoration: none;
  background-color: var(--XRPL-Secondary-Blue-Purple, #7919FF);
}
// to avoid a focus outline causing the background to turn white
.web-banner:focus, .web-banner:active {
  background-color: var(--XRPL-Secondary-Blue-Purple, #7919FF) !important;
}