/* sticky APEX banner */
@keyframes pulsate {
}

.banner-container,
html.light .banner-container {
  display: flex;
  width: 100%;
  position: relative;
  background-color: $accent-blue-90;
  color: $white;
  overflow: hidden;

  height: 36px;

  @include media-breakpoint-up(lg) {
    height: 48px;
  }

  & > img {
    height: 36px;

    @include media-breakpoint-up(lg) {
      height: 3rem;
    }
  }

  & > div {
    line-height: 36px;
    font-family: Work Sans;
    font-weight: 600;
    font-size: 3vw;

    @include media-breakpoint-up(lg) {
      font-size: 22px;
      line-height: 3rem;
    }
  }

  .d-xxl-block {
    // nonstandard-breakpoint for this banner only
    @media (min-width: 1400px) {
      display: block !important;
    }
  }

  .apex-reg {
    text-align: center;

    @include media-breakpoint-up(md) {
      padding: 0 1rem;
    }
  }
  .apex-highlight {
    color: $apex-2023-green;
  }

  .apex-circled {
    padding: 0 1rem;
    text-transform: uppercase;
    white-space: nowrap;
    transition: border-color 0.5s ease;

    // sm breakpoint
    border: 2px solid $white;
    height: 36px;
    line-height: 32px;
    border-radius: 32px;
    font-size: 2vw;

    @include media-breakpoint-up(lg) {
      border-width: 3px;
      height: 48px;
      line-height: 42px; // height minus 2 borders
      border-radius: 40px;
      font-size: 16px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 19px;
    }
  }

  &:hover {
    text-decoration: none;
    color: $white;

    .apex-highlight {
      color: $apex-2023-green;
    }

    .highlight-yellow {
      border-color: $yellow;
    }

    .highlight-purple {
      border-color: $magenta;
    }
  }
  &:active,
  &:focus {
    background-color: $accent-blue-90 !important;
    color: $white;
  }
}
.token-banner-container,
html.light .token-banner-container {
  display: flex;
  width: 100%;
  position: relative;
  background-color: $accent-blue-90;
  color: $white;
  height: 48px;

  @include media-breakpoint-up(lg) {
    height: 60px;
  }

  & > img {
    height: 36px;

    @include media-breakpoint-up(lg) {
    }
  }

  & > div {
    font-family: Work Sans;
    font-weight: 600;

    @include media-breakpoint-up(lg) {
      font-size: 22px;
    }
  }

  .d-xxl-block {
    @media (min-width: 1400px) {
      display: block !important;
    }
  }

  .token-reg {
    text-align: center;
    line-height: 3rem;
    @include media-breakpoint-up(md) {
      padding: 0 1rem;
    }
  }

  .token-highlight {
    color: $apex-2023-green;
    @include media-breakpoint-up(sm) {
      line-height: 3rem;
    }
  }

  .token-circled {
    padding: 0 1rem;
    text-transform: uppercase;
    white-space: nowrap;
    transition: border-color 0.5s ease;

    // sm breakpoint
    border: 2px solid $white;
    height: 36px;
    line-height: 32px;
    border-radius: 32px;
    font-size: 2vw;
    margin-top: 2px;

    @include media-breakpoint-up(lg) {
      border-width: 3px;
      height: 48px;
      border-radius: 40px;
      font-size: 16px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 22px;
    }
  }

  &:hover {
    text-decoration: none;
    color: $white;

    .token-highlight {
      color: $apex-2023-green; /* Adjust as needed */
    }

    .highlight-yellow {
      border-color: $yellow;
    }

    .highlight-purple {
      border-color: $magenta;
    }
  }

  &:active,
  &:focus {
    background-color: $accent-blue-90 !important;
    color: $white;
  }

  .js-clock .box {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
  }
}

/* old "pencil banner" style, currently unused */
.top-banner {
  height: 46px;
  background: url(../img/backgrounds/bg-apex-banner.svg);
  background-position: left;
  background-size: cover;
  background-color: $blue-purple-500;
  // padding: 2px 0;
  color: $white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;

  .btn {
    margin-left: 4px;
    font-size: 12px;
    color: $white;
    padding: 2px 4px;
    border: 1px solid $white;
    border-radius: 2px;

    @include media-breakpoint-up(md) {
      margin-top: 9px;
      margin-left: 16px;
      font-size: 16px;
      padding: 4px 8px;
      border: 1.5px solid $white;
      border-radius: 4px;
    }
  }

  .btn-outline-secondary {
    &:not(:disabled):not(.disabled):hover {
      color: $gray-900;
      background-color: $white;
    }
  }

  p {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin: auto;

    @include media-breakpoint-up(md) {
      padding-top: 11px;
      font-size: 16px;
      width: initial;
      line-height: 24px;
    }
  }
}

.top-nav {
  position: sticky;
  width: 100%;
}

.right-sidebar,
.left-sidebar {
  @include media-breakpoint-up(lg) {
    top: 100px;
  }
}

$banner-top-offset: 146px;

.floating-nav {
  top: $banner-top-offset;
}

.main h1:before,
.main h2:before,
.main h3:before,
.main h4:before,
.main h5:before,
.main h6:before,
#main_content_wrapper:before,
.interactive-block:before {
  margin-top: -$banner-top-offset;
  height: $banner-top-offset;
}

.content h1:first-child:before {
  margin-top: -$banner-top-offset;
}

#main_content_wrapper {
  margin-top: 53px;
}

html.light {
  .top-banner {
    .btn-outline-secondary {
      color: $white;
      border-color: $white;
      &:not(:disabled):not(.disabled):hover {
        color: $gray-900;
        background-color: $white;
        border-color: $white;
      }
    }
  }
}

.clock-number {
  font-variant-numeric: tabular-nums;
}
.js-clock .box {
  display: inline-block;
  margin-right: 10px;
}
.js-clock .box:last-child {
  margin-right: 0;
}

