/* Top navigation ----------------------------------------------------------- */
.top-nav {
  background-color: $gray-900;
  height: 80px;
  padding: 0;

  // Logo
  .navbar-brand {
    text-decoration: none;
    white-space: pre;
    -webkit-transition: opacity 200ms ease, color 200ms ease;
    transition: opacity 200ms ease, color 200ms ease;


    .logo {
      margin-left: 0;
    }

    &:hover {
      opacity: 0.75;
    }

    @include media-breakpoint-down(md) {
      padding-left: 2rem;

      img {
        width: 120px;
      }
    }
  }

  // Main Links ----------------------------------------------------------------
  .navbar-nav {
    @include media-breakpoint-up(lg) {
      flex-grow: 1;
    }
    .nav-link {
      color: $gray-100;
      font-size: 1rem;
      line-height: 1.25rem;
      text-decoration: none;
      font-weight: 600;

      @include media-breakpoint-up(lg) {
        padding: .5rem 2rem;
      }
    }
    // Buttons in top nav
    .btn-outline-secondary {
      font-size: 14px;
      line-height: 125%;
      margin-top: 1rem;
    }
    @include media-breakpoint-down(md) {
      .wrap-button {
        padding: 1.5rem 0;

        .btn {
          display: inline;
          padding: 1rem 1.25rem;
        }
      }
    }
  }


  // Dropdowns -----------------------------------------------------------------
  // (Mobile first)
  .dropdown-toggle {
    position: relative;
  }
  .dropdown.show {
    .dropdown-toggle {
      color: $gray-500;
    }
  }
  .dropdown-menu {
    border-width: 0;

    h5 {
      font-weight: 400;
      font-size: 12px;
      color: $gray-400;
      margin-bottom: 0;
    }

    .dropdown-hero {
      width: 100%;
      display: flex;

      > img {
        width: 68px;
        height: 68px;
        background-color: $gray-800;
        border-radius: $border-radius-sm;
        flex-grow: 0;
        padding: .75rem;
        margin-right: 2rem;
      }

      p {
        font-size: 14px;
        color: $gray-300;
        margin: 0;
        white-space: normal;
      }

      &:hover {
        h4 {
          color: $blue-purple-400;
        }
        p {
          font-weight: 400;
        }
      }
    }
  }
  // Desktop version
  @include media-breakpoint-up(lg) {
    padding: 0 3rem;

    .navbar-brand {
      margin-left: 0;
    }

    .dropdown-toggle {
      &::after {
        display: none;
      }
      > span {
        border-bottom: 2px solid transparent;
      }

      // Disabled: non-animated caret style
      // &.with-caret::after {
      //   display: inline;
      //   content:"\f107";
      //   font-family: FontAwesome;
      //   margin-left: 0.5rem;
      //   border-width: 0 0 0 0;
      //   color: $blue-purple-400;
      //   vertical-align: bottom;
      // }
    }

    .dropdown .dropdown-toggle:hover > span:not(.chevron) {
      padding-bottom: 8px;
      border-bottom: 2px solid $blue-purple-400;
      margin-bottom: -8px;
    }

    .dropdown-menu {
      border-radius: 0 0 $border-radius-lg $border-radius-lg;
      padding: 2.5rem;

      &.show {
        display: grid;
        gap: 40px;

        &#topnav_dd_xrp-ledger-overviewhtml {
          grid-template-columns: 180px 180px 180px;
        }

        &#topnav_dd_docshtml {
          grid-template-columns: 180px 180px 260px;
          left: -200px;
        }

        &#topnav_dd_contributehtml {
          grid-template-columns: 200px;
        }

        .dropdown-hero {
          grid-row: 1;
          grid-column: 1 / 4;
        }
        #dropdown-hero-for-documentation {
          grid-column: 1 / 3;
        }

        // "About" dropdown placement
        .col-for-xrp-ledger {
          grid-row: 1 / 3;
          grid-column: 1;
        }
        .col-for-xrp {
          grid-column: 2;
        }
        .col-for-sustainability {
          grid-column: 2;
        }
        .col-for-about {
          grid-row: 1;
          grid-column: 3;
        }

        // "Docs" dropdown placement
        .col-for-article-types {
          grid-column: 1;
          grid-row: 2;
        }
        .col-for-online-tools {
          grid-column: 1;
          grid-row: 3;
        }
        .col-for-get-started {
          grid-column: 2;
          grid-row: 2 / 4;
        }
        .col-for-popular-pages {
          grid-column: 3;
          grid-row: 1 / 3;
          background-color: $gray-800;
          margin: -40px -40px -40px 0;
          padding: 40px;
        }
        .col-for-questions {
          grid-column: 3;
          grid-row: 3;
          background-color: $gray-800;
          margin:  0 -40px -40px 0px;
          padding: 0  40px  40px  40px;
        }
      }

      &.smaller-dropdown {
        min-width: unset;
      }

      .dropdown-item {
        line-height: 1rem;
        padding: .75rem 0;
        white-space: normal;

        &.dropdown-hero {
          padding: 0;
        }

        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }

      h5:hover {
        background-color: inherit;
      }

      a:hover {
        color: $blue-purple-400;
        font-weight: 700; // TODO: confirm weight for semibold
        background-color: inherit;
      }
    }

    #topnav-pages {
      flex-grow: 0;
    }

    #topnav-language {
      flex-grow: 0;

      #language_selector_header_btn {
        padding-right: 0;
      }
    }

    @include media-breakpoint-up(xl) {
      #topnav-search {
        margin-left: 3.75rem;
        margin-right: 1.25rem;
      }
    }
    @media (min-width: 992px) and (max-width: 1020px) {
      // Fix for top nav overflow in this range
      .navbar-nav .nav-link {
        padding: .5rem 1.6rem;
      }
    }
  }

  // Search bar & controls -----------------------------------------------------
  #topnav-search {
    flex-grow: 1;
    .input-group {
      flex-grow: 1;
    }

    .input-group-text {
      border-width: 0;
      color: $white;
      background-color: $gray-800;
      border-radius: $border-radius-sm 0 0 $border-radius-sm;
      height: 40px;
      padding: .5rem .5rem .5rem 1rem;
      line-height: 1.5;
    }
    .algolia-autocomplete {
      flex-grow: 1;
    }

    #topsearchbox {
      background-color: $gray-800;
      border-radius: 0 $border-radius-sm $border-radius-sm 0;
      padding: .75rem 1rem .75rem .5rem;
      height: 40px;
      width: 100%;
      border: 1px solid $gray-800;

      &:focus {
        box-shadow: none;
        border-color: $white;
      }
    }

    // Algolia Search results --------------------------------------------------
    .algolia-autocomplete .ds-dropdown-menu [class^="ds-dataset-"] {
      background-color: rgba(0,0,0,0.9);
      border: 1px solid $gray-900;
      border-radius: $border-radius-lg;
    }
    .algolia-autocomplete .ds-dropdown-menu::before {
      background-color: rgba(0,0,0,0.9);
      border-color: $gray-900;
    }
    .algolia-docsearch-suggestion {
      background-color: rgba(0,0,0,0.9);
    }
    .algolia-autocomplete .algolia-docsearch-suggestion--category-header {
      color: $white;
      border: 0 solid $secondary;
      border-bottom-width: 1px;
      font-weight: bold;
    }

    .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
      color: $white;
    }

    .algolia-autocomplete .algolia-docsearch-suggestion--title {
      color: $white;
    }

    .algolia-autocomplete .algolia-docsearch-suggestion--text {
      font-size: 0.8rem;
      color: $gray-200;
    }

    .algolia-autocomplete .algolia-docsearch-suggestion--highlight {
      color: $white;
      background-color: $green-800;
    }

    @include media-breakpoint-down(md) {
      .algolia-autocomplete .ds-dropdown-menu {
        min-width: unset;
      }
    }
  }

  // Mobile --------------------------------------------------------------------
  @include media-breakpoint-down(md) {
    .navbar-brand {
      padding-left: 15px;
    }
    .navbar-toggler {
      border: 0;

      .navbar-toggler-icon {
        background: none;

        &::after,
        &::before,
        div {
          content: " ";
          background-color: $gray-100;
          display: block;
          height: 3px;
          transition: all .3s ease-in-out;
        }
        &::before {
          margin-bottom: 7px;
        }
        &::after {
          margin-top: 7px;
        }
      }

      &:not(.collapsed) {
        .navbar-toggler-icon {
          &::before {
            transform: translateY(14px) rotate(135deg);
          }
          &::after {
            transform: translateY(-6px) rotate(-135deg);
          }
          div {
            transform: scale(0);
          }
        }
      }
    }

    .navbar-nav .nav-link,
    .navbar-collapse > .nav-item {
      line-height: 150%;
      background: $gray-900;
      padding: 1rem 2rem;
    }

  }

  // Language toggle -----------------------------------------------------------
  .language-selector {
    font-size: 0.875rem;
  }
}


// Fix so anchors don't jump under the fixed header ----------------------------
.main h1:before,
.main h2:before,
.main h3:before,
.main h4:before,
.main h5:before,
.main h6:before,
#main_content_wrapper:before,
.interactive-block:before {
  display: block;
  content: " ";
  margin-top: -80px;
  height: 80px;
  visibility: hidden;
}

// Animated chevron (e.g. for language dropdown) -------------------------------

.chevron {
  position: relative;
  display: inline-block;
  width: .75rem;
  height: .5625rem;

  span {
    position: absolute;
    top: .25rem;
    display: inline-block;
    width: .5rem;
    height: .15rem;
    background-color: $blue-purple-400;
    transition: all .2s ease;
    border: none;

    &:first-of-type {
      left: 0;
      transform: rotate(45deg);
    }
    &:last-of-type {
      right: 0;
      transform: rotate(-45deg);
    }
  }

  &.active {
    span:first-of-type {
      transform: rotate(-45deg);
    }
    span:first-of-type {
      transform: rotate(45deg);
    }
  }
}

.dropdown.show .chevron {
  span:first-of-type {
    transform: rotate(-45deg);
  }
  span:last-of-type {
    transform: rotate(45deg);
  }
}
