/* Tutorials ---------------------------------------------------------------- */
@mixin card-footer-color ($offset){
  .card:nth-child(9n + #{$offset}) .card-footer {
    background-image: url(../img/cards/3col-magenta-orange.svg);
  }
  .card:nth-child(9n + #{$offset} + 1) .card-footer {
    background-image: url(../img/cards/3col-green-blue.svg);
  }
  .card:nth-child(9n + #{$offset} + 2) .card-footer {
    background-image: url(../img/cards/3-col-pink.svg);
  }
  .card:nth-child(9n + #{$offset} + 3) .card-footer {
    background-image: url(../img/cards/3-col-light-blue.svg);
  }
  .card:nth-child(9n + #{$offset} + 4) .card-footer {
    background-image: url(../img/cards/3-col-pink.svg);
  }
  .card:nth-child(9n + #{$offset} + 5) .card-footer {
    background-image: url(../img/cards/3col-magenta-orange.svg);
  }
  .card:nth-child(9n + #{$offset} + 6) .card-footer {
    background-image: url(../img/cards/3-col-purple-blue.svg);
  }
  .card:nth-child(9n + #{$offset} + 7) .card-footer {
    background-image: url(../img/cards/3col-light-green.svg);
  }
  .card:nth-child(9n + #{$offset} + 8) .card-footer {
    background-image: url(../img/cards/3-col-dark-blue.svg);
  }
}
.tutorial-content {
  #beginner-cards {
    @include card-footer-color(0);
  }

  #sdk-cards {
    @include card-footer-color(2);
  }

  #use-cases-cards {
    @include card-footer-color(4);
  }

  #servers-cards {
    @include card-footer-color(6);
  }

  #businesses-cards {
    @include card-footer-color(8);
  }
}

.tutorial-card-grid {
  grid-gap: 40px !important;
  row-gap: 0 !important;
  &.card-grid {
    .card {
      margin-bottom: 2.5rem;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      padding: 0;
      min-height: 0;

      .card-body {
        padding: 32px;
      }

      .card-title {
        margin-bottom: 16px;
        margin-top: 0;

        &.external-link::after {
          background-size: 0.9rem;
          vertical-align: middle;
          margin-left: 12px;
          margin-bottom: 12px;
          margin-right: 10px;
          width: 1.5rem;
        }

        &.nav-link {
          padding: 0;
        }
      }

      .card-footer {
        font-size: 0;
        padding: 1rem;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        border-top: 0;
      }
    }

    a {
      text-decoration: none;
    }

    code {
      color: $green-600;
      background-color: $green-1000;
      border-radius: 4px;
      padding-left: 4px;
      padding-right: 4px;
    }

    .card-icon-container {
      width: 50px;
      height: 50px;
      background: $gray-600;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-bottom: 12px;

      img {
        width: 70%;
        height: 70%;
      }
    }
  }
}

.col-lg-6 > .tutorial-sidebar {
  flex: 0 0 70%;
  max-width: 70%;
}

@mixin sidebar-bullet {
  content: "\2022";
  color: $blue-purple-500;
  font-weight: bold;
  display: inline-block;
  margin-right: 16px;
  z-index: 1;
  font-size: 20px;
}

.tutorial-sidebar {
  .nav-link {
    display: inline-block;
  }
  .nav-link:hover {
    border: none;
    padding-left: 0;
  }
  .nav-link:hover::before {
    @include sidebar-bullet;
    margin-left: -4px;
  }
  .active::before {
    @include sidebar-bullet;
    margin-left: -5px;
  }
  .active {
    padding-left: 0;
  }
}