button.MarkpromptFloatingTrigger {
  bottom: 4.5rem;
}

html.light .MarkpromptContentDialog a {
  color: $light-link-hover-color;
}

html.light .MarkpromptContentDialog h3:not(.chip) {
  color: $black;
}

.MarkpromptOverlay {
  z-index: 20;
}

[data-theme="dark"]:root {
  --markprompt-primary: #7919ff;
  --markprompt-primary-button: #b480ff;
  --markprompt-secondary-button: #9a52ff;
  --markprompt-feedback-box-background: #232325;
  --markprompt-button-text: #f5f5f7;
  --markprompt-feedback-label-text: #e0e0e1;
  --markprompt-reference-border-color: #838386;
  --markprompt-extended-feedback-text: #111112;
  --markprompt-overlay: #0000001;
  --markprompt-background: #232325;
  --markprompt-foreground: #d4d4d4;
  --markprompt-muted: #171717;
  --markprompt-mutedForeground: #737373;
  --markprompt-border: #262626;
  --markprompt-input: #fff;
  --markprompt-primaryForeground: #fff;
  --markprompt-primaryMuted: #8285f4;
  --markprompt-secondary: #0e0e0e;
  --markprompt-secondaryForeground: #fff;
  --markprompt-primaryHighlight: #ec4899;
  --markprompt-secondaryHighlight: #a855f7;
  --markprompt-overlay: #00000040;
  --markprompt-tab-border-bottom: #454549;
}

.MarkpromptPromptFeedback button[data-active="true"] {
  background-color: transparent;
}

.MarkpromptTabsList {
  flex-shrink: 0;
  display: flex;
  justify-content: left;
  gap: 1rem;
  padding: 0.5rem 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--markprompt-tab-border-bottom);
}

.MarkpromptTab {
  &[data-state="active"] {
    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--markprompt-primary-button);
    color: var(--markprompt-input);
  }
}

.MarkpromptPromptFeedback {
  &[data-variant="text"],
  &[data-variant="icons"] {
    padding: 0.75rem 2rem 2rem;
  }

  &[data-variant="icons"] {
    align-self: last baseline;
  }
}

label.MarkpromptExtendedFeedbackLabel {
  display: flex;
  align-items: center;
  gap: 8px;
}

.MarkpromptFeedbackButtons {
  button[data-active="true"] {
    svg {
      color: #32e685;
      fill: #145c35;
      stroke: #32e685;
      stroke-width: 1.5px;
    }
  }
}

.MarkpromptExtendedFeedbackTextInput {
  margin-bottom: 0.5rem;
  width: 100%;
  height: 5.625rem;
  border-radius: 0.25rem;
  padding: 0.75rem;
  font-size: 0.875rem;
  color: var(--markprompt-extended-feedback-text);
  line-height: 1.3125rem;

  &[data-active="true"] {
    border-color: var(--markprompt-primary);
  }
}

.MarkpromptAutoScroller {
  padding-bottom: 0;
}

.MarkpromptAnswerContainer {
  &[data-loading-state="indeterminate"] {
    display: none;
  }
}

.MarkpromptReferences {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  overflow: hidden;
  flex: 0 0 auto;
  transition-property: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  &[data-loading-state="indeterminate"] {
    display: none;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0.5rem;
    margin-top: -0.25rem;
    list-style-type: none;
    margin-bottom: 0;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  a {
    display: inline-block;
    text-decoration: none;
    padding: 0.125rem 0.5rem;
    color: var(--markprompt-secondary-button);
    font-weight: 500;
    transition-property: opacity;
    transition-duration: 200ms;
    white-space: nowrap;
    border-radius: 1.25rem;
    border: 1px var(--markprompt-reference-border-color) solid;
  }
}

.example-light-icon {
  display: none;
}

// extended
.MarkpromptExtendedFeedback {
  padding: 1.5rem;
  background-color: var(--markprompt-background);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.MarkpromptExtendedFeedbackRadioCustom {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.125rem solid var(--markprompt-primary);
  position: relative;
  display: inline-block;
}

.MarkpromptExtendedFeedbackRadio {
  display: none;
}

.MarkpromptExtendedFeedbackRadio:checked
  + .MarkpromptExtendedFeedbackRadioCustom::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--markprompt-primary);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MarkpromptAddtionalFeedbackButton {
  color: var(--markprompt-primary);
}

.MarkpromptExtendedFeedbackLabelText {
  color: var(--markprompt-feedback-label-text);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.313rem;
}

.MarkpromptAdditionalFeedbackButtons {
  display: flex;
  gap: 1rem;
}

.MarkpromptAdditionalFeedbackButtons:hover {
  background-color: inherit;
}

.MarkpromptSubmitAdditionalFeedbackButton,
.MarkpromptCancelAdditionalFeedbackButton {
  height: 100%;
  padding: 0.375rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.MarkpromptSubmitAdditionalFeedbackButton {
  background: var(--markprompt-primary);
  color: var(--markprompt-button-text);
}

.MarkpromptCancelAdditionalFeedbackButton {
  color: var(--markprompt-primary);
  background: transparent;
  border: none;
}

.MarkpromptExampleContainer {
  padding: 1rem;
  margin: 0.5rem 1rem 0;
  background: var(--markprompt-extended-feedback-text);
  border-radius: 0.25rem;
  flex-direction: column;
  gap: 0.75rem;
  display: inline-flex;

  .header {
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    display: inline-flex;
  }

  .icon-container {
    width: 1.75rem;
    height: 1.75rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .icon {
    width: 1.75rem;
    height: 1.75rem;
    position: relative;
  }

  .icon-layer {
    width: 1.75rem;
    height: 1.75rem;
    left: 0;
    top: 0;
    position: absolute;
    background: var(--markprompt-overlay);
  }

  .title {
    color: var(--markprompt-button-text);
    font-size: 1rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    line-height: 1.5rem;
    word-wrap: break-word;
  }

  .example {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: inline-flex;
  }

  .text {
    color: var(--markprompt-feedback-label-text);
    font-size: 0.875rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    line-height: 1.313rem;
    word-wrap: break-word;
  }
}

.MarkpromptExtendedFeedbackRadioCustom {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.125rem solid var(--markprompt-primary);
  position: relative;
  display: inline-block;
}

.MarkpromptPrimaryIcon {
  display: none;
}

.MarkpromptSearchIcon {
  display: none;
}

.MarkpromptContentDialog {
  z-index: 1999;
}

@media (min-width: 767px) {
  .MarkpromptClose {
    content: "";
    display: none;
  }
}

@media (max-width: 767px) {
  .MarkpromptClose {
    content: "";
    font-size: 0;
    background-color: transparent;
    border: none;
    kbd {
      padding: 0;
    }
  }
  .MarkpromptClose::before {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: url(../img/icons/close.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
  }

  .MarkpromptContentDialog {
    max-height: 100vh;
    height: 100vh;
  }

  .MarkpromptTabsList {
    justify-content: center;
  }
}

.MarkpromptForm {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  padding: 0 1rem 0 1rem;
  border-bottom: none;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.MarkpromptContentDialog {
  background-color: var(--markprompt-background);
  width: 100%;
}

.MarkpromptAnswer {
  background-color: var(--markprompt-extended-feedback-text);
  margin: 0 1rem;
}

.MarkpromptPromptView .MarkpromptReferences ul {
  background-color: var(--markprompt-extended-feedback-text);
}

.MarkpromptReferences {
  background-color: var(--markprompt-extended-feedback-text);
  margin: 0 1rem;
  margin: 0 1rem;
}

.MarkpromptPromptFeedback {
  background-color: var(--markprompt-extended-feedback-text);
  margin: 0 1rem !important;
}

.MarkpromptPromptFeedback[data-variant="icons"] {
  margin: 0;
}

.MarkpromptBaseIcon {
  display: none;
}

.MarkpromptPromptLabel {
  display: none;
}

.MarkpromptPrompt[type="search"] {
  background-image: url(../img/icons/search.png);
  background-repeat: no-repeat;
  background-position: 0.625rem center;
  background-size: 1.25rem 1.25rem;
  padding-left: 2.1875rem;
}

.MarkpromptPrompt[type="text"] {
  margin-top: 1rem;
}

.MarkpromptPrompt {
  background-color: var(--markprompt-extended-feedback-text);
  height: 2.5rem;
  &[type="search"]::before {
    background-image: url(../img/icons/search.png);
  }
}

button.MarkpromptTab[id="radix-P0-0-trigger-prompt"]::after {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-left: 0.5rem;
  background-image: url(../img/icons/new.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: middle;
}

.MarkpromptPromptFeedback button[data-active="true"]:hover {
  background-color: transparent;
}

.MarkpromptDisclaimer {
  color: var(--markprompt-reference-border-color);
  align-items: unset;
  margin-left: 1rem;
  svg {
    display: none;
  }
  p {
    font-size: 0.75rem;
  }
}

html.light:root {
  --markprompt-primary: #7919ff;
  --markprompt-secondary-button: #9a52ff;
  --markprompt-feedback-box-background: #232325;
  --markprompt-button-text: #111112;
  --markprompt-feedback-label-text: #111112;
  --markprompt-reference-border-color: #838386;
  --markprompt-extended-feedback-text: #f5f5f7;
  --markprompt-overlay: #0000001;
  --markprompt-background: #ffffff;
  --markprompt-foreground: #838386;
  --markprompt-feedback-textbox-background: #e0e0e1;
  --markprompt-muted: #171717;
  --markprompt-mutedForeground: #838386;
  --markprompt-border: #262626;
  --markprompt-input: #111112;
  --markprompt-primaryForeground: #fff;
  --markprompt-primaryMuted: #8285f4;
  --markprompt-secondary: #0e0e0e;
  --markprompt-secondaryForeground: #fff;
  --markprompt-primaryHighlight: #ec4899;
  --markprompt-secondaryHighlight: #a855f7;
  --markprompt-overlay: #00000040;
  --markprompt-tab-border-bottom: #454549;
}

html.light .MarkpromptAnswer {
  color: var(--markprompt-input);
}

html.light .MarkpromptReferences::before {
  background-image: none;
}
html.light .MarkpromptReferences::after {
  background-image: none;
}

html.light .MarkpromptExtendedFeedback {
  background-color: var(--markprompt-feedback-textbox-background);
}

html.light button.MarkpromptTab[id="radix-P0-0-trigger-prompt"]::after {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-left: 0.5rem;
  background-image: url(../img/icons/new-light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: middle;
}

html.light .example-icon {
  background-image: url(../img/icons/lightmode/example.png);
  background-size: cover;
  background-repeat: no-repeat;
}

html.light .MarkpromptFeedbackButtons button[data-active="true"] svg {
  fill: #84f0b6;
}

html.light .MarkpromptSubmitAdditionalFeedbackButton:hover {
  background-color: var(--markprompt-primary);
}

html.light .MarkpromptCancelAdditionalFeedbackButton:hover {
  background-color: var(--markprompt-feedback-textbox-background);
}

html.light .MarkpromptCancelAdditionalFeedbackButton {
  border: none;
}

html.light .MarkpromptExtendedFeedbackTextInput {
  color: var(--markprompt-reference-border-color);
}

html.light .MarkpromptSubmitAdditionalFeedbackButton {
  color: var(--markprompt-extended-feedback-text);
}

html.light .MarkpromptGhostThumbButton:hover {
  background-color: inherit;
}

html.light .MarkpromptSearchResultHeading {
  background-color: var(--markprompt-primaryForeground);
}

html.light .MarkpromptSearchResultIconWrapperBordered {
  background-color: var(--markprompt-primaryForeground);
}

html.light .MarkpromptMatch[aria-selected="true"] {
  border-color: var(--markprompt-primaryForeground) !important;
  color: var(--markprompt-primary-button) !important;
}

html.light [aria-selected="true"] .MarkpromptSearchResultSubtitle {
  color: var(--markprompt-mutedForeground) !important;
}

html.light [aria-selected="true"] .MarkpromptSearchResultIcon {
  color: var(--markprompt-mutedForeground) !important;
}

#searchButton {
  margin-top: 1rem;
}
