button.MarkpromptFloatingTrigger {
  bottom: 4.5rem;
  border-radius: $border-radius-sm;
  right: 16px;
  border: 1px solid transparent;
  color: var(--markprompt-primaryForeground);
  background-color: var(--markprompt-primary);

  @include media-breakpoint-up(lg) {
    right: 32px;
  }
}

html.light .MarkpromptContentDialog a {
  color: $light-link-hover-color;
}

html.light .MarkpromptContentDialog h3:not(.chip) {
  color: $black;
}

.MarkpromptExtendedFeedbackTextInput {
  background-color: $white;
  color: $black;
}

.MarkpromptOverlay {
  z-index: 20;
}
