// Bootstrap-derived SASS. See README.md in this folder for instructions.

// Set theme colors used by Bootstrap styles
$white:    #FFF;
$gray-100: #F9F7F7;
$gray-200: #EBE8E7;
$gray-300: #D3D0CF;
$gray-400: #B3B0AF;
$gray-500: #8D8A89;
$gray-600: #676463;
$gray-700: #464443;
$gray-800: #2E2D2C;
$gray-900: #201F1E;
$black:    #1B1818;

$primary:       #25A768; // Green
$secondary:     $gray-600;
$light:         $gray-200;
$dark:          $black;
$success:       #2BCB96; // light green
$info:          #7699bb; // bluish
$warning:       #D0DB60; // yellowish -- "caution" callout style
$danger:        #AA4949; // wine red -- "warning" callout style

$code-color:    $gray-800;
$body-color:    $black;
$navbar-light-color: $gray-600;


$navbar-padding-y: 0;
$navbar-nav-link-padding-x: 1rem;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// @import "_font-face.scss";
$font-family-monospace: 'Work Sans', monospace;
$font-family-sans-serif: -apple-system, system-ui, 'Roboto', sans-serif;

// Bootstrap v4
@import "node_modules/bootstrap/scss/bootstrap.scss";

// Import site styles
@import "_font.scss";
@import "_layout.scss";
@import "_side-nav.scss";
@import "_buttons.scss";
@import "_use-cases.scss";
@import "_github-edit.scss";
@import "_code-tabs.scss";
@import "_top-nav.scss";
@import "_content.scss";
@import "_external-links.scss";
@import "_footer.scss";
@import "_callouts.scss";
@import "_breadcrumbs.scss";
@import "_landings.scss";
@import "_interactive-tutorials.scss";
@import "_status-labels.scss";
@import "_lang-selector.scss";
@import "_dev-tools.scss";
@import "_print.scss";
@import "_marketing.scss";

