@font-face {
  font-family: "rippleicons";
  src: url("../font/icons-69f2993ae31bde255c4a342228474e94.eot");
  src: url("../font/icons-69f2993ae31bde255c4a342228474e94.eot?#iefix") format("embedded-opentype"), url("../font/icons-69f2993ae31bde255c4a342228474e94.woff") format("woff"), url("../font/icons-69f2993ae31bde255c4a342228474e94.ttf") format("truetype"), url("../font/icons-69f2993ae31bde255c4a342228474e94.svg?#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "rippleicons";
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-ripple-logo:before {
  font-family: "rippleicons";
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}
.icon-ripple-logo:before {
  content: "\e001";
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  color: #898788;
  font-family: 'Open Sans', sans-serif;
}
body .content-root {
  background-color: #f3f6fb;
  -webkit-box-shadow: inset 780px 0 #ffffff, inset 781px 0 #dfe2e7, inset 790px 0 5px -10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 780px 0 #ffffff, inset 781px 0 #dfe2e7, inset 790px 0 5px -10px rgba(0, 0, 0, 0.1);
}
body:not(.no-literate) .content-root {
  background: #4a4a4c;
}
body:not(.no-literate) .content > pre,
body:not(.no-literate) .content > blockquote {
  color: #fff;
}
body:not(.no-literate) .content {
  width: 100%;
  overflow-x: hidden;
  padding-top: 10px;
  /**********************       CODE      *****************/
  /**********************       CODE      *****************/
}
body:not(.no-literate) .content > h1,
body:not(.no-literate) .content > h2,
body:not(.no-literate) .content > h3 {
  color: #474648;
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
}
body:not(.no-literate) .content h1,
body:not(.no-literate) .content h2,
body:not(.no-literate) .content .big-heading,
body:not(.no-literate) .content h3 {
  padding-top: 20px;
  padding-bottom: 10px;
}
body:not(.no-literate) .content h1:before,
body:not(.no-literate) .content h2:before,
body:not(.no-literate) .content .big-heading:before,
body:not(.no-literate) .content h3:before {
  display: none;
}
body:not(.no-literate) .content h1 {
  font-size: 25px;
}
body:not(.no-literate) .content h2 {
  font-size: 20px;
}
body:not(.no-literate) .content h3 {
  font-size: 17px;
}
body:not(.no-literate) .content pre {
  display: block;
  position: relative;
  float: left;
  width: 40%;
  width: -moz-calc(100% - 550px);
  width: -webkit-calc(100% - 550px);
  width: -o-calc(100% - 550px);
  width: calc(100% - 550px);
  overflow-x: auto;
}
body:not(.no-literate) .content pre:after {
  content: ".";
  display: block;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
body:not(.no-literate) .content ul + pre {
  width: -moz-calc(100% - 570px);
  width: -webkit-calc(100% - 570px);
  width: -o-calc(100% - 570px);
  width: calc(100% - 570px);
}
body:not(.no-literate) .content li pre {
  padding-left: 112%;
  overflow: inherit;
}
a {
  color: #517ab8;
}
.menubar .section {
  padding-top: 10px;
}
.menu a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
.menu a.level-1 {
  color: #474648;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
}
.menu a.level-2 {
  padding-left: 25px;
  color: #466db2;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
}
.menu a.level-2.active {
  color: #517ab8 !important;
}
.menu a.level-3 {
  padding-left: 50px;
  color: #7A7979;
}
.menu a.level-3:before {
  content: "- ";
}
.menu a.active {
  border: solid 1px #CED3E1 !important;
  background: rgba(206, 211, 225, 0.5);
}
.menu a.active:after {
  display: none;
}
.menu a.active:hover {
  color: #517ab8 !important;
}
.menu li.level-2 a {
  border: solid 1px transparent;
}
.menu li.level-2 a:hover,
.menu li.level-2 a:active {
  border: solid 1px #CED3E1;
  background: rgba(206, 211, 225, 0.5);
}
.header {
  background: #5d89ae;
  padding-top: 0;
  padding-bottom: 0;
  height: 56px;
  position: relative;
  -webkit-box-shadow: inset 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
}
.header h1 {
  border: 0;
  margin-top: -3px;
  color: #fff;
  font-size: 30px;
  line-height: 56px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}
.header h1 i {
  display: inline-block;
  margin-top: -2px;
  margin: 0 5px;
  font-size: 24px;
  line-height: 56px;
  vertical-align: top;
}
.header h1 + ul {
  margin-left: 30px;
  border: 0;
}
.header h1 + ul li {
  display: inline-block;
  border: 0;
}
.header h1 + ul li a {
  border: 0;
  display: inline-block;
  line-height: 56px;
  padding: 0 20px;
  color: #fff;
  font-size: 13px;
  text-shadow: none;
}
.header h1 + ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.header h1 + ul li.active a,
.header h1 + ul li:hover a {
  background: rgba(255, 255, 255, 0.1);
}
@media (max-width: 1180px) {
  body:not(.no-literate) .body .content-root {
    background: #fff;
    box-shadow: none;
    width: 100%;
  }
  body:not(.no-literate) .content pre {
    width: 100%;
    overflow-x: auto;
    float: none;
  }
  body:not(.no-literate) .content pre code {
    padding-left: 0;
  }
  body:not(.no-literate) .content li pre {
    width: 100%;
    padding-left: 0;
  }
  body:not(.no-literate) .content ul + pre {
    width: 100%;
  }
  .content {
    width: 100%;
    max-width: 100%;
    background: #fff;
  }
  .content pre {
    width: 100%;
    padding-left: 0;
  }
}
